.analysis .cont_txt{ width: 69%;}
.analysis .cont_num{ width: 15%;}
.analysis .more_cont{ background-color: #fff;border: 1px solid #e6e6e6;margin: 15px 0;padding: 10px 0;}
.analysis_item .cont_text{ margin-bottom: 15px; padding-left: 90px; background: url(../img/home_sections.jpg) no-repeat -35px -940px scroll transparent;}
.analysis_item .cont_text h1{ font-size: 26px;}
.analysis_item .cont_text time{ font-size: 15px; color: #9f9f9f;}
.analysis_item .drpdwn_cont{ float: none; display: inline-block; margin-top: 5px; margin-right: 6%;}
.analysis_item .drpdwn_cont > span{ text-transform: uppercase;}

.legend_container{padding: 20px 0;}
.legend_container .cont_num{width: 11%; margin-right: 2%; }
.legend_container .cont_num small{ background-color: #ccc; color: #fff; text-transform: uppercase; display: block; border-radius: 4px; padding: 2px 5px; white-space: nowrap}
.cont_num.lgnd_blue span{color: #0066cc;}
.cont_num.lgnd_blue small{background-color: #0066cc;}
.cont_num.lgnd_red span{color: #cc0000;}
.cont_num.lgnd_red small{background-color: #cc0000;}
.cont_num.lgnd_lemon span{color: #bbb514;}
.cont_num.lgnd_lemon small{background-color: #bbb514;}
.cont_num.lgnd_green span{color: #05b61a;}
.cont_num.lgnd_green small{background-color: #05b61a;}
.cont_num.lgnd_purple span{color: #9000cc;}
.cont_num.lgnd_purple small{background-color: #9000cc;}
.cont_num.lgnd_orange span{color: #ff9c00;}
.cont_num.lgnd_orange small{background-color: #ff9c00;}
.cont_num.lgnd_pink span{color: #cc0095;}
.cont_num.lgnd_pink small{background-color: #cc0095;}


.dropdown-menu li label{ font-weight: 400; font-size: 12px; display: inline-block;}
.dropdown-menu li.rng{ padding: 0 10px;}
.dropdown-menu li input[type='text']{ display: inline-block; width: auto; padding: 1px 3px; margin-bottom: 5px;}
.chart_container{ padding: 70px 20px;}