/*Create content*/
.crt_cntnt .top_bar{ background-color: #fff;}
.form_cont{ padding: 20px; width: 60%;}
.form_cont label{ display: inline-block; width: 35%; text-align: right; padding: 10px; font-weight: 400; color: #666666;}
.form_cont .form-control{display: inline-block; width: 60%; padding: 10px; height: auto}
.form_cont .small_width{width: 12%; text-align: left;}
.form_cont .form_row{ margin: 12px;}
.upld_btn,.upld_btn:hover{ background: #fff url(../img/type_icons.png) no-repeat -9px -254px scroll ; color: #666666; position: absolute;top: -70px;z-index: 99; padding: 2px 7px 2px 20px; font-size: 11px;}
.percent_one_info .upld_btn{ left: 25px;}
.percent_two_info .upld_btn{ right: 25px;}
.voting_container{ padding-top: 20px;}
.arg .form_row input[type='button']{ margin: 0;}

/*create debate*/
.cover_img_container img{ width: 100%;}
.cover_img_container{ position: relative;}
.cover_img_container:after{opacity:.5;position:absolute; bottom:0; width:100%; content:''; height:170px;background: url("../img/black_gradient.png") repeat-x scroll 0 bottom transparent;}
.cover_img_container img{ width: 100%;}
.cover_img_container:hover .change_cover{ opacity:.9;}
.change_cover, .change_cover:visited{box-shadow: 0 2px 3px rgba(0,0,0,.2); padding: 7px 10px; position: absolute; top:70px; right: 70px; border-radius: 3px; opacity:0; color: #252628;
                                     -moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
                                     background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );}
.cover_img_container .change_cover:hover{ color: #000; opacity: 1;}
.Add_cover{ display:block;width: 65px; height: 45px; opacity:.5; text-indent: -9999px; overflow: hidden; position: absolute; bottom: 160px; left: 45px; z-index: 55; background: url("../img/LRG_icon.png") no-repeat scroll center bottom transparent;
            -moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.Add_cover:hover{ opacity: .7;}
.story_container{ background-color: #eaeaea; min-height: 875px;}
.story_container.crt_cntnt.arg{ background-color: #f4f4f4;}
.story_content_body{ margin: 10px 23px 0;background-color: #f5f6f8; position: relative; z-index: 1; min-height: 788px;}
.story_content_lPanel{ background-color: #f9fafc; padding: 10px 10px 100px; min-height: 520px; position: relative;}
.story_title_info{ border-bottom: solid 1px #e1e1e1; padding-bottom: 5px; position: relative;}
.story_title_info .item_title a, .story_title_info .item_title span{ font-size: 28px; font-weight: 300;}
.story_title_info .img_circl{ width: 35px; height: 35px;}
.story_title_info .user_unit{ display: inline-block;}
.story_title_info .user_unit .User_info{ margin-top: 5px;}
.story_title_info .follow_btn{ display: inline-block; font-size: 13px; padding: 0 7px; text-indent: 15px; background-position: 1px -269px;}
input.dbt_question{ width:100%; margin-bottom:15px;background-color: #f0f3f8; color: #808080; font-size: 27px; font-weight: 300; padding: 4px 2px 5px; border-color: #f0f3f8;}
input.dbt_question:hover{ background-color: #e6ebf2;}
input.dbt_question:focus{ background-color: #fff;}
.newDebate .debate_percentage_bar{ margin: 20px 20px 10px;}
.newDebate .story_title_info{ margin-bottom: 40px;}
.newDebate .count_down .form_row{ margin:7px 0; text-align: left;  clear: both;}
.newDebate .count_down .form_row label{  display: inline-block; width: 145px; padding-right:10px; text-align: right; font-weight: 300; white-space: nowrap;}
.newDebate .count_down .form_row label.ar{ width: 180px;  }
.newDebate .count_down .form_row select{  display: inline-block; padding:5px; width: 130px; font-weight: 300; border-radius: 4px; border: solid 1px #dadada;}
.newDebate .count_down .form_row select:hover{ border-color: #c0c0c0;}
.newDebate .count_down .form_row input[type="button"]{ float: right; width: 110px; margin-left: 148px; }
.newDebate .votes_one_num, .newDebate .votes_two_num{ width: 48%; padding: 0 7%;}
.percent_one, .percent_two{ background-color:#d9dbde;top:-14px; overflow:hidden;width:50px; height: 50px; border-radius: 50px; position: absolute; z-index: 40; text-align: center; font-size: 30px; font-weight: 300;
                            -moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;}
.percent_one img, .percent_two img{ vertical-align: middle; width: 100%;}
.percent_one{ left: -16px; background-position: -1px -1px; color: #195899;}
.percent_one.voted{left: -18px; top:-16px;width: 55px; height: 55px; border-width: 2px; cursor: default;}
.percent_one.voted:hover{left: -18px; top:-16px;width: 55px; height: 55px;}
.percent_two{ color: #8a0a0b; right: -16px;}
.percent_two.voted{ top:-16px;right: -18px; width: 55px; height: 55px;border-width: 2px; cursor: default;}
.percent_two.voted:hover{right: -18px; top:-16px; width: 55px; height: 55px;}
.percent_one img, .percent_two img,.percent_one:hover img,.percent_two:hover img{cursor: default; opacity: 0.4}

.debateDetails .cons_percentbar span,.debateDetails .pros_percentbar span{ line-height: 17px; top: -45px;}
.debateDetails .cons_percentbar.orange .percent{ color: #ff7800;}
.debateDetails .cons_percentbar.orange .cons_percent{ background-color: #ff7800;}
.debateDetails .pros_cons_percentbars .percent{ line-height: 40px;}
.debateDetails .user_action > span{ text-align: center; padding-top: 5px;}
.debateDetails .percent_one, .debateDetails .percent_two{ width: 55px; height: 55px; top: -16px;}
.debateDetails .percent_one:hover, .debateDetails .percent_two:hover{ width: 60px; height: 60px; top: -19px;}

.votes_one,.votes_two{ font-size: 24px; font-weight:bold;}
.votes_one{ color:#195899;}
.votes_two{color: #8a0a0b;}
.userVotes_num{ display: block; font-size: 13px;}
.voting_numbers{ margin: 10px 0;}
.voting_numbers .userName{ color: #0f82b6;}
.votes_one_num,.votes_two_num, .votes_up_num, .votes_down_num{ display: inline-block; padding: 0 5px;}
.votes_one_num{ border-right: solid 1px #c0c0c0; text-align: right;}
.votes_two_num{ text-align: left;}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #195899;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}


.debateDetails .story_title_info h1{ display: inline-block;}
.debateDetails .story_title_info{ border: none;}
.debateDetails .debate_percentage_bar{ margin:15px;}
.percentage_bar.debate{ min-height: 70px;}
.debate_percentage_bar .percent_one_info, .debate_percentage_bar .percent_two_info{ position: absolute; top: 45px;}
.debate_percentage_bar .percent_one_info{left:-15px;}
.debate_percentage_bar .percent_two_info{right:-15px;}
.percentage_bar_container .User_info .userName{font-size: 18px;font-weight: 300; padding:2px 0; border-radius: 2px; background-color: #ecf0f6; width: 50%; margin-top: 2px;}
.percentage_bar_container .User_info .follow_btn{background-position: 1px -269px;display: inline-block;font-size: 13px;padding: 0 7px;text-indent: 15px;}
.percentage_bar_container .percent_two_info .User_info{ text-align: right;}
.percentage_bar_container .percent_two_info .userName{float: right; margin-left: 10px; margin-right: 0;}
.debate_explanation{ margin: 35px 0 10px;}
.debate_explanation .left_explain, .debate_explanation .right_explain{background-color: #ecf0f6; position: relative; padding: 10px; border-radius: 3px; margin-top: 21px; width: 48.5%; min-height: 130px;}
.debate_explanation .left_explain{ float: left; text-align: left;}
.debate_explanation .right_explain{ float: right; text-align: right;}
.debate_explanation .left_explain:before, .debate_explanation .right_explain:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#ecf0f6;}
.debate_explanation .left_explain:before{ left: 10px;}
.debate_explanation .right_explain:before{ right: 10px;}


/* voting percentage bar*/
.percentage_bar{ position: absolute; width: 100%; position: relative;}
.percentage_bar.comparison{ margin: 25px 0;}
.vote_up, .vote_down{top:-4px; text-indent: -9999px; overflow: hidden; width:32px; height: 32px; border: solid 1px transparent; border-radius: 50px; position: absolute; z-index: 40;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 #fff;
                     -moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;}
.vote_up{ border-color: #1a801a; left: -16px; background-position: -1px -1px;}
.vote_up:hover{width: 36px; height: 36px; left: -18px; top:-6px;background-position: 1px 1px;}
.vote_up.voted{width: 32px; height: 32px; left: -16px; top:-4px;background-position: -1px -112px; background-color: #1a801a; cursor: default;}
.vote_up.voted:hover{left: -16px; top:-4px;width: 32px; height: 32px;background-position: -1px -112px;;}
.vote_down{ border-color: #8a0a0b; right: -16px;background-position: -1px -54px;}
.vote_down.voted{ background-position: -1px -165px; background-color: #8a0a0b; cursor: default; }
.vote_down.voted:hover{right: -16px; top:-4px;width: 32px; height: 32px;background-position: -1px -165px;}
.vote_down:hover{right: -18px;width: 36px; height: 36px;top:-6px;background-position: 1px -52px;}
.vote_up { background-position:-1px -222px;width:32px; height: 32px;left: -16px;top:-4px; cursor: default;}
.vote_down { background-position:-1px -275px;width:32px; height: 32px;right: -16px;top:-4px;cursor: default;}
.percent_indecator{ height: 24px; width: 100;}
.percentage_indecator > a > span{ margin: 0 2px 0 10px; color: #fff;}
.percentage_indecator > a > b{ margin: 0 10px 0 2px;}
.up_percent, .down_percent{ padding:0 7px;display: inline-block; height: 24px; color: #fff; font-size:14px; float: left; text-shadow: none; opacity: .9; }
.up_percent{ width: 30%; background-color:#195899; text-align: right; box-shadow: -1px 0 0 rgba(0,0,0,.8) inset; border-radius: 15px 0 0 15px; }
.down_percent{ width: 70%; background-color:#8a0a0b; text-align: left;  box-shadow: 1px 0 0 rgba(0,0,0,.8) inset;border-radius: 0 15px 15px 0;}
.percentage_bar .percent_one{color:#195899;width: 50px; height: 50px; left: -16px; top: -14px; }
.percentage_bar .percent_two{ border:none;width: 50px; height: 50px; right: -16px; top: -14px; }
.debate_explanation .right_explain{ text-align: center;}
.debate_explanation .right_explain span{ padding: 30px 30px 0; display: block; color: #6E6F6F; font-size: 16px;}
.debate_explanation .left_explain .explanation,.debate_explanation .right_explain .explanation{ background-color: transparent; border: none; text-indent: 0; width: 100%;resize: none; padding: 3px 0; height: 100px;}


/*new Comparison*/
.comparison_items{ margin-bottom: 30px;}
.comparison_items li{ border-right: solid 1px #dbdbdb; min-height: 400px; height: 100%; position: relative; float: left;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.comparison_items li:last-child{ border: none;}

.story_content_body.new_comparison{ position: absolute; top: 20px; width: 95%; margin-top: 0;}
.story_title_info{ border-bottom: none; margin-bottom: 10px;}
.story_title_info .item_title{ display: inline-block;}
input.cmprsn_question{ width:100%; margin-bottom:5px;background-color: #f0f3f8; color: #808080; font-size: 27px; font-weight: 300; padding: 4px 2px 5px; border-color: #f0f3f8; border-radius: 0;}
input.cmprsn_question:hover{ background-color: #e6ebf2;}
input.cmprsn_question:focus{ background-color: #fff;}
.tooltip_container{position: absolute; right: 0; margin-right: -220px; margin-top: -7px; width: 450px; height: 0; z-index: 99;}
.new_comparison .story_content_lPanel{ padding: 10px 10px 100px; }
.new_comparison .comparison_items li{ width: 20%; background-color:#e5ebf3; height: auto; min-height:0; text-align: center; border: none; box-shadow: 0 0 0 1px #F9FAFC inset; transition: none; height: 370px;}
.new_comparison .comparison_items li.with-no-image{ height: 230px; }
.new_comparison .comparison_items li:hover{background-color: #dae2ed;}
.new_comparison .comparison_items li .Add_cover{ margin: 30px auto; position: relative; left: 0; top: 0; bottom: auto; background-color: #f5f7fa; padding: 50px; border-radius: 50%;background-position: center center;}
.new_comparison .comparison_items li .add_title input{ border: none; border-radius: 0px;  padding: 5px 0; text-indent: 0; font-size: 16px; color: #000; font-weight: 300; text-align: center; margin-top: 10px;}
.new_comparison .comparison_items li .add_title.with-no-image{ margin-top: 50px; }

.new_comparison .comparison_items li .Add_another_photo{ padding: 230px 0 40px 0; display: block; background: #eff2f8 url(../img/Upload_icon.png) no-repeat center -32px scroll;box-shadow: 0 0 0 1px #F9FAFC inset; font-size: 24px; font-weight: 300;color: #0098dc; opacity: .8; height: 370px;}

.new_comparison .comparison_items li .Add_another_photo.with-no-image{ height: 230px; background-position: center -79px;padding-top: 156px; }

input[type="file"] {
font-size: 11px;
margin-left: 12px;
}
.new_comparison .comparison_items li .Add_another_photo:hover{ opacity: 1;}
.new_comparison .form_row{ margin:7px 20px;clear: both;}
.new_comparison .form_row label{  display: inline-block; width: 145px; padding-right:10px; text-align: right; font-weight: 300; white-space: nowrap;}
.new_comparison .form_row select{  display: inline-block; padding:5px; width: 150px; font-weight: 300; border-radius: 4px; border: solid 1px #dadada;}
.new_comparison .form_row select:hover{ border-color: #c0c0c0;}
.new_comparison .form_row input[type="button"]{ width: 90px; margin: 10px 0;}


#gnrtd_code{ font-size: 12px; color: #2d2d2d; font-family: 'courier new'; margin: 0;line-height: normal; direction: ltr;}
.modal-footer{ margin: 0; border: none;}
.modal-body{ padding: 1%;}
.fade.in{ background-color:rgba(107, 107, 107, 0.9);}
.modal-content{box-shadow: 0 5px 15px rgba(0, 0, 0, 0.01); border: none;}
.modal-footer .alert-success{ font-size: 16px; display: inline-block; padding: 5px 30px; font-weight: 700;}
.main-form { min-height: 875px;  }
.info-box {
    width: 90%;
    margin: auto;
    color: #217088;
    background-color: #bee7f1;
    border-radius: 3px;
}


.comp-desc {
    margin-top: 10px;
}

.comp-desc textarea {
    resize: none;
}

.border-none {
    border: none;
}

.non-curved {
    border-radius: 0;
}


.form-horizontal .form-group {
    margin: 20px 0px;
}

#arg-form .form-group {
    margin: 15px 0px;
}
