/*dashboard*/
.story_container.dshbrd{ background-color: #fafafa;}
.settings_cont{ display: inline-block; float: right;}
.blc .blc_title{ background-color: #5bb767; color: #fff; padding:15px;border-radius: 7px 7px 0 0; font-size: 18px; margin: 0;}
.blc .blc_content{ background-color: #fff;padding: 5px 10px 10px; border-radius: 0 0 7px 7px;}
.blc .ul_vert > li{ border-bottom: solid 1px #eaebeb; padding:10px 5px;}
.blc .item_typs li{background: url("../img/type_icons.png") no-repeat scroll 0 0 transparent; padding-left: 50px;}
.blc  li:last-child{border: none;}
.blc .item_typs .arg_item{ background-position: 0 15px}
.blc .item_typs .cmprsn_item{ background-position: 0 -75px}
.blc .item_typs .dbt_item{ background-position: 0 -165px}
.blc .cont_txt{ width: 79%; display: inline-block; vertical-align: top}
.blc .cont_txt a{display:block; font-size: 18px;}
.blc .cont_txt time,.blc .cont_num small{font-size: 12px; color: #9f9f9f;}
.blc .cont_num{ width: 20%; display: inline-block; vertical-align: top; text-align: right;}
.blc .cont_num span{ display:block; font-size: 20px; font-weight: 700; color: #6a6a6a;}
.blc .cont_num small{text-transform: uppercase;}
.blc .num_stat .cont_num{ width: 100%;}
.blc .num_stat .cont_num span{font-size: 33px; font-weight: 600;}
.blc .num_stat .cont_num small{font-size: 19px}


.comment_unit{ position: relative;}
.create_buttons a{ display: block; border-radius: 7px;overflow: hidden; font-size: 19px; margin: 10px 0;vertical-align: middle;background-color: #fff;}
.create_buttons a:hover{ background-color: #f5f5f5; }
.create_buttons a span{display: inline-block;padding: 32px; vertical-align: middle; margin-right: 10px;background: url("../img/menu_icons.png") no-repeat scroll 0 0 #5bb767;}
.create_buttons a.crt_dbt span{ background-position:12px -454px;}
.create_buttons a.crt_dbt:hover span{ background-position:12px -536px;}
.create_buttons a.crt_cmprsn span{ background-position: 12px -623px;}
.create_buttons a.crt_cmprsn:hover span{ background-position: 12px -704px;}
.create_buttons a.crt_argmnt span{ background-position:11px -789px;}
.create_buttons a.crt_argmnt:hover span{ background-position:11px -874px;}


/*Dashboard Settings popup*/
.settings_cont{ margin: 0 10px;}
.settings_cont > a{ display: block;  padding: 15px 20px 15px 45px; color: #666666; font-size: 18px; font-weight: 400;background: url("../img/icons.png") no-repeat scroll 10px -258px transparent; border-radius:7px 7px 0 0;}
.settings_cont > a:hover, .settings_cont.active > a{  background-color: #fff;background-color: #fff;position: relative;z-index: 200;}
.settings_cont .popup_container{  background-color: #fff; padding: 20px; width: 320%; min-height: 300px; border-radius: 7px 0 7px 7px;}

.form_cont { padding: 5%;}
.form_cont .input-group-addon{ background: url("../img/icons.png") no-repeat scroll 0 0 #EEEEEE; padding: 18px;}
.form_cont .email_ico{background-position: 5px 4px;}
.form_cont .password_ico{background-position:5px -45px;}
.form_cont .name_ico{background-position:5px -95px;}
.form_cont .url_ico{background-position:5px -142px;}
.form_cont .category_ico{background-position:5px -191px;}
.form_cont .country_ico{background-position: 4px -725px;}
input[type = 'text'],input[type = 'password'], .input-group select.form-control {padding: 10px; height: auto;}


.form_row{ margin: 5%;}
.form_cont input[type="button"],.register .form_cont input[type="submit"],.contact .form_cont input[type="button"]{float: left;padding: 10px 20px;width: auto;}
.logo_thumb{ background-color: #a3a3a3;border-radius: 50%;display: inline-block;height: 70px;overflow: hidden;line-height: 70px;text-align: center;width: 70px; vertical-align: middle}
.fileUpload {position: relative;overflow: hidden;margin: 10px;vertical-align: middle;}
.fileUpload input[type = "file"] {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
#uploadFile{ background-color: transparent; border: none; width:auto; font-size: 13px; color: #999;}
.info {
    padding: 31px;
}

.info p {
    margin-bottom: 20px;
}
.rtl {
    direction: rtl; 
}

.info_container {
    background-color: #f4f4f4;
    min-height: 875px;
}

.info_container .top_bar {
    background-color: #ffffff;
}
