/*Debates listing & dashboard items: Debates*/
.debates_listing .item_title{padding-left: 0; width: 80%;}
.debates_listing .percentage_bar_container{ padding-left: 15px;}
.verses{background-color: #CFD0D3;border-radius: 100%;display: block;font-size: 19px;left: 0;margin: auto;padding: 6px;position: absolute;right: 0;text-align: center;top: -15px;width: 40px;}
.users_debating{ position: relative; margin: 30px 15px 0 60px}
.users_debating .user_one{width: 48%; display: inline-block;}
.users_debating .user_one .comment_area{ padding-left: 60px;}
.users_debating .comment_area > p{ color: #3E3E3E;font-style: italic;font-weight: 400;}
.users_debating .user_two{width: 48%;display: inline-block; text-align: right; float: right;}
.users_debating .user_two .comment_area{ padding-right: 60px;}
.users_debating .user_two .img_circl_container{ float: right; margin-left: 10px; margin-right: 0;}

/*Debate Details*/
.debateDetails .cons_percentbar span,.debateDetails .pros_percentbar span{ line-height: 17px; top: -45px;}
.debateDetails .cons_percentbar.orange .percent{ color: #ff7800;}
.debateDetails .cons_percentbar.orange .cons_percent{ background-color: #ff7800;}
.debateDetails .pros_cons_percentbars .percent{ line-height: 40px;}
.debateDetails .user_action > span{ text-align: center; padding-top: 5px;}
.debateDetails .percent_one, .debateDetails .percent_two{ width: 55px; height: 55px; top: -16px;}
.debateDetails .percent_one:hover, .debateDetails .percent_two:hover{ width: 60px; height: 60px; top: -19px;}
.votes_one,.votes_two{ font-size: 24px; font-weight:bold;}
.votes_one{ color:#147307;}
.votes_one.greyesh { color:#7b7b7b;}
.votes_two{color: #ff7800;}
.votes_two.greyesh {color: #545454;}
.userVotes_num{ display: block; font-size: 13px;}
.debateDetails .story_title_info h1{ display: inline-block;}
.debateDetails .story_title_info{ border: none;}
.debateDetails .debate_percentage_bar{ margin:15px;}
.percentage_bar.debate{ min-height: 80px;}
.debate_percentage_bar .percent_one_info, .debate_percentage_bar .percent_two_info{ position: absolute; top: 40px;}
.debate_percentage_bar .percent_one_info{left:-15px;}
.debate_percentage_bar .percent_two_info{right:-15px;}
.percentage_bar_container .User_info .userName{font-size: 17px;font-weight: 400;margin-right: 10px;}
.percentage_bar_container .User_info .follow_btn{background-position: 1px -269px;display: inline-block;font-size: 13px;padding: 0 7px;text-indent: 15px;}
.percentage_bar_container .percent_two_info .User_info{ text-align: right;}
.percentage_bar_container .percent_two_info .userName{float: right; margin-left: 10px; margin-right: 0;}
.debate_explanation{ margin-bottom: 10px;}
.debate_explanation .left_explain, .debate_explanation .right_explain{background-color: #ecf0f6; position: relative; padding: 10px; border-radius: 3px; margin-top: 15px; width: 48.5%; min-height: 130px;}
.debate_explanation .left_explain{ float: left; text-align: left;}
.debate_explanation .right_explain{ float: right; text-align: right;}
.debate_explanation .left_explain:before, .debate_explanation .right_explain:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#ecf0f6;}
.debate_explanation .left_explain:before{ left: 10px;}
.debate_explanation .right_explain:before{ right: 10px;}
.count_down{ text-align: center; margin: 25px 0; min-height: 70px;}
.count_down span{ font-weight: 400; color: #666666;}
.count_down span.days, .count_down span.hours, .count_down span.minutes, .count_down span.seconds{ font-size: 28px; font-weight: 300;}

/*New Debate*/
input.dbt_question{ width:100%; margin-bottom:15px;background-color: #f0f3f8; color: #808080; font-size: 27px; font-weight: 300; padding: 4px 2px 5px; border-color: #f0f3f8;}
input.dbt_question:hover{ background-color: #e6ebf2;}
input.dbt_question:focus{ background-color: #fff;}
.newDebate .story_content_body{ min-height: 1700px;}
.newDebate .debate_percentage_bar{ margin: 20px 20px 10px;}
.newDebate .story_title_info{ margin-bottom: 40px;}
.newDebate .count_down{ min-height: 1300px;}
.newDebate .count_down .form_row{ margin:7px 0; text-align: left; float: left; clear: both;}
.newDebate .count_down .form_row label{  display: inline-block; width: 145px; padding-right:10px; text-align: right; font-weight: 300; white-space: nowrap;}
.newDebate .count_down .form_row select{  display: inline-block; padding:5px; width: 150px; font-weight: 300; border-radius: 4px; border: solid 1px #dadada;}
.newDebate .count_down .form_row select:hover{ border-color: #c0c0c0;}
.newDebate .count_down .form_row input[type="button"]{ float: right; width: 110px; margin-left: 148px; }
.newDebate .votes_one_num, .newDebate .votes_two_num{ width: 48%; padding: 0;}
.percentage_bar.greyesh .up_percent{ background-color:#7a7a7a; cursor: default; opacity: 1; }
.percentage_bar.greyesh .down_percent{ background-color:#494949;cursor: default;opacity: 1; }
.percentage_bar.greyesh .percent_one, .percentage_bar.greyesh .percent_one:hover{ border-color:#494949;width: 50px; height: 50px; left: -16px; top: -14px; }
.percentage_bar.greyesh .percent_two, .percentage_bar.greyesh .percent_two:hover{ border:none;width: 50px; height: 50px; right: -16px; top: -14px; background: url("../img/user_icon.png") no-repeat scroll center center #d9dbde; }
.percentage_bar.greyesh .percent_two_info .userName{ color: #515151;}
.percentage_bar.greyesh .percent_two_info .follow_btn{  background-color: #dddddd; color:#515151; }
.debate_explanation.greyesh .right_explain{ background-color: #f5f6f8;  text-align: center;}
.debate_explanation.greyesh .right_explain:before{ border-bottom-color:#f5f6f8; }
.debate_explanation.greyesh .right_explain span{ padding: 30px 30px 0; display: block; color: #6E6F6F; font-size: 16px;}
.debate_explanation.greyesh .left_explain .explanation{ background-color: transparent; border: none; text-indent: 0; width: 100%;resize: none; padding: 3px 0; height: 100px;}
