/* font:  Source Sans Pro
=============================================*/

@font-face {
    font-family: 'Source Sans Pro';font-style: normal;font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../vendor/fonts/SourceSansPro-custom-Light.woff) format('woff');}

@font-face {
    font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../vendor/fonts/SourceSansPro-custom-Regular.woff) format('woff');}

@font-face {
    font-family: 'Source Sans Pro';font-style: normal;font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../vendor/fonts/SourceSansPro-custom-Bold.woff) format('woff');}

@font-face {
    font-family: 'Source Sans Pro';font-style: normal;font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../vendor/fonts/SourceSansPro-custom-Bold.woff) format('woff');}


@font-face {
    font-family: 'HelveticaNeue';font-style: normal;font-weight: 200;
    src: local('HelveticaNeue thin'), local('HelveticaNeue-thin'), url(../vendor/fonts/helveticaneue-thin.ttf) format('truetype');}

@font-face {
    font-family: 'HelveticaNeue';font-style: normal;font-weight: 300;
    src: local('HelveticaNeue light'), local('HelveticaNeue-light'), url(../vendor/fonts/helveticaneue-light.ttf) format('truetype');}

@font-face {
    font-family: 'HelveticaNeue';font-style: normal;font-weight: 400;
    src: local('HelveticaNeue'), local('HelveticaNeue-regular'), url(../vendor/fonts/9669fcdb-a6a6-4b2b-8214-0ae85ba732c7.ttf) format('truetype');}

@font-face {
    font-family: 'HelveticaNeue';font-style: normal;font-weight: 600;
    src: local('HelveticaNeue semibold'), local('HelveticaNeue-semibold'), url(../vendor/fonts/a9fc3a1c-4466-47f7-b408-5bcf52129409.ttf) format('truetype');}

@font-face {
    font-family: 'HelveticaNeue';font-style: normal;font-weight: 700;
    src: local('HelveticaNeue bold'), local('HelveticaNeue-bold'), url(../vendor/fonts/a9fc3a1c-4466-47f7-b408-5bcf52129409.ttf) format('truetype');}
