.login_msg{float: right;direction: rtl;}
.nav-tabs>li{float:right;direction: rtl}
.shr_dsc{right: auto;left: -35px;padding-left: 50px;}
.panel-title a{direction: rtl;}

/* Logged In User Area */
.tp_br_cnt{direction: rtl;}
.right_ntfc_cmnts{float: left;}
.ntfc .drpdwn_cont{right: -280px;}
/* End Logged in user area */

.usr_action .comment_on_action .comment_area{padding-right: 90px;padding-left: 0;direction: rtl;}
.usr_action .comment_on_action .comment_area .submitbtn{float: left;}


.left_prt_cont {float: right;}
.right_prt_cont {float: left;}
.left_prt_cont .img {float: right;}
.right_prt_cont .img {float: left;}
.left_prt_cont .nm{text-align: right;}
.right_prt_cont .nm{text-align: left;}
.two_prts .left_prt{text-align: right}
.support_buttons_container{direction: rtl;}

.cons_percentbar {float: left;border-radius: 6px 0 0 6px;}
.cons_percentbar span.percent{right: 38px;left:auto;}
.pros_percentbar span.number {right: 10px;text-align: right;left:auto;}
.pros_percentbar {float: right;border-radius: 0 6px 6px 0;}
.pros_percentbar span.percent{left:38px; right: auto;}
.cons_percentbar span.number {left: 10px;text-align: left;right: auto;}
.pros_percent{float: right;}
.cons_percent{float: left;}
.col-lg-6{float: right;}

.right_pros_comments .img_circl {float: left;}
.right_pros_comments .comment_unit .nameAndDate {text-align: left;float: left;}
.right_pros_comments .comment_unit .comment_area p{direction: rtl;text-align: right;}
.right_pros_comments .comment_unit .argument_time{float:left;text-align: left;padding-right:0;padding-left:8px;}
.right_pros_comments .reply {text-align: right;float: right;}
.right_pros_comments .comment_unit .vote_action {float: left;direction: ltr;}
.right_pros_comments {box-shadow: 1px 0 0 #E5E5E5;}

.left_pros_comments .img_circl {float: right;}
.left_pros_comments .comment_unit .nameAndDate {text-align: right;float: right;}
.left_pros_comments .comment_unit .comment_area p{direction: rtl;text-align: right;clear: both;}
.left_pros_comments .comment_unit .argument_time{float:right;text-align: right;padding-right:8px;padding-left:0}
.left_pros_comments .reply {text-align: left;float: left;}
.left_pros_comments .comment_unit .vote_action {float: right;direction: rtl;}
.left_pros_comments {box-shadow: 0 0 0;}

.comment_unit{direction: rtl}
.left_pros_comments .social_buttons{left: 0;top:0; right: auto;}
.right_pros_comments .social_buttons{right: 0;top:0;left:auto;}
.social_buttons a{text-indent: 9999px}
.left_pros_comments .img_circl_container,.right_pros_comments .img_circl_container{float:none}
.usr_action .comment_on_action input[type="submit"],.usr_action .comment_on_action .add_img{float: left;}
.nested_reply_button{position: absolute;right:95px;bottom:14px;}
.replies-container .comment_area{clear: none}
.usr_action .comment_on_action .tA_container:before{right:-12px;}

.usr_action .comment_on_action .img_circl_container{float: right;margin-right: 0;margin-left: 10px;}
.reply_container .usr_action .comment_on_action .comment_area{padding-left: 0;padding-right: 70px}
.reply > a{padding-left: 0}
.tooltip_container{right: auto;left: 0}
.by_speakol{text-align: left;direction: rtl;}
.by_speakol span{text-indent: 9999px;}
.replies-container .comment_area{clear: both;}
.vote_action > div{float: right;}
.votes_up_num, .votes_down_num{border-left: solid 1px #f2f2f2;border-right: 0 none}
.votes_down_num{border-left: 0 none}
 .usr_action .comment_on_action .tA_container:before{left: auto;right: -19px !important;background-image: url(../img/nub-rtl.png);}

/* Login Pop-up */
.modal-dialog{direction: rtl;}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) 
{border-radius: 0 5px 5px 0;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child)
{border-radius: 5px 0 0 5px;border-right: 0 none}
#loginbox .forgot{float:left}
.close{float: left;}

/* Argument Box Specific */

.vt_btns,.pros_percentbar span.number{direction: rtl;}
.cons_percentbar span.number{direction: ltr}
.pros_percentbar span.number strong{padding-left: 5px}
.by_speakol{right: auto;}

.sortby-dropdown {
    direction: rtl;
    right: auto;
    left: 105px;
}

.sortby-dropdown .dropdown-menu {
    left: auto;
    right: 103px;
}
.left_pros_comments .ad-container .comment_area {
    padding-top: 36px;
}

@media (max-width: 480px) {
    .comment_unit .nameAndDate {
        width: 88px;
    }
    .right_pros_comments .img_circl_container {
        width: 130px;
    }
    .left_pros_comments .social_buttons,
    .right_pros_comments .social_buttons {
        top: -18px;
        right: -10px;
    }
    .sortby-dropdown {
        left: 0px;
    }
    .sortby-dropdown .dropdown-menu {
        right: 0px;
    }

   .right_pros_comments .ad-container .img_circl_container {
       float:left;
   }
}
.vwrs_num{ float: right;color: #898989; padding: 15px 0; font-weight: 300;display:none}
.footer {
    direction: rtl;
}



