/*General*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Source Sans Pro'; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a{ text-decoration: none; color: #1177bb;}
a:hover{ color:#00A7F5; text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
body { padding: 10px; position: relative; }
img{ width: 100%;}
.content_wrapper {
    max-width: 600px;
    min-width: 300px;
    margin: 30px auto 10px;
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 5px;
    position: relative;
    border: 1px solid #f0f0f0;
}

.drpdwn{ position: relative;}
.drpdwn > .drpdwn_cont{ display: none;}
.drpdwn:hover > .drpdwn_cont{ display: block;}
.drpdwn_cont{position: absolute; top: 0; padding: 10px;}
.ntfc > a {background: url(../img/icons-2.png) no-repeat scroll left -97px #fff; border-radius: 3px;padding: 3px 7px 3px 25px; color: #737980; display: block;border:solid 1px #f2f2f2; position: relative; z-index: 11;}
.ntfc:hover > a{border:solid 1px #f2f2f2; border-bottom-color: transparent;}
.no_padding{ padding: 0;}
.pos_statc{ margin-top: 19px; }
.by_speakol span {
    display: inline-block;
    background: url(../img/logo_sml.png) no-repeat center -30px;
    overflow: hidden;
    text-indent: -9999px;
    width: 65px;
    height: 21px;
    vertical-align: middle;
    margin: 0 3px;
}
.modal-dialog {
    width: 50%;
}

/*recommended section*/
.rcmndd_cont{max-width: 600px; margin: 10px auto; background-color: #fff; border-radius: 4px;}
.rcmndd_sec{ padding: 10px;}
.sec_titl_sml{ margin: 0 0 10px 0; border-bottom: solid 1px #f9f9f9; padding-bottom: 10px; line-height: 17px;}
.sec_titl_sml a{ font-size: 17px; color: #444; font-weight: 500;}
.nws_itms_lst{ margin-bottom: 0;}
.nws_itms_lst li{width: 32%; display: inline-block;margin-right:1%;}
.nws_itms_lst li:nth-child(3n){ margin: 0;}
.nws_itms_lst li > a{ display: block; margin-bottom: 7px;}
.itm_img{ height: 103px; overflow: hidden; border-radius: 5px;display: block;margin-bottom: 7px;}
.itm_title{ margin-bottom: 7px; display: block;}
.itm_src{ color: #737373; font-size: 13px;}

/*not logged in top bar*/
.not_logged_tb{ padding: 10px;}
.login_msg{ color: #737373; margin: 3px 0; line-height: 24px;}
.speakol_btn{ display: inline-block; padding: 5px; border-radius: 4px;background: url(../img/logo_sml.png) no-repeat scroll center 3px #59b867; width: 73px; height: 24px; overflow: hidden; text-indent: -9999px; vertical-align: middle; line-height: 25px; margin: 0 3px;}
.speakol_btn:hover{ background-color: #49a156;}
.login_msg .facebook_icon,.login_msg .twitter_icon,.login_msg .gPlus_icon{ background: transparent url(../img/trans_social_icons.png) no-repeat scroll 0 0; display: inline-block; width: 22px; height: 22px; border-radius: 3px; margin: 2px; overflow: hidden; text-indent: -999px; vertical-align: middle;opacity: .80;}
.login_msg .facebook_icon:hover,.login_msg .twitter_icon:hover,.login_msg .gPlus_icon:hover{ opacity: 1;}
.login_msg .facebook_icon{ background-color: #26609d; background-position: center 3px; margin-left: 0px;}
.login_msg .twitter_icon{ background-color: #00c2f5; background-position: center -26px;}
.login_msg .gPlus_icon{ background-color: #ed4624; background-position: center -57px;}

/*top_bar*/
.tp_br_cnt{ padding:10px;}
.lft_usr{display: inline-block; border-radius: 3px;padding: 3px 5px; cursor: pointer}
.lft_usr span{ vertical-align: middle;color: #888;overflow: hidden;width: 37px;height: 37px;}
.lft_usr:hover span{ color: #666;}
.lft_usr .glyphicon{ font-size: 11px;padding: 3px;text-align: center;line-height: 30px;max-width: 28px;}
.usr_img{ display: inline-block; background-color:#fafafa;border-radius: 37px; width: 20%; overflow: hidden;}
.usr_nm{ margin-left: 7px;}
.lft_usr:hover{ background-color: #f2f2f2;}
.lft_usr .drpdwn_cont{ background-color: #fdfdfd;top: 40px; z-index: 10; left: 0; width: 100%; border-radius: 3px; box-shadow: 0px 2px 2px rgba(0,0,0,.2), 0 0 0 3px #f2f2f2 inset;}
/*--------*/
.right_ntfc_cmnts{float:right; display: inline-block; float: right; padding: 3px;}
.ntfc,.cmnts{display: inline-block; vertical-align: top; margin: 0 5px;}
.ntfc:hover > a{border:solid 1px #f2f2f2; border-bottom-color: transparent;}
.ntfc.highlight > a{background:url(../img/icons-2.png) no-repeat scroll left -152px #b94141;color: #fff; border-color:#b94141;width: 47px !important;
                    line-height: 26px !important;height: 30px !important;padding: 0 0 0 29px !important; }
.ntfc .drpdwn_cont{background-color: #fff;top: 27px; z-index: 10; right: 0px; width: 330px; border-radius: 2px; border: solid 1px #f2f2f2; padding: 0;}
.cmnts > a{background: url(../img/icons-2.png) no-repeat scroll left 3px #fff; overflow: hidden; text-indent: -9999px; display: block; width: 25px; height: 25px;}
.replies-container .comment_area{clear:both;}
.comment_on_action .comment_area{clear:none;}
.tabs_items{ margin: 0;}
.tabs_items li{ padding: 0 10px;}
.tabs_items li a {
    font-size: 13px;
    color: #666;
    font-weight: normal;
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 0 7px 35px;
    background: url("../img/icons-2.png") no-repeat scroll 0 6px transparent;
    opacity: .7;
}
.tabs_items li:nth-child(even){background-color: #fcfcfc;}
.tabs_items li:hover{background-color: #f5f5f5;}
.tabs_items li:last-child{background-color: transparent;}
.tabs_items li a:hover{opacity: 1;}
.tabs_items li a.follower{ background-position: -5px -464px;}
.tabs_items li a.upVote{background-position: -7px -545px;}
.tabs_items li a.all_ntfctions{background: #1177bb; color:#fff; text-align: center;text-indent: 0; width: auto; border-radius: 4px;padding: 4px 0; opacity: .85; margin: 10px 0;}
.tabs_items li a.all_ntfctions:hover{opacity: 1;}



/*social share*/
.shr_dsc{ position: absolute; top: 0px; right: 20px; color: #9da2a6; background: url(../img/icons.png) no-repeat scroll left -230px; padding-left: 27px; font-size: 13px; margin-top: 17px;
 -moz-transition: all .2s ease;-ms-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.shr_dsc:hover{ margin-top: 4px;}
.shr_dsc:hover .social_shares a { margin-top: 0;-moz-transition: margin .2s ease .2s;-ms-transition: margin .2s ease .2s;-o-transition: margin .2s ease .2s;transition: margin .2s ease .2s;}
.social_shares {
	cursor: default;
	margin-left:-3px;
	height: 24px;
	overflow: hidden;
}
.social_shares .shares_count{ font-size:15px; font-weight: 300; vertical-align: top; margin-right: 10px; }
.social_shares .shares_count strong{ vertical-align: top;}
.social_shares a{ display: inline-block; width: 22px; height: 22px;text-indent: -9999px; overflow: hidden; background: url("../img/Social_share_icons.png") no-repeat 0 0 scroll; opacity: .7; margin-top: 25px;}
.social_shares a:hover{ opacity: 1;}
.social_shares a.facebook_icon{ background-position: 0 0;}
.social_shares a.twitter_icon{ background-position: 0 -26px;}
.social_shares a.gPlus_icon{ background-position: 0 -52px;}
.social_shares a.linkedIn_icon{ background-position: 0 -78px;}

/*tabs area*/
.tbd_br_cnt{ padding-top: 12px; background-color: #f4f3f3; position: relative;}
.nav-tabs{ border: none; margin:0 10px;}
.nav-tabs li a{ padding: 9px 15px; display: block; font-size: 15px;}
.nav-tabs > li.active > a{ color: #767676;}
.nav-tabs > li > a,.nav-tabs > li.active > a , .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;}
.tab-content{ background-color: #fff;}
.two_prts{ margin-bottom: 10px;}
.left_prt_cont,.right_prt_cont{width: 49%;}
.left_prt_cont{ float: left;padding: 0 1%;}
.right_prt_cont{ float: right; padding:0 1%;}
.two_prts .left_prt, .two_prts .right_prt{background-color: #f7f7f7; position: relative; padding: 10px; border-radius: 3px; margin-top: 15px; min-height: 85px;}
.two_prts .left_prt{text-align: left;}
.two_prts .right_prt{text-align: right;}
.two_prts .left_prt:before, .two_prts .right_prt:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#f7f7f7;}
.two_prts .left_prt:before{ left: 30px;}
.two_prts .right_prt:before{ right: 30px;}
.two_prts .img{padding: 5px;display: inline-block; border-radius: 50%; overflow: hidden; border: solid 3px #f7f7f7; background-color: #fff; vertical-align: middle;}
.two_prts .nm{ font-size: 18px; padding: 5px; line-height: 60px;}
.right_prt_cont .img{ float: right;}
.left_prt_cont .img{ float: left;}
.right_prt_cont .nm{ float: right;}
.left_prt_cont .nm{ float: left;}

/*User Action section*/
.vt_btns{ text-align: center; padding: 10px;margin-bottom: 25px;}
.dimmed{opacity: 0.2 !important}
.vt_btns > span{ color: #3c4852; font-size: 23px; vertical-align: middle;}
.vt_btns > a{opacity:.9;display: inline-block; width: 56px; height: 50px;overflow: hidden; text-indent:-9999px; background: url(../img/vt_btns.png) no-repeat center 0 scroll transparent; vertical-align: middle; margin: 0 5px;}
.vt_btns a:hover{  opacity: 1;}
.vt_btns .vt_up{ background-position: center 0;}
.vt_btns .vt_dwn{ background-position: center -99px;}

.img_circl_container{margin-right: 10px;position: relative;}
.img_circl{border-radius: 50%;display: block;height: 75px;margin: auto;overflow: hidden;text-align: center;width: 75px;}
.img_comment{ margin: 0 7px; border-top: solid 1px #EBEBEB; position: relative; padding: 10px 0; }

.context_img{ border: solid 2px #fff; border-radius: 2px; box-shadow: 0 0 0 1px #a7b8d1; max-width: 100%;width: auto; }
.close_btn{ display: block; width: 15px; height: 15px; margin: 5px 0; color: #999; font-size: 12px; }
.add_img{display: block; width: 28px; height: 25px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../img/icons-2.png") no-repeat scroll center -305px transparent; opacity: .7; }
.close_btn:hover,.add_img:hover{ opacity:1; color: #777;}
.vwrs_num{ float: left;color: #898989; padding: 15px 0; font-weight: 300;}
.usr_action{ padding: 15px; margin-bottom: 10px;}
.usr_action .comment_on_action{ width:90%; margin: 10px auto;}
.usr_action .comment_on_action .img_circl_container{ float: left; margin-right: 10px;}
.usr_action .comment_on_action .comment_area{ padding-left: 90px;}
.usr_action .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #ebebeb; position: relative;}
.usr_action .comment_on_action .tA_container:before{ content:''; width: 20px; height: 20px; position: absolute; left: -12px; top:25px; background: url(../img/nub.png) no-repeat scroll 0 0 transparent;}
.usr_action .comment_on_action .tA_container .close_btn{ position: absolute; top: 0; right: 0;}
.usr_action .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none;height: 70px;font-weight: 300; color: #a5a5a5; font-style: italic; font-size: 17px; padding: 5px;-webkit-appearance:none; outline: none;}
.usr_action .comment_on_action .write_comment:focus{ color: #444; font-style: normal;}
.usr_action .comment_on_action input[type="submit"]{ font-size: 16px; float: right; margin: 10px 0; padding: 7px 12px; background-color: #3c4852; border-radius: 4px; border: none; color: #fff; }
.usr_action .comment_on_action input[type="submit"]:hover{background-color: #343f47}
.usr_action .comment_on_action .add_img{ float: right;margin: 17px 15px 5px;}
.usr_action .comment_on_action .img_circl{ width: 40px; height: 40px;}
/*argument box comments()*/
.argumentBox_comments{position: relative; padding: 0 0}
.argumentBox_comments .voting_circle{
    text-align: center;
    margin: -43px auto;
    position: relative;
    z-index: 1;
    width: 106px;
}
.argumentBox_comments .voting_circle canvas{ background-color: #FFFFFF;border: 1px solid #f2f2f2;border-radius: 50%;padding: 2px;}
.pros_percentbar, .cons_percentbar{ width: 45%; background-color:#c7c7c7; height: 2px; position: relative; top: 50%; }
.cons_percentbar{ float: right;border-radius: 0 6px 6px 0;}
.pros_percentbar{ float: left;border-radius: 6px 0 0 6px;}
.cons_percentbar span, .pros_percentbar span{ position: absolute; top: -35px; font-size: 17px;}
.cons_percentbar span.percent{ color: #b94141; left:38px;  }
.pros_percentbar span.percent{
    color: #53a960;
    right: 38px;
}
.right_pros_comments .comment_unit .argument_time{color: #bbb;width: 142px;display: block;font-size: 12px;font-weight: 300;float: left;text-align: left;padding-left: 8px;}
.left_pros_comments .comment_unit .argument_time{color: #bbb;width: 142px;display: block;font-size: 12px;font-weight: 300;float: left;text-align: left;padding-left: 8px;}
.cons_percentbar span.number,.pros_percentbar span.number{font-size: 15px; font-weight: 300;color: #767676; vertical-align: middle;}
.cons_percentbar span.number{right:10px; text-align: right;direction: rtl;}
.pros_percentbar span.number{left:10px; text-align: left;}
.nested_comments{display: none;}
.cons_percentbar span.number strong{ font-size: 23px; color: #b94141;vertical-align: middle; }
.pros_percentbar span.number strong{ font-size: 23px; color: #53a960; vertical-align: middle;}
.pros_percent,.cons_percent{height: 2px; -webkit-transition: all .7s ease-in-out .5s;-moz-transition: all .7s ease-in-out .5s;-ms-transition: all .7s ease-in-out .5s;-o-transition: all .7s ease-in-out .5s;transition: all .7s ease-in-out .5s;}
.cons_percent{ background-color:#b94141 ; float: right; box-shadow: 1px 0 0 #fff,-1px 0 0 #fff;}
.pros_percent{ background-color:#53a960; float: left; ;box-shadow: 1px 0 0 #fff,-1px 0 0 #fff;}
.left_pros_comments .img_circl, .right_pros_comments .img_circl{width:40px; height: 40px; display: inline-block;vertical-align: middle;}
.left_pros_comments .img_circl a img, .right_pros_comments .img_circl a img {height: 40px;width: 40px;border-radius: 50%;}
.left_pros_comments{padding-top: 10px; box-shadow: 1px 0 0 #E5E5E5;}
.left_pros_comments .img_circl_container{ margin-bottom: 5px;margin-right: 0;float: left;}
.left_pros_comments .img_circl{float:left;}
.left_pros_comments .reply{float: right;}
.left_pros_comments .reply > a:hover,.left_pros_comments .reply.active a{opacity: 1;}
.right_pros_comments{padding-top: 10px; box-shadow: -1px 0 0 #f2f2f2; margin-left: 1px; /*margin-bottom: 100px;*/}
.right_pros_comments .img_circl_container{ margin-bottom: 5px; margin-left: 0; overflow: hidden;float:left;}
.right_pros_comments .img_circl{ float: left;}
.right_pros_comments .reply{ text-align: right; float: right;}
.right_pros_comments .reply .comment_unit { text-align: left;}
.reply_container .tip {content: '';position: absolute;border: solid rgba(0, 0, 0, 0) 10px;border-bottom-color: #E3E5E5;top: -22px;}
.right_pros_comments .reply > a:hover,.right_pros_comments .reply.active a{opacity: 1;}
.right_pros_comments .comment_unit .vote_action{ float: left; direction: ltr;}
.right_pros_comments .votes_up_num,.right_pros_comments .votes_down_num{ border-right:solid 1px #f2f2f2; }
.reply > a{ display: inline-block; padding-left: 0; background: url("../img/icons.png") no-repeat scroll -5px -390px transparent; opacity: .75; color: #999;font-size: 13px; font-weight: 300;}
.showMore, .showArgsComments{ background-color: #647a88; display: block; padding: 4px 0; margin: 3px 4px; border-radius: 3px; text-align: center; color: #fff; font-size: 13px;}
.showMore:hover, .showArgsComments:hover{ background-color: #5c707d; color: #fff;}
.show_arg_container{float: left;width: 100%;}
li:last-child .comment_unit{border-bottom: none; }
.comment_unit{border-bottom: solid 1px #f2f2f2;margin: 15px; position: relative;}
.comment_unit .nameAndDate{ display: inline-block; vertical-align: middle; padding: 0 7px; font-size: 15px; width: 185px; }
.comment_unit .nameAndDate time{ color:#7e7e7e; display: block; font-size: 12px; color: #7e7e7e; font-weight: 300;}
.comment_unit .social_buttons{ opacity: 0;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.comment_unit:hover .social_buttons, .comment_unit:hover a.done{ opacity: 1; }
.comment_unit .comment_area p{ margin: 7px 0;word-wrap: break-word;}
.comment_unit .comment_area p{text-align: left;}
.comment_unit .replies_actions{ width: 100%; margin: 10px 0; min-height: 22px; overflow: hidden;}
.comment_unit .vote_action{ float: left;}
.comment_unit .vote_action .votes_up,.comment_unit .vote_action .votes_down{ font-size: 14px; color: #7e7e7e; font-weight: normal; padding: 0 20px 0 0;}
.comment_unit .vote_action .votes_down, .comment_unit .vote_action .votes_up  { padding-right: 30px; }
.comment_unit .vote_action .votes_up:hover,.comment_unit .vote_action .votes_down:hover{opacity: 1;}
.comment_unit .vote_action .votes_up{ background-position: 9px -228px;}
.comment_unit .vote_action .votes_down{ background-position: 9px -280px;}
.comment_unit .vote_action .votes_up.voted{ background-position: 9px -7px;}
.comment_unit .vote_action .votes_down.voted{ background-position: 9px -59px;}
.story_title_info .item_title span {background-color:#fcffa5; outline: none;}
.story_title_info .item_title span.edited {background-color:transparent;}
.social_buttons{ position: absolute; top:0; right: 0; opacity: .3; z-index: 15;}
.social_buttons a{ opacity: .5;display: block; float: left; width: 25px; height: 20px; overflow: hidden;text-indent: -9999px;background: url("../img/social.png") no-repeat scroll 0 0 transparent;}
.replies-container .social_buttons a{text-indent: 9999px;}
.social_buttons a:hover{ opacity: 1;}
.social_buttons a.facebook_button{ background-position: 0px -45px;}
.social_buttons a.twitter_button{background-position: 0px -90px;}
.social_buttons a.follow_button{background-position: 0px -182px;}
.social_buttons a.mute_button{background-position: 0px -136px;}
.social_buttons a.muted-reply{background-position: 0px -181px;}
.social_buttons a.report_button{background-position: 0px -278px;}
.social_buttons a.reported-reply {background-position: 0px -361px;}
.social_buttons a.report_button.reported{background-position: 0px -361px;}
.social_buttons a.remove_button{background-position: 0px -324px;}
.social_buttons a.expnd_button{background-position: 0px -229px;display: none;}

.social_buttons a.mute_button.muted, .social_buttons a.report_button.reported{opacity: 1}

.prtcpnts_cont{ margin-bottom: 10px;background-color: #fbfbfb; padding: 10px;}
.pros_prtcpnts,.cons_prtcpnts{ width: 49%; display: inline-block; vertical-align: top;}
.prtcpnts_cont .img_circl{ width: 30px; height: 30px; display: inline-block; margin:0 2px; vertical-align: middle;}
.prtcpnts_imgs_cont{ display: inline-block; cursor: default;}
.prtcpnts_imgs_cont:hover .img_circl{opacity: .7;}
.prtcpnts_imgs_cont .img_circl:hover{opacity: 1;}
.prtcpnts_info{ display: inline-block; vertical-align: middle; padding: 0 3px;}
.othr_frnds,.othr_frnds:focus{ color: #707070; font-weight: 300;}
.othr_frnds:hover{color: #555}
.invt_mor{clear: both; display: table; font-weight: 600;}
.cons_prtcpnts .prtcpnts_imgs_cont,.cons_prtcpnts .prtcpnts_info{ float: right; direction: rtl;}
.cons_prtcpnts{ float: right;}
.votes_up_num, .votes_down_num{ display: inline-block; padding: 0 5px; border-right: solid 1px #f2f2f2;}
.left_pros_comments .votes_down_num {
    border-right: 0;
}
.right_pros_comments .votes_down_num {
    border-right: 0;
}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;opacity: .75;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #166e16;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}
.shr_cmmnt{display: none; vertical-align: middle;}
.shr_cmmnt > a{display:none; background:url("../img/icons.png") no-repeat scroll -2px -232px transparent; text-indent: -9999px; overflow: hidden; width: 25px; height: 20px;opacity: .75; }
.shr_cmmnt > a:hover{opacity: 1;}
.right_pros_comments .shr_cmmnt > a{text-indent: 9999px;}
/*nested comments*/
.nested_comments .comments_level{ padding-left: 6%;}
.n_rply_to{border-radius: 3px; font-size: 12px; color: #888; font-weight: 300; padding: 5px 10px 5px 30px; background: url("../img/icons-2.png") no-repeat scroll 2px -602px #f5f6f7}
.n_rply_to span {font-weight: bold;}
.reply_container.active{ display: block;}
.reply_container{ display: none;position: absolute; width: 95%; border: solid 3px #e3e5e5; background-color: #fff; z-index: 20;}
.reply_container .tip{content:''; position: absolute; border: solid transparent 10px; border-bottom-color: #e3e5e5;top: -22px;}
.reply_container .img_circl{ width: 40px; height: 40px; display: inline-block; vertical-align: middle;}
.reply_container .usr_action .comment_on_action .img_circl{ width: 55px; height: 55px;}
.reply_container .usr_action .comment_on_action .comment_area{ padding-left: 70px;}
.reply_container .usr_action{ border-bottom: solid 1px #f2f2f2; margin:15px; padding: 0; }
.reply_container .shr_cmmnt > a{ text-indent:0; padding-left: 23px; color:#999999; width: auto; line-height: 15px;}
.reply-form-nested{display: none;}
/*top_discussion section*/
.top_discussion{ padding: 15px; margin: 10px 0; float: left;width: 63%; box-shadow: 1px 0 0 #f2f2f2}
.top_discussion h3, .ldrbrd h3{ margin: 0; font-size: 18px; color: #414141; padding:10px 0 5px;}
.top_discussion .nws_itms_lst li{ display:block; width: 100%; margin: 20px 0; clear: both;}
.top_discussion .nws_itms_lst .itm_img{float: left; margin:0 10px 10px 0; width: 120px; height: 68px; border-radius: 0;}
.top_discussion .nws_itms_lst .itm_img img { max-height: 100%;}
.top_discussion .nws_itms_lst .itm_info{ float: left;}
.top_discussion .nws_itms_lst .itm_shares{ background: url("../img/icons.png") no-repeat scroll -2px -232px rgba(0, 0, 0, 0); margin-right: 15px; padding-left: 25px; color: #666666; font-size: 13px;}
.top_discussion .nws_itms_lst .itm_arguments{ background: url("../img/icons.png") no-repeat scroll -5px -392px rgba(0, 0, 0, 0); padding-left: 22px; color: #666666; font-size: 13px;}
.ldrbrd{ padding: 15px; margin: 10px 0 10px 1px; float: left;width: 32%; box-shadow: -1px 0 0 #f2f2f2}
.top_discussion .showMore{ background-color: #1177bb; opacity: .9}
.top_discussion .showMore:hover{ opacity: 1}
.user_unit{ padding: 10px 0;}
.user_unit .img_circl_container{
    float: left;
    width: 50%;
}
.user_unit .img_circl{ width: 50px; height: 50px;}
.user_unit .User_info{
    float: left;
    max-width: 118px;
}
.user_unit .User_info a,.user_unit .User_info span{display: block;}
.user_unit .userName{font-size: 17px; font-weight: 400;}
.followUser,.unfollowUser{ font-size: 13px; color: #fff; background-color: #95b250; border-radius: 3px; padding: 1px 10px; width: 55px;margin-top: 5px;}
.unfollowUser{ background-color:#980a0b; color: #fff;}
.unfollowUser:hover,.unfollowUser:focus{ background-color:#b30c0c; color: #fff}
.followUser:hover,.followUser:focus{ background-color: #8ca848;color: #fff}
.arg_num{ font-size:13px; font-style: italic; color: #8a8a8a;}

/* #Login Popup
================================================== */
#loginbox h2{font-size: 15px; margin:3px;}
#loginbox .email_ico {background: url("../img/icons.png") no-repeat scroll 5px 2px #EEEEEE;padding: 18px;}
#loginbox .password_ico {background: url("../img/icons.png") no-repeat scroll 5px -48px #EEEEEE;padding: 18px;}
.input-group-addon, .input-group-btn, .input-group .form-control{padding:18px;}
.input-group{padding-bottom: 10px;}
.modal-body{padding:10px 15px}
#loginbox .forgot{float:right}
#loginbox .social_connect{margin-top: 20px}
.modal{top:15%; overflow: visible}
.fb_login,.ggl_login, .sp_login{ position: relative;border-radius: 4px; margin-bottom:10px; font-size:18px; display: block;padding: 14px 14px 14px 20%;}
.fb_login{ background-color: #324e8d; color: #fff;}
.fb_login:hover{ color: #fff; background-color:#2e4885;}
.fb_login:visited{ color: #fff;}
.fb_login:before,.ggl_login:before{ content: ""; position: absolute; left: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;background: url("../../img/Social_share_icons.png") no-repeat scroll 0 0 rgba(255,255,255, .15);}
.sp_login:before{ content: ""; position: absolute; left: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;background: url("../../img/speakol-logo.png") no-repeat scroll  rgba(255,255,255, .15); background-size: 54px;
background-position: -5px 0px;}
.ggl_login{ background-color: #d7d7d7; color: #404244;}
.ggl_login:hover{ background-color: #c9c9c9; color:#404244}
.ggl_login:visited{ color:#404244}
.fb_login:before{ background-position: center -229px;}
.ggl_login:before{ background-position: center -167px;}
.sp_login {
    background-color: #57B25F;
    color: #FFFFFF;
}
.sp_login:hover{ background-color: #34853E; color:#FFFFFF}
.ggl_login:visited{ color:#404244}
.grey_btn{margin-top: 8px;background: #3c4852;border: 0;color: #fff;border-radius: 3px;font-family: 'Source Sans Pro';font-size: 16px;line-height: 40px;padding: 0 13px;}
.sortby-dropdown {
    position: absolute;
    top: 16px;
    right: 125px;
    color: #9da2a6;
    font-size: 13px;
}

.sortby-dropdown > span {
    vertical-align: -1px;
}

.sort-order {
    background-color: transparent;
}

.sortby-dropdown .btn-default {
    background-color: #F4F3F3;
    border: none;
    color: #9da2a6;
    vertical-align: bottom;
}
.sortby-dropdown .btn-default .caret {
    border-top-color: #9da2a6;
}

.sortby-dropdown .dropdown-menu {
    min-width: 120px;
    left: 90px;
}
.sortby-dropdown .dropdown-menu>li>a:hover, 
.sortby-dropdown .dropdown-menu>li>a:focus {
    color: #333;
    text-decoration: none;
    background-color: #F4F3F3;
}

.ad-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 5px;
}

.ads-container {
    margin-bottom: -40px;
}

.sponsored-indicator {
        display: block;
        float: left; 
        width: 25px;
        height: 20px;
        overflow: hidden;
        text-indent: -9999px;
        background: url("../img/star-icon.png") no-repeat scroll 0 0 transparent;
        transition: none;
        margin-left: 5px;
        margin-top: 6px;
}

.opacity-1, .social_buttons.opacity-1 {
    opacity:1;
}

.transition-none, .social_buttons.transition-none {
    transition: none;
} 

/* #Media Queries
================================================== */

@media only screen and (max-width: 480px) {
    .content_wrapper{ }
    .nav-tabs li a{ padding:9px; font-size: 14px; }
    /* .shr_dsc{ text-indent: -9999px; overflow: hidden; right: 5px;} */
    /* .shr_dsc:hover{ padding-left: 115px; margin-top: 17px;} */
    /* .shr_dsc .social_shares{ position: absolute; top: -2px; left:25px; width: 100px; margin: 0;} */
    /* .shr_dsc .social_shares a{ margin-top: 0; display: block; float: left; } */
    .itm_img { height: 82px;}
    .ntfc .drpdwn_cont{ width: 310px;}
    .vt_btns > span{ display: block;}
    .vwrs_num{ margin: 0; padding: 5px 0 0 0;}
    .social_buttons{top: -18px; right: -10px;}
    .comment_unit .replies_actions{ text-align: center;}
    .right_pros_comments .comment_unit .vote_action,.left_pros_comments .comment_unit .vote_action{ float: none;}
    .right_pros_comments .reply,.left_pros_comments .reply{ float: none; text-align: center;}
    .right_pros_comments .reply .comment_unit,.left_pros_comments .reply .comment_unit {text-align: left;}
    .nested_comments .social_buttons{ top: -18px;}
    .n_rply_to{ display: inline-block; margin: 5px; text-align: center;}
    .pros_prtcpnts, .cons_prtcpnts{width: 40%; font-size: 12px;}
    .left_pros_comments .img_circl, .right_pros_comments .img_circl{width:20px; height: 20px;}
    .left_pros_comments .img_circl a img, .right_pros_comments .img_circl a img {height: 20px;width: 20px;}
    .comment_unit .nameAndDate { width: 140px; }
    .comment_unit .nameAndDate{ font-size: 13px;}
    .hide-xs {display: none !important;}
    .right_pros_comments .img_circl_container{ width: 175px; }
    .left_pros_comments .img_circl_container{ width: 175px; }
    .comment_on_action .img_circl_container{ width: 50px; }
    .comment_on_action .img_circl a img { width: 40px; height: 40px;  }
    .comment_unit {margin: 20px 10px;}
    .modal-dialog {
        width: 90%;
    }
    .sortby-dropdown {
        top: 16px;
        right: 17px;
        width: 200px;
    }
    .sortby-dropdown .dropdown-menu {
        left: -27px;
    }
    .sponsored-indicator {
        margin-top: 23px;
        margin-right: 5px;
    }
}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {
}

@media (max-width: 992px) {
}
/* Mobile/Browser */
@media only screen and (max-width: 767px) {
}
/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}
/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
}
/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
}
/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
}



.ninput_active{
    width: 100%;
    margin-top: 0;
    height: 80px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    resize: none;
}
.subcomment_submit{
    font-size: 16px;
    float: right;
    margin: 10px 0;
    padding: 7px 12px;
    background-color: #3C4852;
    border-radius: 4px;
    border: none;
    color: #FFF;
}

.comment_unit div.replies_actions div.reply div.reply_container div.replies-container div.comment_unit div.comment_area p {
    max-width: 100% !important;
}
.panel-collapseX,
.collapseX {
    background: #fbfbfb;
}

.arg_box_photo{width: 40px;height: 40px;float: right;margin-top: 8px;margin-right: 11px;display: none}

.fixed section.tp_br_cnt,
.fixed section.not_logged_tb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ddd;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed;
}
.tooltip_container{
    position: absolute;
    right: 0;
    top: -15px;
    height: 0;
    z-index: 99;
}
.tooltip_container a{ border-radius: 50%;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.bg-yellow {background-color: #FFCB18;}
.black { color: #222222;  }
.nws_itms_lst img {
    max-height: 100%;
}
.nws_itms_lst li {
    clear: both;
}
.top_discussion .nws_itms_lst .itm_img {
    margin: 0 10px 10px 0;
}

@media only screen and (max-width: 480px) {
    /* body  .shr_dsc { */
    /*     right: auto; */
    /*     left: -10px; */
    /*     padding-left: 80px; */
    /*     top: 12px; */
    /* } */
    body .usr_action .comment_on_action {
        width: 100%;
    }
    body .usr_action .comment_on_action .write_comment {
        font-size: 16px;
    }
    body .pros_percentbar span.number strong,
    body .cons_percentbar span.number strong {
        font-size: 14px;
        position: relative;
        top: -2px;
    }
    body .pros_percentbar span.number,
    body .cons_percentbar span.number {
        top: -20px;
        font-size: 12px;
    }
    body .usr_action .comment_on_action input[type="submit"] {
        margin: 14px 0;
        padding: 5px 12px;
    }
}
.fade.in {
	outline: none;
}
[data-readmore], [data-readmore-toggle] { display: inline-block; width: 100%; }
[data-readmore-toggle] { text-align: left;  }
[data-readmore] { overflow: hidden; }
.light-blue { color: #2A6496; }
.circle {
    border-radius: 50%;
}

.inline-block {
    display: inline-block;
}

.owner-status {
    width: 10px;
    height: 10px;
    border: 3px solid;
}
.border-green {
    border-color: #53a960;
}

.border-light-grey {
    border-color: #BEBEBE;
}

.green {
    color: #53a960;
}

.light-grey {
    color: #BEBEBE;
}

.owner-status-text {
    font-size: 10px;
    vertical-align: 2px;
}

.footer-text {
    color:#adaeae; 
    opacity: .7;
}

.footer-text:hover, .footer-text:focus {
    color:#adaeae; 
    opacity: .9;
}

.footer {
    margin-top: 20px;
}

.light-blue {
    color: #1177bb;
}
