/*General*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Source Sans Pro', arial; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased; margin: 0;}
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a,a:hover{ text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
body {font-size: 1.5em;line-height: 1.5; padding: 0; margin: 0; color: #404040;}
::-moz-selection {background: #57b25f;text-shadow: none; color: #fff;}
::selection {background: #57b25f;text-shadow: none;color: #fff;}
img {vertical-align: middle; max-width: 100%}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.title1{ font-size: 45px; font-weight: 300;}
.title4{ font-size: 30px; font-weight: 600;}
.title5{ font-size: 25px; font-weight: 600; padding-top: 10px}

/*header*/
header,footer,.c-wrapper{ max-width: 1000px; margin: auto;}
.header-container{background: #fff; padding: 50px 0;}
.logo{ display: inline-block;float:left}
.r_lgn{ float: right; line-height: 76px;}
.r_lgn span{ margin: 7px; color: #666;}
.lang_menu{float: right; font-size: 16px; font-weight: 600; line-height: 72px; color: #5c5d5c; padding-left: 7px; }
.lang_menu > .dropdown-menu { border-radius: 0px; min-width: 0px; width: 94%; box-shadow: none; border: 0px none; background: #f8f8f8; left:auto; top:71%; }
.lang_menu > .dropdown-menu > li > a { font-size: 16px; font-weight: 600; color: #57b25f; padding-left: 13px;  }
.lang_menu > .dropdown-menu > li > a:hover,  .lang_menu > .dropdown-menu > li > a:active{ background: #f0f0f0 }
.lang_menu > .dropdown-toggle.btn-default {font-size: 16px; font-weight: 600; border: none; border-radius: 0; background: #ffffff;}
.lang_menu.open > .dropdown-toggle.btn-default {font-size: 16px; font-weight: 600; border: none; border-radius: 0; background: #f8f8f8;}
.lang_menu > button > span.caret {margin-left: 11px;}
.lang_menu > .dropdown-toggle:hover, .lang_menu > .dropdown-toggle:active, .dropdown-toggle:visited, .dropdown-toggle:focus {background: #f8f8f8;}
.lnk{ color:#57b25f;font-size: 16px; font-weight: 600;}
.lnk:hover{ color:#5ebf66;}
/*value proposition (vp)*/
.vp_cont{ background: #f0f0f0 url(../img/vp_img.jpg) no-repeat scroll center center ; padding: 36px 0;}
.vp{ font-size: 45px; font-weight: 300; text-align: center;}
/*home sections*/
/* .main-container{ padding-bottom: 40px;} */
.artcl header h1{ padding: 40px 0 10px; text-align: center;}
.hw_to_us header{margin-bottom: 5px}
.hw_to_us section{ position: relative ;margin:1% 0 5% 4%; padding-left: 200px; background: url(../img/home_sections.jpg) no-repeat scroll left 0 transparent; min-height: 136px;}
.hw_to_us section p{ margin: 10px 0; font-size: 18px; padding-right: 40%;cursor:pointer}
.hw_to_us section .title4{ padding: 5px 0;}
.hw_to_us section:hover .title4{color: #57b25f;}
.hw_to_us .crt_dbt{ background-position: left 0; cursor: pointer}
.hw_to_us .crt_cmprsn{ background-position: left -237px; cursor: pointer}
.hw_to_us .argmnt_bx{ background-position: left -480px; cursor: pointer}
.hw_to_us .sec_thmb{ bottom: 0;position: absolute;right: 0;width: 37%;z-index: -1;}
.why_spkl section{background: url(../img/why_sec.jpg) no-repeat scroll left 0 transparent; min-height: 110px; padding-left: 130px; width: 43%; margin: 2% 3%; display: inline-block; vertical-align: top;}
.why_spkl section p{margin: 5px 0; font-size: 16px;}
.why_spkl .usr_invlvd{ background-position: left 0;}
.why_spkl .esy_use{ background-position: left -198px;}
.why_spkl .aud_dscvr{ background-position: left -397px;}
.why_spkl .lrn_usr{ background-position: left -595px;}
.why_spkl .bld_rplc{ background-position: left -971px;}
.why_spkl .mod_act{ background-position: left -773px;}
/*.why_spkl section:hover .title5{color: #57b25f;}*/
.who_use header .title1{ font-size: 30px;}
.who_use section{text-align: center;}
.who_use section a{padding: 0 2.5%; opacity: .4}
.who_use section a:hover{ opacity: .7;}
.who_use {display:none}
/*footer*/
.footer-container{ background: #1f2c44 url(../img/Footer.jpg) no-repeat center top scroll; padding: 60px 0;}
.f-block{ display: inline-block; width: 33%; padding: 0 2%; vertical-align: top;}
.f-block .footer_logo{padding-top: 10px; display: block;}
.f-block label,.f-block span{ display: block; color: #ced0d3; font-size: 16px; font-weight: normal; padding-bottom: 10px;}
.f-block input[type = 'text']{ display: inline-block; border: none; background-color: #fff; border-radius: 5px; padding: 7px 12px; min-width:77%; margin-right: 5px;}
.f-block input[type = 'button']{ vertical-align: top;}
.soc_cnnct {background: transparent url(../img/f_social.png) no-repeat 0 0 scroll; display: inline-block; width: 42px; height: 42px; text-indent: -999px; overflow: hidden; margin: 5px; opacity: .9}
.soc_cnnct:hover {opacity: 1;}
.facebook{ background-position: 0 0; margin-left: 0;}
.twitter{ background-position: -60px 0}
.gPlus{ background-position: -120px 0}
.instagram{ background-position: -180px 0}
.f-links {
    text-align: center;
    padding: 45px 40px 50px;
}
.f-links a{ 
    font-size: 15px; 
    color: #c3c5ca; 
    padding: 10px;
}
.f-links a:hover{ color: #fff;}
.copyRights{font-size: 13px; opacity: .6; text-align: center;color: #ced0d3}
.h_c2a{background: #57b25f; color:#fff;font-size:25px; margin:30px auto 0;text-align: center;padding:10px;border-radius:5px;display: block;width:400px}
.h_c2a:hover{color:#57b25f;background:#fff;}
.c2af_span{color:#bbb;width:600px; margin:0 auto 35px; text-align: center;display: block; font-size: 22px;}
.c2af{margin:10px auto 10px}
.c2af:hover{background: #eee}
.header-container header{margin-bottom: 75px}
/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {

    .col-lg-3.bg_drkGrey{ display:none;}
}
@media (max-width: 992px) {

    .bg_white{margin-top: 0;}
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
    #wrapper{left:0;position:relative;padding-left:0;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #sidebar-wrapper{left:0}
    #wrapper.active{position:relative;left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #wrapper.active #sidebar-wrapper{left:75px;width:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #menu-toggle{display:block;left: 10px;position: absolute;top: 10px;z-index: 200; width: 40px; height: 40px;}
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {

}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}

.r_lgn {
    position: relative;
}
.r_lgn ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background: #fff;
    top: 60px;
    left: -50px;
    display: none;
    z-index: 1000;
}
.r_lgn ul:after,
.r_lgn ul:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.r_lgn ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}
.r_lgn ul:before {
    border-color: rgba(223, 223, 223, 0);
    border-bottom-color: #dfdfdf;
    border-width: 6px;
    margin-left: -6px;
}

.r_lgn ul li {
    line-height: 44px;
}
.r_lgn ul a {
    color: #57b25f;
    line-height: 44px;
    display: block;
    padding: 0 25px 0 50px;
    white-space: nowrap;
}
.r_lgn ul a.user-account {
    border-bottom: 1px solid #dfdfdf;
    background: url(../images/user-account.png) 10px 50% no-repeat;
}
.r_lgn ul a.publisher-account {
    background: url(../images/publisher-account.png) 10px 50% no-repeat;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.testimonials {
    background: #EBF3F5;
    margin-top: 30px;
    padding: 40px 0px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}



.carousel-indicators {
    bottom: 5px;
}
.carousel-indicators li {
    background-color: #bcc2c4;
    border: 1px solid #bcc2c4;
}
.fa-quote-left {
    color: #acbbc1;
}

.fa-quote-right {
    color: #c6d2d6;
    vertical-align: -11px;
}

.carousel-captions {
    margin:auto;
    color: #1b2943;
    font-weight: 200;
    width: 80%;
}

.carousel-captions blockquote {
    font-size: 2rem;
}


.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.carousel-image {
    height: 100px;
    width: 100px;
}
.modal-content {
    top: 0px;
}

.main {
    margin-bottom: 15px;
}


.color-434e59 {
    color: #434e59;
}

.color-5bb767 {
    color: #5bb767;
}

.color-fabbbd {
    color: #fabbbd;
}

.bg-f7f7f7 {
    background: #f7f7f7;
}

.bg-white {
    background: #ffffff;
}

.visibility-hidden {
    visibility: hidden;
}

.bg-78be79 {
    background: #78be79;
}

.white {
    color: #ffffff;
}

.font-20 {
    font-size: 20px;
}

.block {
    display: block;
}

.font-16 {
    font-size: 16px;
}

.pricing-table th {
    padding: 12px 10px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 6px 6px 0px 0px;
}

.pricing-table td {
    padding: 10px;
    border: 1px solid #f7f7f7;
}


.font-35 {
    font-size: 35px;
}

.circle {
    border-radius: 50%;
}

.inline-block {
    display: inline-block;
}

.feature-info {
    font-size: 11px;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    color: #9a9a9a;
}

.bg-677079 {
    background-color: #677079;
}


.pricing-table .tooltip-inner {
    color: #ababab;
    background-color: #f1f1f1;
    border: 1px solid #78be79;
    font-size: 11px;
}

.pricing-table .tooltip.right .tooltip-arrow {
    border-right-color: #78be79;
}
            
.helvetica-font :not(.fa) {
    font-family: "HelveticaNeue", arial;
}

.uppercase {
    text-transform: uppercase;
}

.most-popular {
    border-radius: 6px 6px 0px 0px;
}

.padding-bottom-lg {
    padding-bottom:15px !important;
}


.bg-green {
    background: #5bb767;
}
.font-22 , .btn.font-22 {
    font-size: 22px;
}

.login-button {
    padding: 1px 10px 5px 10px;
}

.no-margin {
    margin: 0px !important;
}
.margin-top-xs {
    margin-top:5px !important;
}

.margin-top-sm {
    margin-top:10px !important;
}

.margin-top-lg {
    margin-top:15px !important;
}

.margin-bottom-xs {
    margin-bottom:5px !important;
}

.margin-bottom-sm {
    margin-bottom:10px !important;
}

.margin-bottom-lg {
    margin-bottom:15px !important;
}

.padding-top-xs {
    padding-top:5px !important;
}

.padding-top-sm {
    padding-top:10px !important;
}

.padding-top-lg {
    padding-top:15px !important;
}

.padding-bottom-xs {
    padding-bottom:5px !important;
}

.padding-bottom-sm {
    padding-bottom:10px !important;
}

.padding-bottom-lg {
    padding-bottom:15px !important;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.home-logo img {
    height: 60px;
}

.home-login {
     padding: 11px 16px;
     margin-right: 20px;
}

.home-login:hover {
    color: #ffffff;
    background-color: #57b25f;
}

.home-login.rtl {
    margin-right: 0px;
    margin-left: 20px;
}

.home-create {
    padding: 11px 9px 12px 9px;
    margin-right: 20px;
}

.home-create.rtl {
    margin-left: 0px;
    margin-right: 20px;
}

.lang-dropdown {
    padding: 9px 5px;
}


.add-container {
    background: #fff url(../img/community.png) no-repeat scroll 0 0;
    height: 600px;
    background-size: cover;
}

.add-header {
    font-size: 50px;
    font-weight: light;
}

.add-content {
    max-width: 950px;
    width: 90%;
    margin-top: 135px;
}

.add-content h1 {
    font-size: 50px;
}

.add-link {
    font-size: 30px;
    padding: 15px 32px;
    margin-top: 22px;
}


.edge-top {
    color: #fff;
    position: relative;
    z-index: 1;
    min-height: 1398px;
    margin-top: -60px;
}

.edge-top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: skewY(-7.5deg);
    -webkit-transform: skewY(-7.5deg);
    -moz-transform: skewY(-7.5deg);
    -o-transform: skewY(-7.5deg);
    -ms-transform: skewY(-7.5deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}

.bg-46ab5b {
    background-color: #46ab5b;
}


.italic {
    font-style: italic;
}


.home-icon {
    background: transparent url(../img/home-icons.png) no-repeat scroll 0 0;
    display: inline-block;
}

.debate-icon {
    background-position: -166px -3px;
    height: 91px;
    width: 100px;
}

.comparison-icon {
    background-position: -310px -3px;
    height: 91px;
    width: 100px;
}

.argumentsbox-icon {
    background-position: -8px -9px;
    height: 91px;
    width: 100px;
}

.plugin-description-container {
    -webkit-box-shadow: -3px -182px 156px -200px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: -3px -182px 156px -200px rgba(0, 0, 0, 0.2);
            box-shadow: -3px -182px 156px -200px rgba(0, 0, 0, 0.2);
    padding-bottom: 2px;
}

.plugin-description-container:last-of-type {
    padding-bottom: 0px;
}
.plugin-description {
    max-width: 1020px;
    width: 90%;
}

.plugin-description h2 {
    font-size: 55px;
}

.plugin-description p {
    font-size: 20px;
}

.plugin-description p.font-22 {
    font-size: 22px;
}

.spacing-right {
    padding-right: 55px;
}

.spacing-left {
    padding-left: 37px;
}

.plugin-padding {
    padding-top: 70px;
}

.debate-example {
    margin-top: -60px;
}

.create-link {
    color: #49545d;
    font-size: 26px;
    padding: 13px 33px;
    margin-top: 32px;
    border-radius: 3px;
}

.create-link:hover {
    color: #46ab5b;
}

.bg-f7f7f7 {
    background-color: #f7f7f7;
}

.font-50 {
    font-size: 50px;
}


.why-header {
    max-width: 650px;
    width: 90%;
}
.why-container {
    margin-top: 25px;
    max-width: 900px;
    width: 90%;
}
.why-section {
    background: url(../img/why_sec.png) no-repeat scroll left 0 transparent;
    min-height: 110px;
    padding-left: 135px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 48px;
} 

.rtl .why-section {
    background-position-x: right;
    padding-left: 0px;
    padding-right: 135px;
}

.why-section h3 {
    font-size: 25px;
}

.why-footer {
    position: relative;
    top: -22px;
}

.font-17, .why-section p {
    font-size: 17px;
}

.engage-section {
    background-position-y:  0;
}

.easy-section {
    background-position-y:  -197px;
}

.learn-section {
    background-position-y:  -595px;
}

.socially-section {
    background-position-y:  -397px;
}

.build-section {
    background-position-y:  -937px;
}

.moderate-section {
    background-position-y:  -756px;
}

.color-525861 {
    color: #525861;
}

.index-footer {
    background: url(../img/footer.png) no-repeat scroll left 0 transparent;
    max-width: none;
    width: 100%;
    min-height: 386px;
    background-size: cover;
}

.footer-content {
    max-width: 1002px;
    width: 90%;
    padding-top: 60px;
}

.mail-submit, input.mail-submit {
    padding: 9px 15px;
    margin-top: -6px;
}

.mail-input {
    max-width: 230px;
}


.color-c3c5ca {
    color: #c3c5ca;
}

.social-connect {
    padding-left: 60px;
}

.sample-modal .modal-content {
    background-color: transparent;
    box-shadow: none; 
    border: none;
}

.sample-modal .modal-header {
    width: 90%;
    margin-left: 5%;
    border-bottom: none;
    padding: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.sample-modal .modal-title {
    font-size: 22px;
}

.sample-modal .modal-body {
    width: 90%;
    margin-left: 5%;
    padding: 0px;
}

.sample-modal .modal-header .close {
    color: #ffffff;
    opacity: 1;
    font-size: 35px;
    margin-top: -8px;
}

.sample-modal .modal-body {
    text-align: center;
}

.sample-modal .modal-body a {
    color: #ffffff;
    background-color: #47ab5b;
    font-size: 22px;
    border-radius: 5px;
    padding: 13px 15px;
    position: relative;
    top: -12px;
}
.sample-modal .modal-body a.rtl {
    padding: 5px 15px;
}

.plugin-description h2 {
    padding-bottom: 8px;
}

.green-anchor:hover {
    color: #ffffff;
    background-color: #53a55a;
}

.footer-connect {
    padding-left: 45px;
}

.rtl .footer-connect {
    padding-left: 0px;
    padding-right: 45px;
}
