/*login*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Source Sans Pro', arial; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased; }
input[type = 'text'],input[type = 'password']{line-height: 2em;}
/* select.form-control{padding: 10px;} */
.rtl { direction:rtl;  }
.login_container{ width: 85%; padding: 10px;}
.login_container h2{margin-left: 10px;font-size: 28px; font-weight: 300; color: #21262f; background: url("../img/menu_icons.png") no-repeat scroll 0 -1428px transparent; padding-left: 45px;}
.form_cont,.social_connect{width: 49%; display: inline-block; padding: 20px 7% 20px 20px; vertical-align: top; position: relative}
.social_connect{ padding:20px 20px 20px 7%;}
.form_cont .input-group{ margin-bottom:20px;}
.form_cont .form-control{  border: solid 1px #ccc; height: auto;}
.form_cont .input-group-addon{ background: url("../img/icons.png") no-repeat scroll 0 0 #EEEEEE; padding: 18px;}
.form_cont .email_ico{background-position: 5px 9px;}
.form_cont .subject_ico{background-position: 5px -401px;}
.form_cont .password_ico{background-position:5px -42px;}
.form_cont .country_ico{background-position: 4px -725px}
.form_cont .occupation_ico{background-position: 4px -399px}
.form_cont .Birthdate_ico{background-position: 4px -405px}
.form_cont .name_ico{background-position:5px -90px;}
.form_cont .url_ico{background-position:5px -137px;}
.form_cont .category_ico{background-position:5px -193px;}
.form_cont input[type="button"],.form_cont input[type="submit"]{ padding: 6px 13px; float: right;}
.form_cont label{ font-weight: 300; font-size:16px; padding-left: 7px; }
.form_cont .forgot{ float: right; }
.form_row{
    width:75%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_row:after{content: ""; display: table; clear: both;}
.fb_login,.ggl_login{ position: relative;border-radius: 4px; margin-bottom: 20px; font-size:18px; display: block;padding: 14px 14px 14px 20%;}
.fb_login{ background-color: #324e8d; color: #fff;}
.fb_login:hover{ color: #fff; background-color:#2e4885;}
.fb_login:visited{ color: #fff;}
.fb_login:before,.ggl_login:before{ content: ""; position: absolute; left: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;}
.ggl_login{ background-color: #d7d7d7; color: #404244;}
.ggl_login:hover{ background-color: #c9c9c9; color:#404244}
.ggl_login:visited{ color:#404244}
.fb_login:before{ background-position: center -229px;}
.ggl_login:before{ background-position: center -167px;}
.input-group #country,.input-group #category { height: 38px; }
/*Register*/
.register .login_container h2{margin-left: 20px; background: url("../img/menu_icons.png") no-repeat scroll 0 -1504px transparent; }
.register .login_container{ width: 100%;}
.register .form_cont { width: 59%;padding: 20px 4% 20px 20px;}
.register .social_connect{ width: 40%;padding: 20px 20px 20px 4%;}
.register .form_row{ width: 49.5%; display: inline-block; margin: 0; padding-right: 20px;}
.register .form_row.full{ display: block;}
.register .form_row.mt{ margin-top: 15px;}
.register .form_row.mt_mi{ margin-top: -15px;}
.register .form_row.fr{float: right}
.register .form_cont input[type="button"],.register .form_cont input[type="submit"],.contact .form_cont input[type="button"]{float: left;padding: 10px 20px;width: auto;}
.register .logo_thumb{ background-color: #a3a3a3;border-radius: 50%;display: block;height: 70px;overflow: hidden;line-height: 70px;text-align: center;width: 70px; vertical-align: middle; margin: auto;}
.note-text { font-style: italic; color: #A8A8A8; }
.mb30 { margin-bottom: 30px; }
.medium-grey { color: #6e6f6f; }
.fs16 { font-size: 16px; }
@media only screen and (max-width: 700px) {
    .login_container {
        width: 100%;
    }

    .register .form_cont {
        width: 100%;
    }

    .register .form_row {
        width: 100%;
    }

    .register .form_row.mt {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .register .form_row.fr {
        float: none;
    }
    .form_cont {
        width: 100%;
        
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .register .form_row.fr {
        float: none;
    }
    .form_cont {
        width: 80%;
    }
    .register .form_row {
        width: 90%;
    }
}
.login-close {
    margin: auto;
    margin-top: 17px;
    margin-bottom: 10px;
}


.login-header h3 {
    padding-left: 40px;
}

.login-form input[type="submit"] {
    width: 35%;
    background-color: #3d4a62;
}

.remember-me {
    margin-top: 10px;
    padding-left: 9px;
}

.remember-me label {
    font-weight: 400;
    color: #6e6f6f;
}

.forgot {
    margin-top: 10px;
}

.forgot a {
    color: #6e6f6f;
}

.big-button {
    width: 65%;
    padding: 2% 0;
    text-align: left;
    font-size: 18px;
    height: 45px;
}

.big-button.text-center {
    text-align: center;
}

.big-button .fa.pull-left {
    margin-left: 1em;
    margin-right: 1em;
    width: 10%;
    border-right: 1px solid rgba(255, 255, 255, 0.53);
    height: 24px;
    padding-top: 4px;
}

.bg-facebook-blue {
    background-color: #3b5998;
}

.bg-google-blue {
    background-color: #2584d9;
}

.margin-bottom {
    margin-bottom: 10px;
}

.negative-margin-top {
    margin-top: -10px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .login-form input[type="submit"] {
        width: 50%;
    }

    .big-button {
        width:75%;
        font-size: 16px;
    }
}
