body{direction:rtl;}/*login*/
input[type = 'text'],input[type = 'password']{line-height: 2em;}
select.form-control{padding: 10px;}
.login_container{ width: 85%; padding: 10px;}
.login_container h2{margin-right: 10px;font-size: 28px; font-weight: 300; color: #21262f; background: url("../img/menu_icons.png") no-repeat scroll 100% -1428px transparent; padding-right: 45px;}
.form_cont,.social_connect{width: 49%; display: inline-block; padding: 20px 20px 20px 7% ; vertical-align: top; position: relative}
.social_connect{ padding: 20px 7% 20px 20px;}
.form_cont .input-group{ margin-bottom:20px;}
.form_cont .form-control{  border: solid 1px #ccc; height: auto;}
.form_cont .input-group-addon{ background: url("../img/icons.png") no-repeat scroll 100% 0 #EEEEEE; padding: 18px;}
.form_cont .email_ico{background-position: 5px 9px;}
.form_cont .subject_ico{background-position: 5px -401px;}
.form_cont .password_ico{background-position: 5px -42px;}
.form_cont .country_ico{background-position: 4px -725px}
.form_cont .name_ico{background-position: 5px -90px;}
.form_cont .url_ico{background-position: 5px -137px;}
.form_cont .category_ico{background-position: 5px -193px;}
.form_cont input[type="button"],.form_cont input[type="submit"]{ padding: 6px 13px; float: left;}
.form_cont label{ font-weight: 300; font-size:16px; padding-right: 7px; }
.form_cont .forgot{ float: left; }
.form_row{ margin-bottom:10px; }
.form_row:after{content: ""; display: table; clear: both;}
.fb_login,.ggl_login{ position: relative;border-radius: 4px; margin-bottom: 20px; font-size:18px; display: block;padding: 14px 20% 14px 14px;}
.fb_login{ background-color: #324e8d; color: #fff;}
.fb_login:hover{ color: #fff; background-color:#2e4885;}
.fb_login:visited{ color: #fff;}
.fb_login:before,.ggl_login:before{ content: ""; position: absolute; right: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;}
.ggl_login{ background-color: #d7d7d7; color: #404244;}
.ggl_login:hover{ background-color: #c9c9c9; color:#404244}
.ggl_login:visited{ color:#404244}
.fb_login:before{ background-position: center -229px;}
.ggl_login:before{ background-position: center -167px;}
.input-group #country,.input-group #category { height: 38px; }
/*Register*/
.register .login_container h2{margin-right: 20px; background: url("../img/menu_icons.png") no-repeat scroll 100% -1504px transparent; }
.register .login_container{ width: 100%;}
.register .form_cont { width: 59%;padding: 20px 20px 20px 4%;}
.register .social_connect{ width: 40%;padding: 20px 4% 20px 20px;}
.register .form_row{ width: 49.5%; display: inline-block; margin: 0; padding-left: 20px;}
.register .form_row.full{ display: block;}
.register .form_row.mt{ margin-top: 15px;}
.register .form_row.mt_mi{ margin-top: -15px;}
.register .form_row.fr{float: left}
.register .form_cont input[type="button"],.register .form_cont input[type="submit"],.contact .form_cont input[type="button"]{float: right;padding: 10px 20px;width: auto;}
.register .logo_thumb{ background-color: #a3a3a3;border-radius: 50%;display: inline-block;height: 70px;overflow: hidden;line-height: 70px;text-align: center;width: 70px; vertical-align: middle}
.input-group-addon:first-child {
    border-radius: 0px 9px 9px 0px;
}

.form-control:last-child {
    border-radius: 9px 0px 0px 9px !important;
}
.input-group-addon:first-child {
    border: 1px solid #CCC;
    border-left: 0px none;
}
.note-text { font-style: italic; color: #A8A8A8; }
