/*General*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Source Sans Pro'; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a{ text-decoration: none; color: #1177bb;}
a:hover{ color:#00A7F5; text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
html, body {height:100%;}
.bg_grey{ background-color: #f9fafc;}
.bg_white{ background-color: #fff; margin-top: -140px;}
.bg_drkGrey{background-color: #0d0d0d; padding: 0;}
.Section_title{ font-size: 27px; color: #969696; font-weight: 300; margin: 10px 0; display: inline-block;}
.img_circl{border-radius: 50%;display: inline-block;height: 57px;margin: auto;overflow: hidden;text-align: center;vertical-align: middle;width: 57px; text-indent: 0;}
.img_circl a{ display: block;}
.img_circl img{ width: 100%;}
.red_disagreed{ color:#a70b0c;}
.green_agreed{ color: #1ea91e;}
.fileUpload {position: relative;overflow: hidden;margin: 10px;vertical-align: middle;}
.fileUpload input[type = "file"],.fileUpload input[type = "file"]:focus {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0); height: 60%; width: 100%;}
#uploadFile{ background-color: transparent; border: none; width:auto; font-size: 13px; color: #999;}
input[type=text],input[type=password],textarea, input[type=date] { font-size: 16px; color: #6e6f6f; border: solid 1px #EBEBEB; border-radius: 4px; font-weight: 400; padding: 9px 0; width: 78%; text-indent: 10px;}
input[type=text]:hover,input[type=password]:hover, textarea:hover, input[type=date]:hover{ border-color: #d1d1d1;}
input[type=text]:focus,input[type=password]:focus, textarea:focus, input[type=date]:focus{ border-color: #1177bb; color: #080808; outline: none;}
input[type=button],input[type=submit],.link_btn, #uploadPhoto{ font-size: 16px; color: #fff; border-radius: 4px; border: none; font-weight: 400; padding: 9px; background-color: #0098dc; }
input[type=submit].create_button{ font-size: 16px; color: #fff; border-radius: 4px; border: none; font-weight: 400; padding: 9px ; background-color: #0098dc; }
input[type=button]:hover,input[type=submit]:hover,.link_btn:hover{ background-color: #00a7f5;color: #fff}
input[type=button]:active,input[type=submit]:active{ background-color: #0098dc; color: #fff}
.link_btn:visited{color: #fff}
.inner_aside{ background-color: #fff; clear: both; padding:5px 5px 5px 0; display: block; position: relative; z-index: 55;}
.inner_aside .Section_title{ margin-left: 7px;}
.outer_aside{ display: block; }
.Ad_MR{ text-align: center;background-color: #fff;}
.Ad_MR img{width: 100%;}
.item_title{
	margin: 0 0 8px 0;
	line-height: 27px;
}
.item_title a, .item_title span{text-decoration: none; font-size:19px; color: #3e3e3e; margin: 0; font-weight: normal; line-height: 15px; }
.item_title a:hover{ color: #000;}
.side_link, .refresh{ float: right;margin-right: 10px;margin-top: 20px; color: #fff; font-size: 13px;}
.refresh{background: url("../../img/Arrows.png") no-repeat scroll -6px -75px transparent; width: 18px; height: 20px; overflow: hidden; text-indent: -9999px;
         -moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;-webkit-transition: all 1s ease;transition: all 1s ease;}
.refresh:hover{ -moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform: rotate(360deg);}

.follow_btn{display:table; padding: 2px 5px; border-radius: 3px; color:rgba(0,0,0,.5); font-size: 14px; margin-top: 5px; text-indent: 25px; background: url("../../img/Arrows.png") no-repeat scroll 0 -266px #b9eb83; opacity: .9;}
.follow_btn:hover{ opacity: 1; color:rgba(0,0,0,.6);}

.following_btn{display: inline-block; padding: 2px 15px; border-radius: 3px; color:#333; font-size: 14px; margin-top: 5px; text-indent: 0px; background: #e7e8e9; opacity: .9;}
.following_btn:hover{background: url("../../img/social.png") no-repeat scroll 4px -322px #ffc1b4;text-indent: 25px; color: #222; padding: 2px 7px;}
.follow_list{ padding: 10px;}
.follow_list li {display: inline-block; width: 49%;}

.no_padding{ padding: 0;}
.no_margin{ margin: 0;}
.cover_img_container{ position: relative;}
.cover_img_container:after{opacity:.8;position:absolute; bottom:0; width:100%; content:''; height:170px;background: url("../../img/black_gradient.png") repeat-x scroll 0 bottom transparent;}
.cover_img_container img{ width: 100%;}
.cover_img_container:hover .change_cover{ opacity:.9;}
.change_cover, .change_cover:visited{box-shadow: 0 2px 3px rgba(0,0,0,.2); padding: 7px 10px; position: absolute; top:70px; right: 70px; border-radius: 3px; opacity:0; color: #252628;
                                     -moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
                                     background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );}
.cover_img_container .change_cover:hover{ color: #000; opacity: 1;}
.Add_cover{ display:block;width: 65px; height: 45px; opacity:.5; text-indent: -9999px; overflow: hidden; position: absolute; bottom: 160px; left: 45px; z-index: 55; background: url("../../img/LRG_icon.png") no-repeat scroll center bottom transparent;
            -moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.Add_cover:hover{ opacity: .7;}
.img_comment{ margin: 0 7px; border-top: solid 1px #EBEBEB; position: relative; padding: 10px 0; }
.context_img{ border: solid 2px #fff; border-radius: 2px; box-shadow: 0 0 0 1px #a7b8d1; max-width: 100%; }
.close_btn{ display: block; width: 15px; height: 15px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../../img/icons.png") no-repeat scroll center -80px transparent; opacity: .5; }
.add_img{display: block; width: 25px; height: 20px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../../img/icons.png") no-repeat scroll center top transparent; opacity: .7; }
.close_btn:hover,.add_img:hover{ opacity:1; }
.img_circl_container{ position: relative;}
.fl{ float: left;}
.btn {background-color: #1177bb;border-radius: 5px;color: #fff;padding: 5px 10px;font-size: 16px;opacity: .9;}
.btn:hover {color: #fff;opacity: 1;}
.blue_btn {background-color: #0098dc;}
.green_btn {background-color: #57b25f !important;}

.filter_feed{float: right; margin-top: 15px; overflow: hidden;background: url("../../img/Arrows.png") no-repeat scroll right -30px transparent;}
.filter_feed:hover{ background-position: right 10px;}
.filter_feed:hover select{ background-color: rgba(0,0,0,.02)}
.filter_feed label,.stories_feed .filter_feed select{ font-size: 14px; font-weight: lighter; color: #969696; text-transform:uppercase;}
.filter_feed select{ border: none; background-color: transparent; cursor: pointer; margin-right: -19px; padding: 5px 2px;}
.filter_feed select:hover{ color: #444;}
.filter_feed select:focus{ outline: none;}
.filter_feed select option{ padding-right: 40px;}

/*stories_feed Big_issues & topics*/
.stories_feed.big_issues, .stories_feed.topics{ background-color: transparent;}
.stories_feed.big_issues .vertical_list li {height: 220px;}
.stories_feed.topics{ padding: 10px;}
.stories_feed.topics .section_title{ padding: 10px 20px; font-size: 40px; color: #6f6f6f;}

/*404 error & coming soon*/
.story_container.error_404{ background-color: #fff; text-align: center; padding:60px 30px;}
.error_404 .v_lrg{ font-size: 180px; color: #29303b; font-weight: 100; text-align: center; line-height: 120px;}
.error_404 .lrg{ font-size: 70px; color: #29303b; font-weight: 300; text-align: center; line-height: 120px;}
.error_404 .v_lrg span, .error_404 .lrg span{ font-size: 44px; color: #29303b; display: block; font-weight: 300;}
.error_404 .med{ color: #676a71; font-size: 26px; font-weight: 300; margin-bottom: 40px;}
.error_404 p{ font-size: 20px; font-weight: 300; color: #555;}
.error_404 .btn{ font-size: 20px; font-weight: 300;}

/*Actions button*/
.comment_unit{ position: relative;}
.actions_buttons { position: absolute;z-index: 1;top: 10px; right: 0; margin: 0;}
.actions_buttons li{float: left; display: flex;}
.actions_buttons a{ box-shadow: 0 0 1px #dadbdb ;display:inline-block; overflow: hidden; text-indent: -999px; width: 40px; height: 34px; background: #fff url(../../img/actions_icons.png) no-repeat scroll 0 0}
.actions_buttons li:first-child a{ border-radius: 2px 0 0 2px;}
.actions_buttons li:last-child a{ border-radius: 0 2px 2px 0;}
.actions_buttons li:only-child a{ border-radius: 2px;}
.actions_buttons a:hover{  box-shadow: 0 0 1px #999;z-index: 999; }
.actions_buttons a.approve_button{ background-position: 7px 11px;}
.actions_buttons a.publish_button{ background-position: 6px -177px;}
.actions_buttons a.mute_button{ background-position: 7px -57px;}
.actions_buttons a.delete_button{ background-position: 6px -125px; }
.actions_buttons a.edit_button{ background-position: 6px -235px; }
.actions_buttons a.add_button{ background-position: 7px -294px; }

/*sidebar*/
#wrapper{padding-left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
#sidebar-wrapper{margin-left:-75px;left:75px;width:75px;background:#5bb767;position:fixed;height:100%;z-index:1000;-webkit-transition: all .2s ease;
                 -moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
#page-content-wrapper{width:100%; max-width:1310px; overflow: hidden;min-height: 620px;}
#menu-toggle{display:none;}
.sidebar-nav{position:absolute;top:0;list-style:none;margin:0;padding:0; width: 100%;}
.sidebar-nav > li{line-height:40px; box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;}
.sidebar-nav > li.sidebar_usr:not(.not_LoggedIn){ box-shadow: none;}
.sidebar-nav > li > a{ font-weight:300;width:75px;color:transparent;display:block;text-decoration:none; height: 60px; background: url("../../img/menu_icons.png") no-repeat scroll 0 0 transparent; text-indent: -20px; opacity: .9;padding-top: 10px;
                       -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s; }
.sidebar-nav > li > a:hover,.sidebar-nav > li.current > a:hover{text-indent: 85px;background-color:rgba(105, 209, 118, 0.85);text-decoration:none; opacity: 1; color:#1d7427; font-size: 19px;}
.sidebar-nav > li > a:active,.sidebar-nav > li > a:focus{text-decoration:none}

.sidebar-nav>.sidebar_brand{height:60px;line-height:60px; box-shadow: none; margin-bottom: 30px;}
.sidebar-nav>.sidebar_brand a{color:#fff; background: none; text-indent: 10px; opacity: 1; }
.sidebar-nav>.sidebar_brand a:hover{ background-color: transparent; text-indent: 10px;font-size:16px;}.sidebar-nav>.sidebar_usr > a{text-indent:0; background-position: 14px -800px;}
.sidebar-nav>.sidebar_usr > a:hover{ width: 150px;}
.sidebar-nav>.sidebar_dshbrd a{background-position: 14px 11px;}
.sidebar-nav>.sidebar_dshbrd a:hover{width: 190px;}
.sidebar-nav>.sidebar_dbt a{background-position: 14px -50px;}
.sidebar-nav>.sidebar_dbt a:hover{width: 155px;}
.sidebar-nav>.sidebar_cmprsn a{background-position: 14px -111px;}
.sidebar-nav>.sidebar_cmprsn a:hover{width: 195px;}
.sidebar-nav>.sidebar_opinion a{background-position: 14px -173px;}
.sidebar-nav>.sidebar_opinion a:hover{width: 160px;}
.sidebar-nav > li.searchBar > span{  position: relative; cursor: pointer;width:75px;color:transparent;display:block;text-decoration:none; height: 60px; background: url("../../img/menu_icons.png") no-repeat scroll  14px -738px transparent; text-indent: -20px; opacity: .4;padding-top: 10px;
                                     -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s; }
.sidebar-nav > li.searchBar > span:hover{ width: 505px;background-color:rgba(33,38,47,.8); opacity: 1; box-shadow: 0 0 1px rgba(0,0,0,02) inset}
.sidebar-nav > li.searchBar > span.active{background-color:#21262F;width: 505px;opacity: 1;}
.sidebar-nav > li.searchBar > span input[type=text]{opacity: 0;position: absolute;top: 11px;width: 0;left: -1px; background-color: transparent; border: none; border-radius: 2px; box-shadow:0 2px 0 #CCC inset; padding: 5px; height: 39px; line-height: 20px; font-size: 17px; text-indent: 5px;
                                                    -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s;}
.sidebar-nav > li.searchBar > span:hover input[type=text],.sidebar-nav > li.searchBar > span.active input[type=text]{opacity: .85; left: 85px; width: 81%; background-color: #fff;}
.sidebar-nav > li.searchBar > span.active input[type=text]:focus{opacity: 1; font-weight: 400;}
.content-header{height:65px;line-height:65px}
.content-header h1{margin-left:20px;line-height:65px;display:inline-block}
.sidebar-nav>.sidebar_usr{ position: relative;}
.sidebar-nav>.sidebar_usr .ntfic_num{ z-index: 10; background-color: #D34346;border-radius: 3px;color: #FFFFFF;display: block;font-family: arial;font-size: 11px;line-height: normal;position: absolute;right: 10px;text-indent: 0;top: 4px;}
/*instant search drop down*/
.inast_srch_dd{ text-indent:0;opacity: 0;position: absolute;top: 50px;left: -1px; background-color: #21262F; height: 0; width: 430px; z-index: -99; overflow: hidden;
                -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s;}
.sidebar-nav > li.searchBar > span:hover .inast_srch_dd,.sidebar-nav > li.searchBar > span.active .inast_srch_dd{ opacity: 1;left: 75px;}
.sidebar-nav > li.searchBar > span.active .inast_srch_dd{height: 0;opacity: 0;}
.sidebar-nav > li.searchBar > span.active .inast_srch_dd.opened{height: auto;opacity: 1; z-index: 99;}

.srch_rslts{padding:0 10px; cursor: default;}
.srch_rslts li{border-bottom: solid 1px #29303b; padding: 20px 0; margin: 0 5px;}
.srch_rslts .item_title{ margin-bottom:0;}
.srch_rslts .item_title a{color: #94979d; font-size: 18px; vertical-align: top;}
.srch_rslts .item_title a:hover{color: #fff; font-size: 18px;}
.srch_rslts .feed_time{ line-height: normal;}
.srch_rslts .feed_time time{color: #6e6f6f; font-size: 13px;}
.srch_rslts .feed_time .interact{float: right; font-size: 13px; margin-right: 5px;}
.srch_rslts .feed_time .item_type{ background-color: #45494f; border-radius: 3px; padding: 1px 5px; margin-right: 5px; font-size: 12px; color: #fff;}
.viewAll{ display: block; padding: 7px; text-align: center; text-transform: uppercase; font-weight: 600; font-size: 13px;}
/*menu toggle button*/
.navicon-button { display: inline-block; position: relative; padding: 15px; transition: 0.4s; cursor: pointer; user-select: none; opacity: 1; font-size: 1rem; }
.navicon-button .navicon:before, .navicon-button .navicon:after { transition: 0.25s; }
.navicon-button:hover { transition: 0.5s; opacity: 1; }
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after { transition: 0.25s; }
.navicon-button:hover .navicon:after { top: -0.825rem; }
.navicon-button:hover .navicon:before { top: .825rem; }
.navicon { position: relative; width: 2.5em; height: 2px; background: #fff; transition: 0.5s;}
.navicon:after, .navicon:before { display: block; content: ""; height: 2px; width: 2.5rem; background: #fff; position: absolute; z-index: -1; transition: 0.5s 0.25s; }
.navicon:after { top: -0.625rem; }
.navicon:before { top: .625rem; }
.open:not(.steps) .navicon:before, .open:not(.steps) .navicon:after { top: 0 !important; }
.open .navicon:before, .open .navicon:after { transition: 0.5s; }
.open.x .navicon { background: transparent; }
.open.x .navicon:after { transform: rotate(45deg);-webkit-transform: rotate(45deg) }
.open.x .navicon:before { transform: rotate(-45deg);-webkit-transform : rotate(-45deg)}

/*tooltip*/
.tooltip_container a{ background-color: #FFCB18;border-radius: 50%;color: #222222;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.left_explain .tooltip_container{ margin-right: -225px; margin-top: -20px;}
.tooltip_container .tooltip .tooltip-inner{ background-color: #fff; color:#666666; box-shadow: 0 0 5px rgba(0,0,0,.3); padding: 5px; }
.tooltip_container .tooltip.top .tooltip-arrow{ border-top-color: #fff;}
.tooltip_container .tooltip.right .tooltip-arrow{ border-right-color: #fff;}

/*profile popup*/
.popup{ cursor: pointer; padding: 7px 0;}
.popup:hover{ background-color: #191D23;}
.popup_container{ display:none;z-index: 99;width: 410px; padding: 7px; border-radius: 0 3px 3px 0; background-color: #191d23;position: absolute;top:0px; left:75px; white-space: nowrap;
                  -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.popup_container > a{ text-align: center; text-align: center; color: #fff; display: block; padding: 10px 0 15px; border-bottom: solid #222 1px;}
.popup_container > a:hover{ background-color: #333;}
.popup_container .userName{ font-size: 22px; color: #6e6f6f; margin: 5px 10px; display: inline-block;}
.popup_container a.editProfile{ display: inline-block; background-color: #131518; color: #1177bb; font-size: 14px; font-weight: normal; line-height: normal; padding: 3px;}
.popup_container a.editProfile:hover{ background-color: #1177bb; color: #131518; border-radius: 3px; font-size: 14px;}
/*comments and notifications tabs*/
.sidebar_usr .tabs_container{ background-color: #131518; float: right; width: 100%;}
.sidebar_usr .nav-tabs{ border: none; margin-top: -40px;}
.sidebar_usr .nav-tabs > li{ float: right;}
.sidebar_usr .nav-tabs > li > a{ margin:0; width: 50px;border: none; height: 40px; text-indent: -999px; background: url("../../img/popup_icons.png") no-repeat scroll center 0 transparent; }
.sidebar_usr .nav-tabs > li.cmnts > a{ background-position: center -50px;}
.sidebar_usr .nav-tabs > li.ntfctions > a{ background-position: center 10px;}
.sidebar_usr .nav-tabs > li > a:hover{ text-indent: -999px;}
.sidebar_usr .nav-tabs .ntfic_num{ top: 5px; right:5px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background-color: #131518; border: none;}
.sidebar_usr ul.tabs_items{ padding: 1px;}
.sidebar_usr ul.tabs_items li{ box-shadow: none;}
.sidebar_usr .tabs_items a.msg_content{display: block; background-image: none; text-indent: 0; white-space: normal; padding: 5px 10px; margin:5px; width: auto;}
.sidebar_usr .tabs_items a.msg_content.unread{ background-color: #191d23; position: relative;}
.sidebar_usr .tabs_items a.unread:before{ background-color: #2e3237; content: ''; width: 15px; height: 15px; border-radius: 50%; position: absolute; right: 15px; top: 40%; }
.sidebar_usr .tabs_items a.msg_content:hover{ text-indent: 0;}
.sidebar_usr .tabs_items a.msg_content .img_circl_container{ float: left; margin-right: 7px; margin-top: 7px;}
.sidebar_usr .tabs_items a.msg_content .img_circl_container .img_circl{ width: 40px; height: 40px;}
.sidebar_usr .tabs_items a.msg_content .msg_info{ float: left; width: 80%; line-height: normal;vertical-align: top;}
.sidebar_usr .tabs_items a.msg_content .msg_info .userName{ font-size: 14px; color: #1177bb; font-weight: bold; margin: 0 0 2px;}
.sidebar_usr .tabs_items a.msg_content .msg_info .time{ font-size: 12px; color: #4f5359; }
.sidebar_usr .tabs_items a.msg_content .msg_info .messageText{ font-size: 13px; margin-bottom: 5px;}

.ntfic_list li > a,.tabs_items li > a,.ntfic_list li > span { border-bottom: solid 1px #191d23; font-size: 13px; color: #9f9f9f; font-weight: normal; display: block; width: 100%; height: auto; padding: 0; text-indent: 30px;background: url("../../img/popup_icons.png") no-repeat scroll 0 0 transparent;}
.ntfic_list li > a:hover{ font-size: 13px; color: #fff; text-indent: 35px; }
.ntfic_list li a.follower{ background-position: 1px -111px;}
.ntfic_list li a.upVote{background-position: 1px -172px;}
.ntfic_list li a.all_ntfctions{background: none; color:#1177bb; text-align: center;text-indent: 0; width: auto; }
.ntfic_list li a.all_ntfctions:hover{ color: #1597ed;}


/*open debates(side bar section)*/
.open_debates .item_title {  width: 80%;}
.open_debates{ padding:0 10px;}
.horiz_list li{ border-bottom: solid 1px #E6E8E9; margin-bottom: 10px; padding-bottom: 15px;}
.horiz_list li:last-child{ border-bottom: none;}

/*most discussed opinions (side bar section) */
.most_discussed{ padding: 0 10px;}
.most_discussed .item_title a{ font-size: 18px; color: #1177bb;}
.most_discussed .item_title a:hover{ font-size: 18px; color: #00A7F5;}
.most_discussed .voting_circle{ float: left; padding: 0 10px; text-align: center;}
.title_info .opinion_authour{ font-size: 14px; color: #666666;}
.title_info .opinion_authour a{color: #666666;}
.title_info .opinion_authour a:hover{color: #000;}

/*trending (side bar section)*/
.trending{ background-color:#252628; padding: 10px; }
.vertical_list li{ float: left; margin: 2.4%; border-radius: 3px; overflow: hidden; position: relative; }
.vertical_list li a{}
.trending .vertical_list li{width: 45%; background: url("../../img/default.png") no-repeat scroll center center #151515; height: 124px;}
.vertical_list li > a img,.vertical_list li > img,.vertical_list .tpc_item > img{ width: 100%;}
.black_gradient{background: url("../../img/black_gradient.png") repeat-x scroll 0 bottom transparent; position: absolute; height: 100%; width: 100%; bottom: 0;}
.vertical_list li > a span,.vertical_list li > .tpc_item span{ color: #fff; font-size: 19px; font-weight: lighter; z-index: 20; display:block;padding-left: 5px; position: absolute; bottom: 2px; }
.vertical_list li a:hover span{ color: #0098dc;}
/*big issues (side bar section)*/
.big_issues{background-color:#1d1e1f; padding: 10px;}
.big_issues .vertical_list li{ width: 95%; height: 160px;}
.big_issues .black_gradient{ padding: 0 7px;}
.big_issues .black_gradient .comments_number,.big_issues .black_gradient .interact{ color: #fff; position: absolute; bottom: 5px;}
.big_issues .black_gradient .comments_number{ right: 7px;background-position: -5px -232px;}
.big_issues .black_gradient .interact{ left: 7px; color: #e1e1e1; font-weight: lighter;}
.big_issues .black_gradient .interact:hover{ left: 7px; color: #fff;}
.big_issues .black_gradient .percentage_bar{ position: absolute; bottom: 33px; width: 95%; }
.big_issues .black_gradient .percentage_bar a span{color: #fff; }
.big_issues a.up_percent, .big_issues a.down_percent{ height: 18px; padding: 0; line-height: 17px; font-size: 13px;}
.big_issues .black_gradient .item_title a{ color: #fff; font-size: 28px; font-weight: lighter; position:absolute; bottom: 65px;}
.big_issues .black_gradient .item_title a:hover{color: #00A7F5;}
/*topics (side bar section)*/
.topics{ padding: 10px; background-color: #181819;}
.topics .vertical_list li{ width: 45%; margin: 0 2.4%;}
.topics .vertical_list li .item_title a{ font-size: 22px; color: #f7f7f7; font-weight: 300;}
.topics .vertical_list li .item_title a:hover{ font-size: 22px; color: #00A7F5;}
/*pplToFollow (side bar section)*/
.pplToFollow{ padding: 10px; background-color: #121212;}
.user_unit{ padding: 3px 0;}
.user_unit .img_circl_container{ float: left;}
.user_unit .User_info{ padding-left: 10px; float: left;}
.user_unit .userName{ margin-right: 10px; font-size: 17px; font-weight: 400;}
.followUser,.unfollowUser{ font-size: 13px; color: #fff; background-color: #147307; border-radius: 3px; padding: 1px 10px; width: 55px;}
.unfollowUser{ background-color:#980a0b; color: #fff}
.unfollowUser:hover{ background-color:#b30c0c; color: #fff}
.followUser:hover{ background-color: #188c08;color: #fff}
.userjob{ font-size:13px; font-style: italic; color: #8a8a8a; margin-top: 2px; }
/*popular tags (side bar section)*/
.popular_tags .vertical_list li{ overflow: visible;width:30%; margin: 0 4% 4% 0; position: static;}
.popular_tags .vertical_list li:nth-child(3n){ margin-right:0;}
.popular_tags .vertical_list li > a{ position: relative;display: block; height: 135px;background: url("../../img/default.png") no-repeat scroll center center #151515; overflow: hidden; border-radius: 3px;}

/*details page (debate, opinion, comparison)*/
.story_container{ background-color: #eaeaea;}
.story_content_body{
    margin: -140px 23px 0;
    background-color: #f5f6f8;
    position: relative;
    z-index: 10;
}
.story_content_lPanel{ background-color: #f9fafc; padding: 20px; min-height: 520px; position: relative;}
.story_title_info{ border-bottom: solid 1px #e1e1e1; padding-bottom: 5px; position: relative;}
.story_title_info .item_title a, .story_title_info .item_title span{ font-size: 28px; font-weight: 300;}
.story_title_info .img_circl{ width: 35px; height: 35px;}
.story_title_info .user_unit{ display: inline-block;}
.story_title_info .user_unit .User_info{ margin-top: 5px;}
.story_title_info .follow_btn{ display: inline-block; font-size: 13px; padding: 0 7px; text-indent: 15px; background-position: 1px -269px;}
.social_shares{ display: inline-block; cursor: default; float: right; margin-top: 10px;}
.social_shares .shares_count{ font-size:15px; font-weight: 300; vertical-align: top; margin-right: 10px; }
.social_shares .shares_count strong{ vertical-align: top;}
.social_shares a{ display: inline-block; width: 22px; height: 22px;text-indent: -9999px; overflow: hidden; background: url("../../img/Social_share_icons.png") no-repeat 0 0 scroll; opacity: .7;}
.social_shares a:hover{ opacity: 1;}
.social_shares a.facebook_icon{ background-position: 0 0;}
.social_shares a.twitter_icon{ background-position: 0 -26px;}
.social_shares a.gPlus_icon{ background-position: 0 -52px;}
.social_shares a.linkedIn_icon{ background-position: 0 -78px;}
.voting_container{ text-align: center; padding:20px 0;}
.story_text{ padding:10px 0;}
.story_text p{ font-size: 16px; margin-bottom: 20px;}
.story_text .context_img{ float: right; margin: 10px;}
.story_date_actions{position: absolute; width: 95%; bottom: 15px;}
.story_date_actions time{ color: #949aa2;}
.story_date_actions .actions_container{ position: relative; float: right; width: 50%; height: 20px;}
.story_date_actions .actions_container .social_buttons{ opacity: 1;}
.story_date_actions .actions_container .social_buttons a{ text-indent: 0; white-space: nowrap; width: auto; padding-left: 27px; color: #6e6f6f; margin: 0 10px;}
.related_content{ background-color: #404244; padding: 10px 10px 0;}
.related_content .Section_title{ font-size: 16px; color: #adb2b7;}
.related_content ul{ margin: 0;}
.related_content .vertical_list li{ border-radius: 0; margin:7px 0 12px;}
.related_content .vertical_list li > a span{ font-size: 15px; color:#adb2b7; position: static; font-weight: normal; padding: 5px 0 0;}
.related_content .vertical_list li > a:hover span{ color: #fff;}
.LB_Ad{ padding: 15px; background-color: #e1e1e1; text-align: center;}
.LB_Ad img{ max-width: 100%;}
.voting_numbers{ margin: 10px 0;}
.voting_numbers .userName{ color: #0f82b6;}
.votes_one_num,.votes_two_num, .votes_up_num, .votes_down_num{ display: inline-block; padding: 0 5px;}
.votes_one_num{ border-right: solid 1px #c0c0c0;}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #166e16;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}
#newOpinion .story_title_info{ border: 1px solid #EBEBEB; border-radius: 4px;}
#newOpinion .story_title_info:hover{ border: 1px solid #D1D1D1;}
#newOpinion .story_title_info > input[type="text"],#newOpinion .story_title_info > textarea{ border: none; resize: none; width: 100%; padding: 12px 5px;}
#newOpinion .story_title_info .form_row{  margin:7px 12px;}
#newOpinion .story_title_info .form_row:after{content: ""; clear: both;display: table;}
#newOpinion .story_title_info .form_row input,#newOpinion .story_title_info .form_row a{ float: right;}
#newOpinion .story_title_info .form_row a{ margin: 10px 0;}
/*user action in details pages*/
.story_content_body .user_action_container{ padding: 15px; min-height: 140px;}
.story_content_body .user_action_container .user_action{ width: 55%; margin: auto;}
.story_content_body .user_action_container .percentage_bar_container { margin: auto; width: 60%;}
.story_content_body .user_action_container > span{ font-size: 21px; padding: 10px 0 20px; display: block; text-align: center;}
.story_content_body .user_action .comment_on_action .img_circl_container{ float: left; margin-right: 10px;}
.story_content_body .user_action .comment_on_action .comment_area{  float: left; width: 86%;}
.story_content_body .user_action .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #EBEBEB;}
.story_content_body .user_action .comment_on_action .tA_container:hover{border: 1px solid #d1d1d1;}
.story_content_body .user_action .comment_on_action .tA_container .close_btn{ position: absolute; top: 0; right: 0;}
.story_content_body .user_action .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none; padding-bottom: 0;height: 55px;}
.story_content_body .user_action .comment_on_action input[type="button"]{ font-size: 14px; float: right; margin: 10px 0; padding: 5px 0; width: 25%; font-weight: 300;}
.story_content_body .user_action .comment_on_action .add_img{ float: right;margin: 15px 10px 5px;}
.user_action_container .user_action > span{ padding: 10px 0; display: block; margin: 5px 0;}

/*comment on item*/
.comment_unit .reply_container{ background-color: #ecf0f6; position: relative; padding: 10px; border-radius: 3px; margin-top: 15px; text-align: left;}
.comment_unit .reply_container:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#ecf0f6; }
.comment_unit .comment_on_action .tA_container .close_btn{position: absolute;right: 0;top: 0;}
.comment_unit .comment_on_action .tA_container .img_comment{ text-align: left;}
.comment_unit .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #dee2e8;}
.comment_unit .comment_on_action .tA_container:hover{border: 1px solid #d1d1d1;}
.comment_unit .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none; padding-bottom: 0;height: 55px;}
.comment_unit .comment_on_action input[type="button"]{ font-size: 14px; float: right; margin: 10px 0; padding: 5px 25px; width: 25%; font-weight: 300;}
.comment_unit .comment_on_action .add_img{ float: right;margin: 15px 10px 5px; text-align: left;}
.comment_unit .vote_action .votes_up.voted{ background-position: 1px -7px;}
.comment_unit .vote_action .votes_down.voted{ background-position: 1px -59px;}
.comments_number{ opacity: .85; margin-left:10px; font-size:13px;float: right; color: #6e6f6f; padding-left: 20px;background: url("../../img/social.png") no-repeat scroll -5px 1px transparent;}
.comments_number:hover{ opacity: 1; color:#555 }
.comments_number.reports_number{ background-position: -5px -282px;}
/*Attachments*/
/*Attached link*/
.attached{ padding: 10px 25px 10px 10px; position: relative; width: 80%;}
.attached .close_btn{ position: absolute; right: 5px; top: 7px; z-index: 12;}
.attached .img_container{ width: 100px; height: 80px; overflow: hidden; border-radius: 4px; position: relative; float: left; margin-right: 10px;}
.attached .img_container img{ width: 100%;}
.attached .img_container .prev, .attached .img_container .next{ width: 22px; height: 27px; display: block; background: rgba(0,0,0,.5) url("../../img/icons.png") no-repeat scroll center 0; position:absolute; z-index: 10; bottom: 0; float: right; overflow: hidden; text-indent: -9999px;}
.attached .img_container .prev:hover, .attached .img_container .next:hover{ background-color: rgba(0,152,220, .9);}
.attached .img_container .next{ right: 0; background-position: center -116px;}
.attached .img_container .prev{ right: 23px; border-top-left-radius: 4px;background-position: center -166px;}
.attached .data_container{ position: relative; padding: 0 10px;}
.attached .data_container .link_title{ font-size: 15px; margin-bottom: 5px; display: block;}
.attached .data_container .link_desc{ font-size: 12px; color: #737373;}
.attached .img_container .play{ width: 100%; height: 100%; display: block; background: transparent url("../../img/icons.png") no-repeat scroll center -191px; position:absolute; z-index: 10; bottom: 0;overflow: hidden; text-indent: -9999px; opacity: .8;}
.attached .img_container .play:hover{opacity: 1;}
.attached.atchd_pic .img_container{ width:130px; height: 100px; }
.attached.atchd_pic .close_btn{ top: 0; right: 5px; background-color: rgba(255,255,255, .8);border-radius: 2px;padding: 8px;}

/*footer*/
footer{
    padding: 10px 10px 100px;
}

.footer_links{ margin-bottom:10px;}
.footer_links li{float: left; margin-right: 4%;}
.footer_links li:last-child{margin-right: 0;}
.footer_links li a{ color:#a2a1a1; font-size: 14px;}
.footer_links li a:hover{color: #fff;}
.copyRights{ color: #a2a1a1; font-size: 13px; font-weight: 300;}

/*static pages*/
.story_container.static_content{ padding: 10px 25px; background-color: #fff;}
.story_container.static_content h1{ font-size: 33px; font-weight: 300; margin-bottom: 25px;}
.story_container.static_content p{ margin: 30px 0;}
.story_container.static_content p.large{ font-size: 25px; font-weight: 300; line-height: 32px;}
.story_container.static_content p.normal{ font-size: 18px; font-weight: 300; line-height: 25px;}
.story_container.static_content .context_img{ float: right; margin: 10px;}



/*colors*/
a.orange{ border-color: #ff7800; background-color: #ff7800;}
a.purple{ border-color: #a954a8; background-color: #a954a8;}
a.green{ border-color: #56d156; background-color: #56d156;}
a.red{ border-color: #f22c2c; background-color: #f22c2c;}
a.grey{ border-color: #9e9e9e; background-color: #9e9e9e;}
a.blue{ border-color: #3dc2e0; background-color: #3dc2e0;}
a.pink{ border-color: #ed77ba; background-color: #ed77ba;}

/*visibility style*/
.visible{ display: block; opacity: 1;}


/*confirmation messages*/
.cnfrm_msg{ padding: 7px; border-radius: 5px; background-color: #ddd; margin: 10px; position: relative;}
.cnfrm_msg p{ line-height: 30px; font-size: 16px; margin: 0; position: relative; padding-left: 40px;}
.cnfrm_msg .close_btn{ position: absolute; right: 10px; top: 10px;}
.cnfrm_msg.info_msg{ background-color:#bee7f1; color:#217088;}
.cnfrm_msg.caution_msg{ background-color:#fbe2a7; color:#966f1d;}
.cnfrm_msg.err_msg{ background-color:#f9c6c6; color:#9b3535;}
.cnfrm_msg.success_msg{ background-color:#cdeea7; color:#58a427;}
.cnfrm_msg .btn{ font-size: 14px; margin-left: 10px;}
.cnfrm_msg p:before{ position: absolute; left: 0; top: 0; content:''; width: 30px; height: 30px; border-radius: 50%; background:url(../../img/actions_icons.png) no-repeat scroll 0 0 transparent;}
.cnfrm_msg.info_msg p:before{ background-color:#49aec7; background-position: 3px -562px;}
.cnfrm_msg.caution_msg p:before{ background-color:#e6b729;background-position: 3px -626px;}
.cnfrm_msg.err_msg p:before{ background-color:#dc5959;background-position: 2px -418px;}
.cnfrm_msg.success_msg p:before{ background-color:#87c749;background-position: 3px -360px}

/* A way to improve the layout of the main content and the sidebar in a none hacky way */
.page-content {
    display: table;
    width: 100%;
}
.page-content > .no_padding,
.page-content > .bg_drkGrey {
    display: table-cell;
    float: none;
    vertical-align: top;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {

    .col-lg-3.bg_drkGrey{ display:none;}
}
@media (max-width: 992px) {

    .bg_white{margin-top: 0;}
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
    #wrapper{left:0;position:relative;padding-left:0;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #sidebar-wrapper{left:0}
    #wrapper.active{position:relative;left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #wrapper.active #sidebar-wrapper{left:75px;width:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #menu-toggle{display:block;left: 10px;position: absolute;top: 10px;z-index: 200; width: 40px; height: 40px;}
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {

}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}

.covered {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.covered-block {
    display: inline-block;
    width: 57px;
    height: 57px;
}
.button {
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
    outline: none;
    padding: 0 15px;
}
.button-style1 {
    background: #0098dc;
    color: #fff;
}
.overlay {
    background: #1b1923;
    background: rgba(27,25,35,0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
}
.back a {
	margin-left: 10px;
}
