.login_msg{float: right;direction: rtl;}
.nav-tabs>li{float:right;direction: rtl}
.shr_dsc{float: left;direction: rtl;background: url(../img/icons-2.png) no-repeat right -229px;padding-right: 30px;}
.social_shares{margin-left: 0;margin-right: 7px}
.panel-title a{direction: rtl;}
.comment_unit{direction: rtl}

.tooltip_container{right: auto;left: 0}
.by_speakol{text-align: left;direction: rtl;right:auto;}
.by_speakol span{text-indent: 9999px;}
.replies-container .comment_area{clear: both;}

/* Logged In User Area */
.tp_br_cnt{direction: rtl;}
.right_ntfc_cmnts{float: left;}
.ntfc .drpdwn_cont{right: -280px;}
/* End Logged in user area */

.vote_action > div{float: right;}
.votes_up_num, .votes_down_num{border-left: solid 1px #f2f2f2;border-right: 0 none} 
.votes_down_num{border-left: 0 none}
/* Login Pop-up */
.modal-dialog{direction: rtl;}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) 
{border-radius: 0 5px 5px 0;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child)
{border-radius: 5px 0 0 5px;border-right: 0 none}
#loginbox .forgot{float:left}
.close{float: left;}
.add_speakol {
    padding-right: 30px;
    white-space: nowrap;
    color: #ADAEAE;
    opacity: 0.7;
    float: right;
    direction: rtl;
}

.comparison_items li{float: right;}
.comparison_details .comparison_items li {border-left: 1px solid #dbdbdb;border-right: 0 none}
.comparison_details .pros_percentbar span.percent{left:0; right:auto;}
.comparison_details .pros_percentbar span.number{right: 0;left: auto;direction: rtl;}
.comparison_items .img_circl{float: right;margin-right: 0}
.img_circl_container{direction: rtl;float: right;margin-right: 0}
.comment_unit .nameAndDate{text-align: right;float: right;padding-right: 5px}
.social_buttons{right: auto;left: 5px}
.comment_unit .nameAndDate{padding-left: 0; padding-right: 5px}
.comment_unit .argument_time{padding-right: 4px;clear: both;text-align: right;}
.comment_unit .comment_area{text-align: right;}
.comment_unit .comment_area p{direction: rtl;text-align: right;}
.social_buttons a{text-indent: 9999px}
.comparison_items li:last-child {border: 0 none;}
.comparison_items .comment_unit .vote_action{float: right;}
.comparison_items .reply,.reply > a{text-align: left;background: url("../img/icons-2.png") no-repeat scroll 28px -390px transparent;padding-right: 20px;padding-left: 0}
.usr_action .comment_on_action .comment_area{padding-right: 70px; padding-left: 0}
.comment_unit .comment_on_action input[type="submit"],.comment_unit .comment_on_action .add_img{float: left;}
.usr_action .comment_on_action .tA_container:before{left: auto;right: -19px;background-image: url(../img/nub-rtl.png);}
.sortby-dropdown {
    right: auto;
    left: 260px;
    direction: rtl;
}
.sortby-dropdown .dropdown-menu {
    left: auto;
    right: 104px;
}
.left_pros_comments .ad-container .comment_area {
    padding-top: 36px;
}
.ad-container.comment_unit .argument_time {
    width: 224px;
}

@media only screen and (max-width: 767px) {
	.comparison_container .item_title {
		font-size: 16px;
		line-height: 1.6;
	}
	.comparison_percentbar .pros_percentbar span.number strong {
		float: right;
		margin-bottom: 6px;
	}
	.pros_percentbar span.number {
		font-size: 14px;
	}
	.comparison_items .item_vote_btn {
		margin-top: 5px;
	}
	.comment_unit .argument_time {
		width: 322px;
	}
	.img_circl_container {
		float: none;
	}
	.comparison_items .item_photo {
		max-width: 100%;
	}
}
.vwrs_num{ float: right;color: #898989; padding: 15px 0; font-weight: 300;display:none}
[data-readmore], [data-readmore-toggle] { display: inline-block; width: 100%; }
[data-readmore-toggle] { text-align: left;  }
[data-readmore] { overflow: hidden; }
.footer {
    direction: rtl;
}

@media only screen and (max-width: 480px) {
    .shr_dsc {
        width: 163px;
    }
    .sortby-dropdown {
        left: 57px;
    }

    .sortby-dropdown .dropdown-menu {
        right: auto;
        left: 104px;
    }
}
