/*General*/
html[lang="ar"] .raw_code_container, html[lang="ar"] .form-text { direction: rtl;  }
/* html { */
/*     position: relative; */
/*     min-height: 100%; */
/* } */
html, body {
    height: 100%;
}
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'HelveticaNeue', arial; -webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
.tahoma, .tahoma *,.tahoma h1,.tahoma h2,.tahoma h3,.tahoma h4,.tahoma h5,.tahoma h6, .tahoma .h1, .tahoma .h2, .tahoma .h3, .tahoma .h4, .tahoma .h5, .tahoma .h6{font-family:Tahoma, arial; -webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
.tahoma .fa { font-family: FontAwesome; }
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a{ text-decoration: none; color: #1177bb;}
a:hover{ color:#00A7F5; text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
body {font-size: 1.5em; font-weight: normal; line-height: 1.5; padding: 0; margin: 0; color: #404040;}
html{height: 100%;}
.btn {background-color: #57b25f; border-radius:5px;color: #fff; padding:5px 10px; font-size: 16px; opacity: .9}
.blue_btn {background-color: #0098dc;}
.btn:hover,.blue_btn:hover {opacity: 1; color: #fff;}
.btn-reset {
    border: none;
    border-radius: none;
    background: transparent;
}

.anchor-reset {
    color: inherit;
    text-decoration: none;
}


.anchor-reset:hover {
    color: currentColor;
}


.select-reset {
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img{ max-width: 100%;}
/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.sp-block-group, .sp-block, .sp-block-group:after, .sp-block:after, .sp-block-group:before, .sp-block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Clearfix */
.sp-block-group {
  *zoom: 1;
}
.sp-block-group:before, .sp-block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.sp-block-group:after {
  clear: both;
}

.sp-block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Default sp-block */
.sp-block {
  float: left;
  position: relative;
  min-height: 1px;
  width: 100%;
}

.justified {
    text-align: justify;
}

.justifed-item {
    display: inline-block;
}
.justifed-item:after {
    content: '';
    width: 100%;
    display: inline-block;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.decoration-underline, a.decoration-underline {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0.3;
}

.sp-inline-xs {
    display: none !important;
}


.one {
    width: 8.333333333%;
}

.two {
    width: 16.6666666667%;
}

.three {
    width: 25%;
}

.four {
    width: 33.33333333%;
}

.five {
    width: 41.66666667%;
}

.six {
    width: 50%;
}

.seven {
    width: 58.333333333%;
}

.eight {
    width: 66.66666667%;
}

.nine {
    width: 75%;
}

.ten {
    width: 83.33333333333%;
}

.eleven {
    width: 91.66666666667%;
}
.one-offset {
    margin-left: 8.333333333%;    
}

.one-offset-right {
    margin-right: 8.3333333333%;
}

.two-offset {
    margin-left: 16.66666667%;
}

.four-offset {
    margin-left: 33.33333333%;
}

.one-push {
    left: 8.33333333333%;
}

.four-push {
    left: 33.3333333333%;
}

.six-push {
    left: 50%;
}

.nine-push {
    left: 75%;
}

.five-pull {
    right: 41.66666667%;
}
.six-pull {
    right: 50%;
}

.eleven-pull {
    right: 91.666666667%;
}

.white-space-normal {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

.wide-line-height {
    line-height: 1.5;
}


.more_cont{ background-color: #f4f4f4;display: block; padding:7px; border-radius: 7px; text-align: center;}
.more_cont:hover{ background-color: #f0f0f0;}
.popup{ position: relative;}
.popup_container{ position: absolute; z-index: 999; top: 100%; right: 0; display: none;}
#page-content-wrapper.greyesh {position: relative;}
.dimmed:before{position: absolute; z-index: 100; width: 100%; height: 100%; content: ''; background-color: rgba(237,237,237,.5);}
.Section_title{ font-size: 27px; color: #969696; font-weight: 300; margin: 10px 0; display: inline-block;}
.side_link, .refresh{ float: right;margin-right: 10px;margin-top: 20px; color: #fff; font-size: 13px;}
.no_padding{padding: 0;}
.voting_container{ text-align: center;}
.fileUpload {position: relative;vertical-align: middle;}
.fileUpload input[type = "file"],.fileUpload input[type = "file"]:focus {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0); height: 100%; width: 100%;}
.register .fileUpload {
    margin: 10px;
}
#uploadFile{ background-color: transparent; border: none; width:auto; font-size: 13px; color: #999;}
.blc{ margin: 20px; vertical-align: top;}
.blc.st_l{ margin-left: 0; }
.blc.hlf{ width: 40%; display: inline-block;}
.retrieve_code{float: right;margin-right: 53px;margin-top: 11px;}
.modal-dialog select{font-size:16px;}

.comment_unit{ position: relative;margin-left: 40px}
pre#gnrtd_code{margin:15px 0 10px; direction: ltr;}
.modal-footer{border-top:0 none; margin:0;}
.modal-body{padding:20px 20px 0}
.actions_buttons { position: absolute;z-index: 1;top: 5px; right: 0; margin: 0;}
.actions_buttons li{float: left; display: flex;}
.actions_buttons a{ box-shadow: 0 0 1px #dadbdb ;display:inline-block; overflow: hidden; text-indent: -999px; width: 40px; height: 34px; background: #fff url(../img/actions_icons.png) no-repeat scroll 0 0}
.actions_buttons li:first-child a{ border-radius: 5px 0 0 5px;}
.actions_buttons li:last-child a{ border-radius: 0 5px 5px 0;}
.actions_buttons li:only-child a{ border-radius: 5px;}
.actions_buttons a:hover{  box-shadow: 0 0 1px #999;z-index: 999; }
.actions_buttons a.approve_button{ background-position: 7px 11px;}
.actions_buttons a.publish_button{ background-position: 6px -177px;}
.actions_buttons a.mute_button{ background-position: 7px -57px;}
.actions_buttons a.delete_button{ background-position: 6px -125px; }
.actions_buttons a.edit_button{ background-position: 6px -235px; }
.actions_buttons a.add_button{ background-position: 7px -294px; }

.vote_action{ display: inline-block;}
.votes_up_num, .votes_down_num{ display: inline-block; padding: 0 5px; border-right: solid 1px #f2f2f2;}
.votes_down_num{ border: none;}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;opacity: .75;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #166e16;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}
.comment_unit .vote_action .votes_up,.comment_unit .vote_action .votes_down{ font-size: 14px; color: #7e7e7e; font-weight: normal; padding: 0 20px 0 0;}
.comment_unit .vote_action .votes_up:hover,.comment_unit .vote_action .votes_down:hover{opacity: 1;}
.comment_unit .vote_action .votes_up{ background-position: 3px -228px;}
.comment_unit .vote_action .votes_down{ background-position: 3px -280px;}
.comment_unit .vote_action .votes_up.voted{ background-position: 3px -7px;}
.comment_unit .vote_action .votes_down.voted{ background-position: 3px -59px;}
.reports,.padg_gry{ float: right;}
.reports > span{ display: inline-block; padding-left: 20px; background: url("../img/icons.png") no-repeat scroll -7px -350px transparent; opacity: .75; color: #999;font-size: 14px; font-weight: 300;}
.padg_gry > span{display: inline-block; padding: 2px 5px; border-radius: 4px; background-color:#bfbfbf ; color: #fff;font-size: 12px; font-weight: 300;}


input[type=text],input[type=password], input[type=tel],textarea{ font-size: 14px; color: #6e6f6f; border: solid 1px #EBEBEB; border-radius: 4px; font-weight: 400; padding: 6px 0; width: 78%; text-indent: 10px;}
input[type=text]:hover,input[type=password]:hover, textarea:hover{ border-color: #d1d1d1;}
input[type=text]:focus,input[type=password]:focus, textarea:focus{ border-color: #1177bb; color: #080808; outline: none;}
input[type=button],input[type=submit],.link_btn{ font-size: 16px; color: #fff; border-radius: 4px; border: none; font-weight: 400; padding: 9px; background-color: #0098dc;}
input[type=button]:hover,input[type=submit]:hover,.link_btn:hover{ background-color: #00a7f5;color: #fff}
input[type=button]:active,input[type=submit]:active{ background-color: #0098dc; color: #fff}
/*tooltip*/
.tooltip_container a{ border-radius: 50%;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.bg-yellow {background-color: #FFCB18;}
.black { color: #222222;  }
.left_explain .tooltip_container{ margin-right: -225px; margin-top: -20px;}
.tooltip_container .tooltip .tooltip-inner{ background-color: #fff; color:#666666; box-shadow: 0 0 5px rgba(0,0,0,.3); padding: 5px; }
.tooltip_container .tooltip.top .tooltip-arrow{ border-top-color: #fff;}
.tooltip_container .tooltip.right .tooltip-arrow{ border-right-color: #fff;}

/*static pages*/
.story_container.static_content{ padding: 10px 25px; background-color: #fff;}
.story_container.static_content h1{ font-size: 33px; font-weight: 300; margin-bottom: 25px;}
.story_container.static_content p{ margin: 30px 0;}
.story_container.static_content p.large{ font-size: 25px; font-weight: 300; line-height: 32px;}
.story_container.static_content p.normal{ font-size: 18px; font-weight: 300; line-height: 25px;}
.story_container.static_content .context_img{ float: right; margin: 10px;}


/*trending (side bar section)*/
.outer_aside{background-color:#252628;}
.bg_drkGrey{background-color:#252628;}
.trending{  padding: 10px; }
.vertical_list li{ float: left; margin: 2.4%; border-radius: 3px; overflow: hidden; position: relative; }
.vertical_list li a{}
.trending .vertical_list li{width: 45%; background: url("../img/default.png") no-repeat scroll center center #151515; height: 124px;}
.vertical_list li > a img,.vertical_list li > img{ width: 100%;}
.black_gradient{background: url("../img/black_gradient.png") repeat-x scroll 0 bottom transparent; position: absolute; height: 100%; width: 100%; bottom: 0;}
.vertical_list li > a span{ color: #fff; font-size: 19px; font-weight: lighter; z-index: 20; display:block;padding-left: 5px; position: absolute; bottom: 2px; }
.vertical_list li a:hover span{ color: #0098dc;}
.dropzone img { max-width: none; }
/* .dropzone , .dropzone .cropWrapper {border-radius: 50%;} */

/*footer*/
/* footer{ padding: 10px 10px 100px; } */
.footer_links{ margin-bottom:10px;}
.footer_links li:last-child{margin-right: 0;}
.footer_links li a{ color:#a2a1a1; font-size: 14px;}
.footer_links li a:hover{color: #fff;}
.copyRights{ color: #a2a1a1; font-size: 13px; font-weight: 300;}

/*sidebar*/
#wrapper{padding-left:75px; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }
#sidebar-wrapper{margin-left:-75px; left:75px; width:75px; background:#5bb767; position:fixed; 
    height: 100%; z-index:1000; -webkit-transition: all .2s ease;
                 -moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
#page-content-wrapper{width:100%; max-width:1310px; -overflow: hidden}
#menu-toggle{display:none;}
.sidebar-nav{position:absolute;top:0;list-style:none;margin:0;padding:0; width: 100%;}
.sidebar-nav > li{line-height:40px; box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;}
.sidebar-nav > li.sidebar_usr:not(.not_LoggedIn){ box-shadow: none;}
.sidebar-nav > li > a{ font-weight:300;width:75px;color:transparent;display:block;text-decoration:none; height: 60px; background: url("../img/menu_icons.png") no-repeat scroll 0 0 transparent; text-indent: -20px; opacity: .9;padding-top: 10px;text-align: center;
                       -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s; }
.sidebar-nav > li > a:hover,.sidebar-nav > li.current > a:hover{width: 250px; text-align: center;text-indent: 85px;background-color:rgba(105, 209, 118, 0.85);text-decoration:none; opacity: 1; color:#1d7427; font-size: 19px;}
.sidebar-nav > li.sidebar_brand > a:hover{width: inherit;}
.sidebar-nav > li > a:active,.sidebar-nav > li > a:focus{text-decoration:none}
.sidebar-nav>.sidebar_brand{height:60px;line-height:60px; box-shadow: none; margin-bottom: 30px;}
.sidebar-nav>.sidebar_brand a{color:#fff; background: none; text-indent: 10px; opacity: 1; }
.sidebar-nav>.sidebar_brand a:hover{ background-color: transparent; text-indent: 10px;font-size:16px;}
.sidebar-nav>.sidebar_login > a{text-indent:0; background-position: 16px -135px;}
.sidebar-nav>.sidebar_login.current > a{text-indent:0; background-position: 16px -212px; opacity: 1;}
.sidebar-nav>.sidebar_register a{background-position: 16px 15px;}
.sidebar-nav>.sidebar_register.current a{background-position: 16px -58px; opacity: 1;}
.sidebar-nav>.sidebar_dshbrd a{background-position: 16px -290px;}
.sidebar-nav>.sidebar_dshbrd.current a{background-position: 16px -372px; opacity: 1;}
.sidebar-nav>.sidebar_dbt a{background-position:16px -458px;}
.sidebar-nav>.sidebar_dbt.current a{background-position:16px -538px; opacity: 1;}
.sidebar-nav>.sidebar_cmprsn a{background-position:16px -625px;}
.sidebar-nav>.sidebar_cmprsn.current a{background-position:16px -706px; opacity: 1;}
.sidebar-nav>.sidebar_argmnt a{background-position:15px -793px;}
.sidebar-nav>.sidebar_argmnt.current a{background-position:15px -878px; opacity: 1;}
.sidebar-nav>.sidebar_mdrt a{background-position:15px -956px;}
.sidebar-nav>.sidebar_mdrt.current a{background-position:15px -1037px; opacity: 1;}
.sidebar-nav>.sidebar_anlsys a{background-position:15px -1116px;}
.sidebar-nav>.sidebar_anlsys.current a{background-position:15px -1185px; opacity: 1;}
.sidebar-nav>.sidebar_aignout a{background-position:15px -1261px;}
.sidebar-nav>.sidebar_aignout.current a{background-position:15px -1337px; opacity: 1;}

.content-header{height:65px;line-height:65px}
.content-header h1{margin-left:20px;line-height:65px;display:inline-block}

.grnbtn{background: #57b25f; color: #fff; font-size: 20px; margin: 0; text-align: center; padding: 10px; border-radius: 5px; display: block; width:240px}
.grnbtn:hover{background: #eee; color:#57b25f; }
.img_circl.add{border: 2px dotted #ccc;}
.img_circl {border: 2px solid #ededed; border-radius: 50%; display: inline-block; width: 57px; height: 57px; margin: auto; overflow: hidden; text-align: center; vertical-align: middle; }
.img_circl a {display: block;}
.nameAndDate{display: inline-block;font-size: 15px;padding: 0 7px;vertical-align: middle;}
.nameAndDate time{color: #7e7e7e;display: block;font-size: 12px;font-weight: 300;}
.nameAndDate .n_repl_to{display:inline-block;font-size: 12px;}

.top_bar{ background-color: #ebeced; padding:10px;}
.top_bar h1{display: inline-block ;font-size: 21px; margin: 0 5px; vertical-align: middle;}
.top_bar .img_circl_container{ display: inline-block;}


/*menu toggle button*/
.navicon-button { display: inline-block; position: relative; padding: 15px; transition: 0.4s; cursor: pointer; user-select: none; opacity: 1; font-size: 1rem; }
.navicon-button .navicon:before, .navicon-button .navicon:after { transition: 0.25s; }
.navicon-button:hover { transition: 0.5s; opacity: 1; }
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after { transition: 0.25s; }
.navicon-button:hover .navicon:after { top: -0.825rem; }
.navicon-button:hover .navicon:before { top: .825rem; }
.navicon { position: relative; width: 2.5em; height: 2px; background: #fff; transition: 0.5s;}
.navicon:after, .navicon:before { display: block; content: ""; height: 2px; width: 2.5rem; background: #fff; position: absolute; z-index: -1; transition: 0.5s 0.25s; }
.navicon:after { top: -0.625rem; }
.navicon:before { top: .625rem; }
.open:not(.steps) .navicon:before, .open:not(.steps) .navicon:after { top: 0 !important; }
.open .navicon:before, .open .navicon:after { transition: 0.5s; }
.open.x .navicon { background: transparent; }
.open.x .navicon:after { transform: rotate(45deg);-webkit-transform: rotate(45deg) }
.open.x .navicon:before { transform: rotate(-45deg);-webkit-transform : rotate(-45deg)}

.modal-content{padding:10px !important}



.remove_comparison_item{position: relative;right: -136px;top: 7px;display: block !important;border-radius: 50%;height: 25px;width: 25px;background: #fff}

.remove_comparison_item a{color:maroon; font-family: tahoma;  display: block;}
.remove_comparison_item:hover{background: maroon;  color:#fff}
.remove_comparison_item:hover a{color:#fff; }
.remove_comparison_item a:hover{color:#fff; }

.form-horizontal.reset-align .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.tip {
    padding-top: 10px;
    margin-top: 10px;
}


.tip:before {
  content:'';
  display: inline-block;
  position: absolute;
  bottom: 100%;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-left: 10px solid transparent;
}

.tip.notification-tip:before {
    left:69%;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f0f0f0;
    border-left: 5px solid transparent;
}

.tip.notification-plugin-tip:before {
    left: 92%;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f0f0f0;
    border-left: 5px solid transparent;
}

.small-tip:before {
  content:'';
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 83%;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e4e4e4;
  border-left: 5px solid transparent;
}

.small-tip.small-tip-notification:after, .small-tip.small-tip-notification:before {
    border-bottom-color: #f0f0f0;
}

.small-tip:after {
  content:'';
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 83.5%;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
}



.right-tip:before {
  right: 5%;
}

.left-tip:before {
    left: 5%;
}

.tip-f9f9f9:before {
    border-bottom-color: #f9f9f9;
}
.covered {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.width-78 {
    width: 78%;
}

.width-90 {
    width: 90%;
}

.width-92 {
    width: 92%;
}

.width-95 {
    width: 95% !important;
}
.bg-grey{background: #3c4852;}
input.p5 { padding: 5px; }

.bg-green, input.bg-green {
    background: #5bb767;
}

.green {
    color: #5bb767;
}

.bg-666c77 {
    background-color: #666c77;
}

.bg-fafafa {
    background-color: #fafafa;
}
.bg-bee7f1 {
    background-color: #bee7f1;
} 
.bg-fbe2a7 {
    background-color: #fbe2a7;
} 
.bg-f9c6c6 {
    background-color: #f9c6c6;
} 
.bg-dff0d8 {
    background-color: #dff0d8;
}

.color-6e6f6f {
    color: #6e6f6f;
}
.color-abacad {
    color: #abacad;
}
.color-468847 {
    color: #468847;
}
.color-a6a6a6 {
    color: #a6a6a6;
}
.color-585858 {
    color: #585858;
}
.color-499856 {
    color: #499856;
}
.color-bbbbbb {
    color: #bbbbbb;
}
.color-9b3535 {
    color: #9b3535;
} 
.color-dc5959 {
    color: #dc5959;
}
.color-217088 {
    color: #217088;
} 
.color-49aec7 {
    color: #49aec7;
}
.color-966f1d {
    color: #966f1d;
} 
.color-e6b729 {
    color: #e6b729;
}

.bg-f0f0f0 {
    background-color: #f0f0f0;
}

.bg-eaeaeb {
    background-color: #eaeaeb;
}

.bg-b5b5b5 {
    background-color: #b5b5b5;
}

.bg-ec2300 {
    background-color: #ec2300;
}

.bg-57b25f, input[type=submit].bg-57b25f {
    background-color: #57b25f;
}
.bg-bb1111 {
    background-color: #bb1111;
}

.bg-f7f7f7 {
    background-color: #f7f7f7;
}

.bg-647a88 {
    background-color: #647a88;
}

.bg-f7f7f7 {
    background-color: #f7f7f7;
}
.bg-f5f5f5 {
    background-color: #f5f5f5;
}

.bg-555555 {
    background-color: #555555;
}

.bg-efefef {
    background-color: #efefef;
}

.bg-4e4e4e, input.bg-4e4e4e {
    background-color: #4e4e4e;
}

.bg-f1f1f1 {
    background-color: #f1f1f1;

}

input.bg-4e4e4e:hover, input.bg-4e4e4e:focus {
    background-color: #4e4e4e;
}

input.border-ea2525, .border-ea2525 {
    border: 1px solid #ea2525;
}
.border-e9e9e9 {
    border: 1px solid #e9e9e9;
}

.border-dfdfdf {
    border: 1px solid #dfdfdf;
}

.border-e7e7e7 {
    border: 1px solid #e7e7e7;
}

.border-e4e4e4 {
    border: 1px solid #e4e4e4;
}

.border-ebebeb {
    border: solid 1px #ebebeb;
}

.border-transparent {
    border: 1px solid transparent;
}

.bg-fdfdfd {
    background: #fdfdfd;
}


.comparison-item-container {
    padding-left: 10px;
    padding-right: 10px;
}
.comparison-item {
    padding: 10px;
}




.green-focus:focus,
input[type=text].green-focus:focus, 
input[type=password].green-focus:focus,
input[type=tel].green-focus:focus,
textarea.green-focus:focus,
.form-control.green-focus:focus {
    border-color: #5bb767;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input.form-control {
    line-height: 2em;
}

input.jitter-fix {
    box-sizing: content-box;
}

input.form-control::-webkit-input-placeholder { /* WebKit browsers */
  line-height: inherit;
}
input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 2em;
}
input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 2em;
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: 2em;
}

@-moz-document url-prefix() {
    select.form-control {
        height: auto;
    }
}


button.green-btn, input[type=submit].green-btn {
    background: #5bb767;
}

button.green-btn:hover, button.green-btn:focus, input[type=submit].green-btn:hover, input[type=submit].green-btn:focus {
    background: #499856;
}


.bg-transparent {
    background: transparent;
}


.bg-f3f3f3 {
    background-color: #f3f3f3;
}

.no-border {
    border: none;
}

.white {
    color: white;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block
}

.height-all {
    height: 100%;
}
.width-all {
    width: 100% !important;
}

.width-150 {
    width: 150% !important;
}

.responsive-iframe iframe {
    width: 100%;
}

.line-behind {
    display: table;
    margin: auto;
}
.line-behind:after,
.line-behind:before {
    background-image: -webkit-linear-gradient(transparent 50%, #efefef 40%, #efefef 60%, transparent 60%);
    background-image:    -moz-linear-gradient(transparent 50%, #efefef 40%, #efefef 60%, transparent 60%);
    background-image:     -ms-linear-gradient(transparent 50%, #efefef 40%, #efefef 60%, transparent 60%);
    background-image:      -o-linear-gradient(transparent 50%, #efefef 40%, #efefef 60%, transparent 60%);
    background-image:         linear-gradient(transparent 50%, #efefef 40%, #efefef 60%, transparent 60%);
    content: '';
    display: table-cell;
    width: 45%;
/* Everything below allows us to have a little bit of space between the title and the decoration */
    -webkit-background-clip: padding;
       -moz-background-clip: padding;
            background-clip: padding;
}
.line-behind:after {
    border-left: 1.2em solid transparent;
}
.line-behind:before {
    border-right: 1.2em solid transparent;
}

.sidebar-nav > li.sidebar_info > a {
    background-image: url('/images/user_icon.png');
    background-position: 23px;
}

.bg-medium-green {
    background: #499856;
}

.bg-dark-green {
    background: #3d8248;
}


.height-all {
    height: 100%;
}

.fixed {
    position: fixed;
}

.sidebar-link {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.sidebar-link:hover, .sidebar-link:focus, .sidebar-link:visited {
    background: #3d8248;
}

.sidebar-link.current {
    background: #3d8248;
}

.hover-color-inherit:hover, .hover-color-inherit:focus, .hover-color-inherit:active, .hover-color-inherit:visited {
    color: currentColor;
}

.break-word {
    word-wrap: break-word;
}

.color-333333 {
    color: #333333;
}

.color-909090 {
    color: #909090;
}
.color-57b25f {
    color: #57b25f;
}
.color-6c9ecb {
    color: #6c9ecb;
}
.color-1362ad {
    color: #1362ad;
}

.color-a4a9b2, input[type="text"].color-a4a9b2, input[type="password"].color-a4a9b2 {
    color: #a4a9b2;
}

.color-585858, .dropdown-menu.color-585858 > li > a {
    color: #585858;
}

.color-565656 , .dropdown-menu.color-565656 > li > a {
    color: #565656;
}

.color-555555 {
    color: #555555;
}

.color-9e9a9a {
    color: #9e9a9a;
}

.color-c8c4c4 {
    color: #c8c4c4;
}

.color-acb6bb {
    color: #acb6bb;
}

.color-ec2300 {
    color: #ec2300;
}
.color-32a044 {
    color: #32a044;
}

.color-676767 {
    color: #676767;
}

.color-6dad78 {
    color: #6dad78;
}

.color-b5b9bc {
    color: #b5b9bc;
}

.color-dadada {
    color: #dadada;
}

.color-666666 {
    color: #666666;
}

.color-898b8e {
    color: #898b8e;
}

.color-c1cacf {
    color: #c1cacf;
}

.hover-c1cacf:hover, .hover-c1cacf:focus, .hover-c1cacf:visited {
    color: #c1cacf;
}

.color-aebac1 {
    color: #aebac1;
}


.color-5bb767 {
    color: #5bb767;
}

.color-dadada {
    color: #dadada;
}

.color-cacccd {
    color: #cacccd;
}

.color-9ca7ad {
    color: #9ca7ad;
}

.bg-e6e6e6 {
    background: #e6e6e6;
}

.bg-f9f9f9 {
    background-color: #f9f9f9;
}

.color-7f8287 {
    color: #7f8287;
}


.speakol-icon {
    background: transparent url("/img/dashboard-icons.png") no-repeat scroll 0% 0%;
    display: inline-block;
    width: 50px;
    height: 35px;
    vertical-align: middle;
}

.speakol-icon-md {
   width: 35px;
   height: 35px;
}
.speakol-icon.newsfeed-margin {
    margin-right: -6px;
    margin-left: -9px;
}

.sp-icon {
    background: transparent url("/img/plugin-icons.png") no-repeat scroll 0% 0%;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.sp-link-tab {
    background-position: -57px -175px;
    margin-bottom: 17px;
}

.sp-up-arrow {
    background-position: -52px -143px;
    height: 26px;
    width: 26px;
}

.sp-change-image {
    background-position: -46px -97px;
    width: 22px;
    height: 22px;
}
.speakol-times-circle.speakol-icon-md {
    background-position: -14px -1503px;
}

.speakol-info-circle.speakol-icon-md {
    background-position: -14px -1421px;
}

.speakol-exclamation-triangle.speakol-icon-md {
    background-position: -14px -1462px;
}


.sp-thumbs-up {
    background-position: -50px -1px;  
}

.sp-thumbs-down {
    background-position: -50px -15px;
}

.sp-caret {
    background-position: -28px -76px;
}

.sp-big-caret {
    background-position: -30px -143px;
}

.sp-comment {
    background-position: -50px -29px;
}

.sp-star-highlight {
    background-position: -65px -52px;
}

.sp-star {
    background-position: -65px -73px;
}

.sp-home {
    background-position: -49px -76px;
    height: 16px;
}

.sp-bell {
    
}

.sp-check {
    background-position: 2px -139px;
    width: 25px;
    height: 25px;
}

.sp-exclamation {
    background-position: -43px -118px;
    width: 25px;
    height: 25px;
} 

.sp-alt-logout {
    background-position: -2px -120px;
    width: 20px;
    height: 20px;
}

.sp-alt-edit {
    background-position: -27px -120px;
    width: 20px;
    height: 20px;
}

.sp-search.sp-icon-lg {
    background-position: -3px -72px;
}

.sp-icon.sp-icon-lg {
    width: 22px;
    height: 22px;
    background-size: 80px;
}

.sp-sort.sp-icon-lg {
    background-position: -2px -49px;
}

.sp-share.sp-icon-lg {
   background-position: -2px -25px; 
}

.sp-bell.sp-icon-lg {
    background-position: -2px -1px;
}

.sp-bell.sp-icon-lg.color-5bb767 {
    background-position: -27px -1px;
}

.color-d11b1f .sp-thumbs-down {
    background-position: -50px -59px;
}

.color-5bb767 .sp-thumbs-up {
    background-position: -50px -45px;

}

.speakol-icon-sm {
    width: 26px;
    height: 25px;
    background-size: 43px;
}


.speakol-agree.speakol-icon-sm {
    background-position: center -992px;
}
.speakol-agree.fa-stack-1x {
    background-position: -7px -1377px;
}
.speakol-disagree.speakol-icon-sm {
    background-position: center -956px;
}
.speakol-disagree.speakol-icon-sm.flip-z {
    background-position: center -956px;
}
.speakol-disagree.fa-stack-1x {
    background-position: -7px -1329px;
}
.speakol-disagree.flip-z {
    background-position: -4px -1339px;
}
.speakol-dashboard {
    background-position: left -9px;
}

.speakol-argumentsbox {
    background-position: left -406px;
}

.speakol-debate {
    background-position: left -509px;
}

.speakol-comparison {
    background-position: left -455px;
}

.speakol-argumentsbox-green {
    background-position: left -688px;
}

.speakol-debate-green {
    background-position: left -562px;
}

.speakol-comparison-green {
    background-position: left -620px;
}

.speakol-add-debate {
    background-position: left -69px;
}

.speakol-add-comparison {
    background-position: left -123px;
}

.speakol-add-argumentsbox {
    background-position: left -179px;
}

.speakol-moderates {
    background-position: left -242px;
}

.speakol-analysis {
    background-position: left -296px;
}

.speakol-settings {
    background-position: left -350px;
}

.speakol-pricing {
    background-position: left -1550px;
}

.speakol-billing {
    background-position: left -1109px;
}

.speakol-dashboard.speakol-current {
    background-position: left -783px;
}

.speakol-add-debate.speakol-current {
    background-position: left -941px;
}

.speakol-add-comparison.speakol-current {
    background-position: left -991px;
}

.speakol-add-argumentsbox.speakol-current {
    background-position: left -891px;
}

.speakol-moderates.speakol-current {
    background-position: left -843px;
}

.speakol-analysis.speakol-current {
    background-position: left -728px;
}

.speakol-settings.speakol-current {
    background-position: left -1055px;
}

.speakol-billing.speakol-current {
    background-position: left -1158px;
}

.white-hover:hover, .white-hover:visited, .white-hover:focus {
    color: white;
}

.inline-block {
    display: inline-block;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

input.h3 {
    font-size: 24px;
}

input.h4 {
    font-size: 18px;
}

input.h5 {
    font-size: 14px;
}
.weight-bold, input.weight-bold {
    font-weight: bold;
}

.weight-thin, a.weight-thin, input.weight-thin {
    font-weight: 200;
}
.weight-light, 
h4.weight-light,
p.weight-light, 
a.weight-light, 
input.weight-light {
    font-weight: 300;
}

.no-radius, input.no-radius {
    border-radius: 0;
}
.bg-4fc0e8 {
    background-color: #4fc0e8;
}

.bg-f6f6f6 {
    background-color: #f6f6f6;
}

.bg-e8e8e8 {
    background-color: #e8e8e8;
}

.bg-34383c {
    background-color: #34383c;
}

.bg-black {
    background-color: #000;
}

.bg-red {
    background-color: #b00c0c;
}

.bg-blue {
    background-color:#195899;
}

.red {
    color: #b00c0c;
}

.blue {
    color:#195899;
}

.debate-title {
    height: 40px;
}
.debate-bar {
    height: 25px;
    margin-top: 11px;
    padding-top: 4px;
}

.debate-bar-left {
    border-right: 1px solid #1a1a1a;
    width: 49%;
}

.debate-bar-right {
    border-left: 1px solid #1a1a1a;
    width: 50%;
}

.profile-picture {
    width: 53px;
    height: 53px;
}

.profile-picture-big {
    width: 65px;
    height: 65px;
}

.debate-plugin-img {
    width: 70px;
    height: 70px;
}

.debate-readmore-lg {
    min-height: 158px;
    line-height: 1.4;
}

.profile-picture-xl {
    width: 96px;
    height: 96px;
}

.debate-user-img {
    width: 45px;
    height: 45px;
    z-index: 10;
}

.debate-user-img-left {
    position: absolute;
    left: -5px;
}

.debate-user-img-right {
    position: absolute;
    right: -5px;
}

/* .debate-img-form-group { */
/*     padding-left: 10%; */
/* } */
.comparison-progress-container {
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
}

.comparison-progress-container:before, .comparison-progress-container:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 36px;
    height: 12px;
}
.comparison-progress-container:before {
    left: 1px;
    background: #5bb767;
    border-radius: 50px 0px 0px 50px;
    z-index: 9;
}

.comparison-progress-container:after {
    right: 7px;
    left: auto;
    background: #ececec;
    border-radius: 0px 50px 50px 0px;
}

.progress-circle {
    position: absolute;
    z-index: 1000;
    width: 25%;
    top: -7px;
    left: 37.5%;
}


.main {
    min-height: 530px;
}

.main input[type=text], .main input[type=password], .main input[type=tel], .main textarea {
    width: 100%;
}


.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}



.footer-container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.form-group {
    margin-bottom: 25px;
}

.thick-underline {
    border-bottom: 3px solid #e5e5e5;
}

.dropdown-underline {
    border-bottom: 2px solid #f1f1f1;
}

.thick-overline {
    border-top: 3px solid #e5e5e5;
}

.thin-underline {
    border-bottom: 1px solid #e5e5e5;
}
.thin-overline {
    border-top: 1px solid #e5e5e5;
}

.decoration-underline {
    text-decoration: underline;
}
.no-padding, input.no-padding {
    padding: 0px;
}

.no-padding-height , input.no-padding-height, .dropdown-menu>li>a.no-padding-height  {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.bg-medium-grey {
    background-color: #ebebeb;
}
.bg-white {
    background-color: #fff;
}

.bg-ececec {
    background-color: #ececec;
}

.border-dashed {
    border-style: dashed;
}

.border-ed1d25 {
    border: 1px #ed1d25 solid;
}

.border-dfdfdf {
    border: 1px solid #dfdfdf;
}

.border-acb6bb {
    border: 1px solid #acb6bb;
}

.border-dedede {
    border: 1px #dedede solid;
}

.border-e0e5e0 {
    border: 1px #e0e5e0 solid;
}

.color-75a4ce {
    color: #75a4ce;
}

.color-ed1d25 {
    color: #ed1d25;
}

.color-c10707 {
    color: #c10707;
}

.color-777777 {
    color: #777777;
}

.color-636363 {
    color: #636363;
}

.color-555555 {
    color: #555555;
}

.color-d11b1f {
    color: #d11b1f;
}

.border-ededed {
    border: 1px solid #ededed;
}

.border-57b25f {
    border: 1px solid #57b25f;
}

.border-d1d1d1 {
    border: 1px solid #d1d1d1;
}
.border-d11b1f {
    border: 1px solid #d11b1f;
}

.border-c10707 {
    border: 1px solid #c10707;
}
.bg-d11b1f {
    background-color: #d11b1f;
}

.color-4dac54 {
    color: #4dac54;
}

.bg-4dac54 {
    background-color: #4dac54;
}

.bg-f5f5f6 {
    background-color: #f5f5f6;
}

.border-4dac54 {
    border: 1px solid #4dac54;
}


.cancel-btn {
    margin-left: 3%;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 9px 9px 7px;;
}


.border-none {
    border: none;
}

.outline-none {
    outline: none;
}

.circle {
    border-radius: 50%;
}

.circular-radius {
    border-radius: 50px;
}

.flip {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flip-z {
    -webkit-transform: rotateZ( 180deg );
    -moz-transform: rotateZ( 180deg );
    -ms-transform: rotateZ( 180deg );
    -o-transform: rotateZ( 180deg );
    transform: rotateZ( 180deg );
}


.arg-progress-bar .progress {
    height: 11px;
}

.dropdown-menu > li > a.color-d6d7d8 {
    color: #d6d7d8;
}

.dropdown-menu.color-9ca7ad > li > a {
    color: #9ca7ad;
}

.header .dropdown-menu > li > a:hover {
    background-color: #26292C;
}

.reverse {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.no-shadow {
    box-shadow: none;
}

.color-d6d7d8 {
    color: #d6d7d8;
}

.header {
    height: 63px;
}

.pl30 {
    padding-left: 30px;
}

.padding-left-22 {
    padding-left: 22px;
}
.debate-upload-btn-left {
    top: 7px;
    left: 34px;
}

.debate-upload-btn-right {
    top: 7px;
    right: 34px;
}
.absolute {
    position: absolute;
}

.uploaded-img {
    font-size: 26px;
}

.uploaded-img img {
    width: 35px;
    height: 35px;
    /* max-width: 100%; */
    /* max-height: 100%; */
    margin-bottom: 5px;
}

.no-indent {
    text-indent: 0px;
}

.media-object {
    width: 53px;
    height: 53px;
}

.bg-cccdce{
    background-color: #cccdce;
}

.color-75777b {
    color: #75777b;
}

.color-7f8080 {
    color: #7f8080;
}

.color-8d8d8d {
    color: #8d8d8d;
}

.color-868889 {
    color: #868889;
}



.comparison-img {
    width: 60px;
}

.versus {
    width: 40px;
    height: 40px;
}
.no-margin {
    margin: 0 !important;
}

.no-margin-height {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.margin-top-xs {
    margin-top:5px !important;
}

.margin-top-sm {
    margin-top:10px !important;
}

.margin-top-lg {
    margin-top:15px !important;
}

.margin-top-xl {
    margin-top: 20px !important;
}

.margin-bottom-xs {
    margin-bottom:5px !important;
}

.margin-bottom-sm {
    margin-bottom:10px !important;
}

.margin-bottom-lg {
    margin-bottom:15px !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-height-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.padding-top-xs {
    padding-top:5px !important;
}

.padding-top-sm {
    padding-top:10px !important;
}

.padding-top-lg {
    padding-top:15px !important;
}

.padding-bottom-xs {
    padding-bottom:5px !important;
}

.padding-bottom-sm {
    padding-bottom:10px !important;
}

.padding-bottom-lg {
    padding-bottom:15px !important;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-left-10 {
    padding-left: 10px;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-10 {
    padding-left: 10px;
}
.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.overlap-top-lg {
    margin-top: -15px;
}

.login-button {
    padding: 1px 10px 5px 10px;
}

.width-82, .form-control.width-82 {
    width: 83%;
}


.margin-right-10 {
    margin-right: 10px;
}

.padding-right-5 {
    padding-right: 5px;
}
.margin-left-sm {
    margin-left: 5%;
}

.remove-item {
    right: 25px;
    z-index: 10;
}

.remove-item.horizontal {
    right: 0;
}

.remove-item-edit.vertical {
    -webkit-transform: translate3d(0px, 199px, 0px);
    -moz-transform: translate3d(0px, 199px, 0px);
    -ms-transform: translate3d(0px, 199px, 0px);
    -o-transform: translate3d(0px, 199px, 0px);
    transform: translate3d(0px, 199px, 0px);
    margin-top: -42px !important;

}
.static {
    position: static;
}





.img-button {
}

.img-button:before {
    content: "\f03e";
    font-family: FontAwesome;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 14px;
}


.no-resize {
    resize: none;
}


.no-indent {
    text-indent: 0px;
}

.text-indent-10 {
    text-indent: 10px;
}

.text-indent-5 {
    text-indent: 5px;
}

.fa-increase-line {
    text-indent: -2px;
    overflow: hidden;
    display: inline-block;
    max-height: 11px;
}

.fa-increase-line:before {
    content: "\f201";
}

.fa-increase-line.fa-2x {
    text-indent:-3px;
    max-height: 28px;
}

.fa-increase-line.fa-flip-vertical {
    max-height: 12px;
    vertical-align: middle;
}

.fa-8x {
    font-size: 8em;
}

.h1-lg {
    font-size: 38px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}


.h5.btn {
    font-size: 14px;
}

.font-15 ,input.font-15, .nav-pills > li > a.font-15 {
    font-size: 15px;
}


.font-13 , .nav-pills > li > a.font-13, input.font-13 {
    font-size: 13px;
}

.font-11 {
    font-size: 11px;
}

.font-22 , .btn.font-22, input.font-22 {
    font-size: 22px;
}

.font-27 {
    font-size: 27px;
}

.font-35 {
    font-size: 35px;
}

.current-plan.disabled {
    border: 1px solid #cccccc;
    color: #cccccc;
    background: #ffffff;
    opacity: 1;
}


.opacity-0 {
    opacity: 0;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-hover:hover {
    opacity: 1;
}

.transition-opacity {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.transition-width {
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
}
.transition-margin-left {
    -webkit-transition: margin-left 0.5s ease;
    -moz-transition: margin-left 0.5s ease;
    -o-transition: margin-left 0.5s ease;
    -ms-transition: margin-left 0.5s ease;
    transition: margin-left 0.5s ease;
}






.stats-indicator-left {
    padding-left: 1.5%;
}

.stats-indicator-right {
    padding-right: 1.5%;
}
.stats-indicator {
    margin-left: 5%;
}

.select-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  width: 70%;
}

/* @-moz-document url-prefix() {  */
/*       .stats-dropdown { */
/*         overflow: hidden; */
/*       } */
/*       .stats-dropdown label { */
/*         width: 120% !important; */
/*         width: -moz-calc(100% + 3em) !important; */
/*         width: calc(100% + em) !important; */
/*       } */
/*  */
/*   } */

.select-dropdown select::-ms-expand {
    display: none;
}
.select-dropdown label:after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #a2a3a3;
  width: 100%;
  margin-left: -20px;
  vertical-align: middle;
}

.comparison-item input[type="text"], .comparison-item textarea {
        width: 165px;
}
.comparison-item .dropzone {
    width: 162px;
}
.comparison-item .dropzone {
    height: 162px;
}

.cursor-pointer {
    cursor: pointer;
}

.add-item {
    height: 339px;
    width: 165px;
}

.add-edit {
    height: 424px;
    width: 165px;
}
.add-item.horizontal {
    height: 165px;
    width: 101%;
}
.description-input-textarea.horizontal.description-edit {
    height: 214px;
}
.add-item .fa-plus {
    margin-top: 98px;
}

.add-edit .fa-plus {
    margin-top: 155px;
}
.add-item.horizontal .fa-plus {
    margin-top: 26px;
}

.horizontal .title-input {
    margin-left: 5px;
}

.horizontal.rtl .title-input {
    margin-right: 5px;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.left-auto {
    left: auto;
}

.overflow-visible {
    overflow: visible;
}

.margin-left-20 {
    margin-left: 20px;
}

.color-3c4851 {
    color: #3c4851;
}
.color-8a8a8a {
    color: #8a8a8a;
}

.color-999999 {
    color: #999999;
}

.description-input.vertical {
    padding-bottom: 40px;
}
.description-input-textarea {
    height: 107px;
}
.description-input-textarea.horizontal {
    height: 116px;
    margin-left: 6px;
}

.rtl .description-input.horizontal {
    height: 116px;
    margin-right: 6px;
    margin-left: 0px;
}

.line-height-inherit {
    line-height: inherit;
}


.dropzone, .add-item {
    border-color: #e1e1e1;
}

.info-tooltip {
    width: 25px;
    height: 25px;
    padding: 2px;
    top: 8px;
    right: -5px;
}

.info-tooltip.rtl {
    right: auto;
    left: -5px;
}

.main .fade.in {
    background: none;
}

.profile-picture-sm {
    width: 35px;
    height: 35px;
}

.publisher-image {
    width: 47px;
    height: 47px;
}


.border-halflength:after {
    content: "";
    position:absolute;
    width: 90%;
    left:  5%;
    margin-top: 10px;
    border-bottom: 1px solid #535659;
}

.lang-halflength:after {
    margin-top: 7px;
}

.halflength-f5f4f4:after {
    border-color: #f5f4f4;
}


.header .dropdown-menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-c8c8c8 {
    color: #c8c8c8;
}

.color-6e6f6f {
    color: #6e6f6f;
}

.weight-normal, .main label {
    font-weight: normal;
}
.light-blue {
    color: #1177bb;
}

.bg-light-blue, input.bg-light-blue {
    background-color: #1177bb;
}

.footer {
    height: 100px;
    color:#a2a1a1; 
}

.footer a {
    color: #a2a1a1;
}
.footer a:hover {
    color: #a2a1a1;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.uppercase {
    text-transform: uppercase;
}

.black-btn, .black-btn:hover {
    background-color: #34383c;
}

.color-686a6c {
    color: #686a6c;
}

textarea.debate-textarea {
    height: 140px;
    padding: 5px;
}


textarea.debate-textarea-sm {
    height: 80px;
    padding: 5px;
}
.cropImage.container {
    padding-left: 10px;
    padding-right: 10px;
}

.comparison-item textarea , .comparison-item input[type="text"]{
    border: 1px solid #dcdcdc;
}

.comparison-item textarea {
    height: 100px;
}

.info-paragraph {
    line-height: 22px;
}
.color-5bb767 {
    color: #5bb767;
}

.color-fabbbd {
    color: #fabbbd;
}
.color-666c77 {
    color: #666c77;
}

.bg-f7f7f7 {
    background: #f7f7f7;
}


.visibility-hidden {
    visibility: hidden;
}

.bg-78be79 {
    background: #78be79;
}



.block {
    display: block;
}


.pricing-table th {
    padding: 12px 10px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 6px 6px 0px 0px;
}

.pricing-table td {
    padding: 10px;
    border: 1px solid #f7f7f7;
}

.most-popular, .current-plan {
    border-radius: 6px 6px 0px 0px;
}

.bg-677079 {
    background-color: #677079;
}

.bg-d4d4d4 {
    background-color: #d4d4d4;
}

.color-6e767e {
    color: #6e767e;
}

.plan-notice {
    height: 130px;
    width: 47%;
    padding: 15px 2%;
}

.offset-sm {
    margin-left: 3%;
}

.pricing-button {
    background: #f6f6f6;
    color: #34383c;
}

.pricing-button:hover, .pricing-button:focus {
    color: #000;
}

.upgrade-button {
    background: #499856;
    color: #ffffff;
}

.upgrade-button:hover, .upgrade-button:focus {
    background: #499856;
    color: #ffffff;
}



.plan-notice h3 {
    margin: 0;
    margin-top: 2px;
}

.plan-notice p {
    margin: 0;
    margin-top: 8px;
}

.plan-notice.expanded {
    width: 97%;
}

.update-notice {
    width: 98%;
}

.update-notice p, .update-notice h3 , .update-notice table {
    padding-left: 2%;
}

.update-notice table {
    width: 98%;
    margin-left: 2%;
}

.card-form {
    margin-left: 3%;
}

.update-card-form-container {
    border-top: none !important;
}

.dropdown .btn {
    background-color: transparent;
    border: none;
    color: #6e6f6f;
}

.speakol-full-logo {
    height: 60px;
}

.border-white {
    border: 1px solid #ffffff;
}

.border-666c77 {
    border: 1px solid #666c77;
}

.banner {
    padding-left: 60px;
}

.ml5 {
  margin-left: 5%;  
}

.helvetica-font :not(.fa) {
    font-family: "HelveticaNeue", arial;
}

.arial-font :not(.fa), .arial-font {
    font-family: arial;
}

.pr8 {
    padding-right: 8%;
}

.padded input[type=text], 
.padded input[type=password], 
.padded input[type=tel], 
.padded textarea {
    padding: 18px 0;
}

.radius-3 {
    border-radius: 3px;
}
.radius-5 {
    border-radius: 5px;
}

.radius-2 {
    border-radius: 2px;
}

.radius-5-top {
    border-radius: 5px 5px 0px 0px;
}

.radius-5-bottom {
    border-radius: 0px 0px 5px 5px ;
}

.argument {
    margin: 5%;
}

.vertical-separator {
    box-shadow: inset 1px 0px 0px 0px #e5e5e5, 1px 0px 0px 0px #e5e5e5;
}

.vertical-separator-left {
    box-shadow: inset 1px 0px 0px 0px #e5e5e5;
}

.vertical-separator-right {
    box-shadow: 1px 0px 0px 0px #e5e5e5;
}

.green-vertical-separator-right {
    box-shadow: 1px 0px 0px 0px #71bd76;
}

.green-vertical-separator-left {
    box-shadow: inset 1px 0px 0px 0px #71bd76;
}

.red-vertical-separator-right {
    box-shadow: 1px 0px 0px 0px #CF5454;
}

.red-vertical-separator-left {
    box-shadow: inset 1px 0px 0px 0px #CF5454;
}
.color-53a960 {
    color: #53a960;
}

.color-bebebe {
    color: #BEBEBE;
}

.speakol-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 1px;
}

.speakol-container.newsfeed {
    margin-left: 10px;
}

.menu-bar {
    border-radius: 5px 5px 0px 0px;
}




.arg-progress-bar-right {
    margin-left: 35px;
}

.vote-button {
    min-height: 80px;
}

.arg-progress-bar-left {
    margin-left: 35px;
}

.side-percentage-left {
    padding-right: 37px;
}

.fa-1-half-x {
    font-size: 1.5em;
}

.support-title {
    font-size: 20px;
}

.side-percentage-right {
   padding-left: 37px;
}

.delete-image {
    top: -12px;
    right: -12px;
    color: #4e4e4e;
}

.delete-image-comparison {
    top: -13px;
    right: 6px;
    color: #4e4e4e;
}

.color-9fa9af {
    color: #9fa9af;
}


.record-bar {
    background-color: #ec2300;
    border-radius: 5px;
}


.cancel-record {
    background-color: white;
    color: #ec2300;
}

.send-record {
    background-color: white;
}

.timer {
    padding-left: 5px;
}
.play-button {
    float: left;
    margin: 6px 5px 5px 0px;
    padding: 3px 5px;
    color: #4581bd;
    background-color: #ffffff;
    text-shadow: none;
    border: 1px solid #dbe0e2;
    border-radius: 5px;
    width: 100%;
}

.play-button:hover, .play-button:focus {
    color: #4581bd;
    background-color: #ffffff;
}

.play-icon {
    background-color: #4581bd;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
}
.play-text {
    display: inline-block;
}
.play-text:before {
    content: attr(data-text) " ";
}
.play-button.small .play-text:before {
    content: attr(data-text-small) " ";
    font-size: 11px;
}
.play-button.small {
    width: 100%;
}

.reply-record-button {
    padding: 5px 0px;
}

.comparison-content-vertical {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-top: -5px;
}

.comparison-content-horizontal {
    width: 71%;
    margin-left: 24%;
    top: -6px;
    position: relative;
}

.comparison-content-horizontal.lang-ar {
    margin-left: 5%;
}

.comparison-accordion {
    position: relative;
    z-index: 10;
    padding: 15px 10px 0px 10px;
}

.small-textarea {
    height: 31px;
    font-size: 11px;
    padding: 5px;
}

.textarea-image {
    width: 31px;
    height: 31px;
}

.width-20 {
    width: 20%;
}

.width-19 {
    width: 19%;
}

.width-18 {
    width: 18%;
}
.width-30 {
    width: 30%;
}

.width-15 {
    width: 15%;
}

.comparison-tab-focused {
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    padding-bottom: 20px !important;
    z-index: 9;

}

.rounded-border-left:before {
    content: '';
    position: absolute;
    width: 4%;
    height: 97%;
    border: 1px solid #efefef;
    border-top: 0px;
    border-left: 0px;
    bottom: 3px;
    right: 100%;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 1px 11px 0 white;
}

.rounded-border-right:after {
    content: '';
    position: absolute;
    width: 6%;
    height: 98%;
    border: 1px solid #efefef;
    border-top: 0px;
    border-right: 0px;
    bottom: 3px;
    left: 100%;
    border-radius: 0px 0px 0px 5px;
    box-shadow: -2px 11px 0 white;
}
.comparison-accordion-focused {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(239, 239, 239);
    border-left: 1px solid rgb(239, 239, 239);
    border-right: 1px solid rgb(239, 239, 239);
    border-radius: 5px 5px 0px 0px;
}

/* .content-vertical-focused { */
/*     background-color: #ffffff; */
/*     border-top: 1px solid #efefef; */
/*     border-left: 1px solid #efefef; */
/*     border-right: 1px solid #efefef; */
/*     border-bottom: 1px solid #efefef; */
/*     width: 100%; */
/*     position: relative; */
/*     top: -4px; */
/* } */


.content-vertical-focused {
    background-color: #ffffff;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    width: 88%;
    position: relative;
    top: -4px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}
.content-horizontal-focused {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-radius: 0px 0px 5px 5px;
}
.content-translate-4-4 {
    left: 10.75%;
}

.content-translate-3-4 {
    left: 10%;
}
.content-translate-2-4 {
    left: 5%;
}
.content-translate-1-4 {
    left: 1.2%;
}

.content-translate-1-3 {
    left: 1.7%;
} 
.content-translate-2-3 {
    left: 4%;
} 
.content-translate-3-3 {
    left: 10.2%;
} 

.content-translate-1-2 {
    left: 2.5%;
    width: 95%;
}
.content-translate-2-2 {
    left: 2.5%;
    width: 95%;
}

.comparison-progress-indicator {
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.5s ease;
            transition: left 0.5s ease;
}

.comparison-progress-text {
    position: absolute;
    top: -6px;
    left: -21px;
    height: 24px;
    width: 36px;
    font-size: 12px;
    padding-top: 2px;
    z-index: 10;
}

.comparison-progress {
    height: 12px;
}

.comparison-arguments .show-replies {
    display: none;
}


.content-vertical-focused .comparison-arguments .show-replies, .content-horizontal-focused .comparison-arguments .show-replies  {
    display: block;
}

.comparison-title {
    min-height: 37px;
}

.comparison-tab {
    min-height: 200px;
}

.comparison-form input::-webkit-input-placeholder { color:#686a6c; }
.comparison-form input::-moz-placeholder { color:#686a6c; } /* firefox 19+ */
.comparison-form input:-ms-input-placeholder { color:#686a6c; } /* ie */

.comparison-form textarea::-webkit-input-placeholder { color:#686a6c; }
.comparison-form textarea::-moz-placeholder { color:#686a6c; } /* firefox 19+ */
.comparison-form textarea:-ms-input-placeholder { color:#686a6c; } /* ie */

.comparison-progress-bar {
    border-radius: 50px 0px 0px 50px;
}

input.post-button {
    padding: 9px 7px;
    margin-left: 2px;
}

.comparison-content-vertical .media-heading {
    font-size: 11px;
}

.comparison-content-vertical .media-object {
    width: 25px;
    height: 25px;
}

.comparison-content-vertical .media > .pull-left {
    margin-right: 3px;
}

.content-vertical-focused .media-heading {
    font-size:14px;
}

.content-vertical-focused .media-object {
    width: 35px;
    height: 35px;
}

.content-vertical-focused .media > .pull-left {
    margin-right: 10px;
}


.padding-height-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.sides-container {
    top: -26px;
}

input.big-padding-input {
    padding-top: 21px;
    padding-bottom: 21px;
}

.comparison-content-vertical .comparison-thumbs-button {
    width: 33.33333333%;
}

.content-vertical-focused .comparison-thumbs-button {
    width: 8.333333333%;
}
.comparison-content-horizontal .comparison-thumbs-button {
    width: 10%;
}
.comparison-content-horizontal .comparison-reply-button {
    margin-left: 63%;
}
.comparison-content-vertical .comparison-reply-button {
    margin-left: 66.666666667%;
}

.notifications-dropdown.dropdown-menu {
    width: 275px;
    top: 109%;
    word-break: break-word;
    z-index: 1001;
}



.notification-item {
    border-bottom: 1px solid #e2e2e2;
}

.notification-image {
    border-radius: 2px;
    width: 56px;
    height: 56px;
}

.notification-indicator {
    margin-top: 17px;
    padding: 0px 8px 2px 8px;
}

.notification-item > .pull-left {
    margin-right: 15px;
}
.notifications-dropdown.dropdown-menu {
    width: 275px;
    top: 109%;
    word-break: break-word;
    z-index: 1001;
}



.notification-item {
    border-bottom: 1px solid #e2e2e2;
}

.notification-image {
    border-radius: 2px;
    width: 56px;
    height: 56px;
}



.notification-indicator {
    margin-top: 17px;
    padding: 0px 8px 2px 8px;
}

.notification-item > .pull-left {
    margin-right: 15px;
}

.notifications-dropdown.dropdown-menu > li > a {
    white-space: normal;
}

.reached-quota {
    position:relative;
    z-index: 99999;
}

.updated-date {
    top: -6px;
}
.community-notifications-dropdown.dropdown-menu > li > a {
    display: inline;
    padding: 0px;
    clear: none;
    white-space: normal;
}
.community-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: #ffffff;
    border-bottom: 1px solid #f5f5f6;
}
.community-header {
    max-width: 1030px;
    height: 67px;
    padding-left: 12.5%;
}

.community-search-container {
    min-width: 30px;
    max-width: 220px;
    height: 30px;
    width: 0%;
    overflow: hidden;
    margin-right: 7px;
    -webkit-backface-visibility: hidden;
}
.community-notifications-dropdown.dropdown-menu > li > a {
    display: inline;
    padding: 0px;
    clear: none;
    white-space: normal;
}

.community-speakol-logo {
    width: 145px;
    height: 48px;
    float: right;
}
.community-header-container {
    border-bottom: 1px solid #f5f5f6;
}

.community-content-container {
    margin-top: 68px;
    max-width: 1030px;
    min-height: 768px;
}

.community-search-container {
    min-width: 30px;
    max-width: 220px;
    height: 30px;
    width: 0%;
    overflow: hidden;
    margin-right: 14px;
    -webkit-backface-visibility: hidden;
}

.community-search-container.open {
    width: 100%;
    border-bottom: 1px solid #f5f5f6;
}

.community-search-input {
    height: 30px;
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* border-bottom:  */
}
.community-search-input::-webkit-input-placeholder {
	color: #c8c4c4;
}

.community-search-input:-moz-placeholder {
	color: #c8c4c4;
}

.community-search-input::-moz-placeholder {
	color: #c8c4c4;
}

.community-search-input:-ms-input-placeholder {
	color: #c8c4c4;
}

.community-search-icon, .community-search-submit {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.community-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    z-index: -1;
    outline: none;
}

.community-search-icon {
    width: 30px;
    height: 30px;
    background-position: 7px -165px;
    display: block;
    z-index: 90;
}

.community-search-container.open .community-search-icon {
    z-index: 11;
}
.community-search-container.open .community-search-submit {
    z-index: 90;
}

.community-notification-button {
    padding: 8px 0px 8px 0px;
    margin-right: 16px;
}

.community-notifications-dropdown.dropdown-menu {
    width: 300px;
    top: 115%;
    right: -133%;
    word-break: break-word;
}

.community-notification-indicator {
    padding: 0px 8px 2px 8px;
} 

.community-dropdown {
    padding: 0px 8px 2px 8px;
}

.community-dropdown-menu {
    top: 108%;
    -webkit-box-shadow: 0px -1px 5px -1px rgba(210, 210, 210, 0.51);;
    -moz-box-shadow: 0px -1px 5px -1px rgba(210, 210, 210, 0.51);;
    box-shadow: 0px -1px 5px -1px rgba(210, 210, 210, 0.51);;
    width: 150px;
}

.community-dropdown-menu > li:after {
    left: 7%;
}

.community-dropdown-menu > li > a {
    padding: 3px 11px;
}
.dropdown-menu > li > a.weight-bold {
    font-weight: bold;
}

li.community-dropdown-item > a:hover {
    background: transparent;
    color: currentColor;
}

.filter-link {
    border-bottom: 1px solid #e2e3e4;
}

.feed-container {
    padding-left: 40px;
    min-height: 1000px;
}

.item-container {
    min-height: 1000px;
}

.feed-item {
    padding: 20px;
    border: 1px solid #e9e9e9;
    margin-bottom: 30px;
}

.feed-item-icon {
    margin-left: -13px;
    margin-right: -6px;
}

.conversation-button {
    padding: 10px 20px 12px 20px;
}

.community-comparison {
    padding: 15px;
}
.comparison-image-left {
    float: left;
    margin-right: 10px;
}

.comparison-image-right {
    float: right;
    margin-left: 10px;
}

.community-comparison-title {
    text-align: left;
    margin-top: 0px;
}

.community-login-button {
    margin-right: 7px;
    margin-left: 3px;
}

.community-search-submit-bg {
    padding-left: 48px;
    padding-right: 48px;
}

.community-select {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAEIG+IYAAAAG1BMVEWQkJD///+QkJCQkJCQkJCQkJCQkJCQkJCQkJA3mkjtAAAACHRSTlMAABEzd5nM7r07Da4AAAA/SURBVAjXYxBkEGQQAEIGBSCjFIjBoImBQVBQACgmwBDMJsDAmiAA5guCAIO5AQNrIANDuGkSI1CpEwMjRBwAu+EFh594wTYAAAAASUVORK5CYII=) no-repeat;
    background-position: 95% 60%;
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
    text-indent: 0.5em;
}

.community-select.full-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAAEiKWQnAAAAP1BMVEX///+kqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbOkqbPbYjYeAAAAFHRSTlMACRQVJTo7X2B5epOsrcXj5PH6+zakkbgAAABFSURBVAjXNcw7AoJAAMTQh+IXRdHc/6wWsqmmyISdF33BJ7w5VZ051HFYVZmrma0NUxNrg5XHPp+wVLX877fqPlqXrvADB9kESt/z6eAAAAAASUVORK5CYII=);
}

.community-notification-item {
    border-bottom: 1px solid #f8f8f7;
}

.community-notification-item > .pull-left {
    margin-right: 10px;
}
.community-notification-image {
    border-radius: 2px;
    width: 48px;
    height: 48px;
}

.profile-dropdown {
    right: 15px;
    width: 215px;
}
.profile-dropdown > .dropdown-toggle {
    padding: 10px 7px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.profile-dropdown.open > .dropdown-toggle {
    background: white;
    border-radius: 5px 5px 0px 0px;
}

.profile-dropdown > .dropdown-menu {
    border: none;
    box-shadow: none;
    top: 95%;
    border-radius: 0px 0px 5px 5px;
    right: 5px;
    left: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards; 
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards; 
    animation-fill-mode: forwards; 
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease;
    -o-transition: opacity 0.5s ease, transform 0.5s ease;
    -ms-transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transform: scale(1, 0); 
    -moz-transform: scale(1, 0); 
    -o-transform: scale(1, 0); 
    -ms-transform: scale(1, 0); 
    transform: scale(1, 0); 
    display: block;
}

.profile-dropdown.open > .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
.profile-dropdown > .dropdown-menu > li > a {
    padding: 5px 10px;
}

.profile-dropdown > .dropdown-menu > li {
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 1px solid #ebecec;
}
.profile-dropdown > .dropdown-menu > li:last-child {
    border-bottom: none;
}

.profile-dropdown > .dropdown-menu > li > a:hover {
    background: transparent;
    color: inherit;
}

.highlighting-button {
    padding: 3px 35px 6px 10px;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 4px;
}
.highlighting-button:after {
    position: absolute;
    top: 0px;
    right: 5px;
    font-family: FontAwesome;
    border-left: 1px solid currentcolor;
    padding: 4px 3px 4px 5px;
    font-size: 1.1em;
}

.unhighlight-action:after {
    content: '\f00d';
} 

.highlight-action:after {
    content: '\f00c';
}

.highlighted-indicator {
    font-size: 13px;
    padding: 5px 10px 7px 10px;
    margin-top: 2px;
}

.community-profile-image {
    width: 70px;
    height: 70px;
}

.community-user-image {
    width: 55px;
    height: 55px;
}

.browse-button {
    padding: 10px 30px;
}

.community-checkbox {
  position: relative;
}
.community-checkbox label{
 width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #555555;
  color: #555555;
  border-radius: 5px;
  cursor: pointer;
}

.community-checkbox.community-checkbox-pending label {
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
}


.community-checkbox input[type="checkbox"] {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
}

.community-checkbox input[type="checkbox"]:checked ~ label:before {
  content: '\f00c';
  font-family: fontAwesome;
  font-size: 30px;
  display: inline-block;
  margin-top: -8px;
  margin-left: -1px;
}

input[type="submit"].submit-button {
    padding: 10px 20px;
}

.community-alert {
    margin-right: 16px;
}

.unseen-category {
    margin-top: -3px;
}

.hamburger-menu {
    width: 25px;
    height: 25px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAcCAMAAAHZ46QzAAAAS1BMVEX////////i8uS/48Su3LST0Jt9xod5xYN3xIJ0wn9uwHlsv3dsv3dsv3dqvnVovXRnvXJnvXJnvXJlvHFkvHBku3Bku3Bku3Bju2/iHjDuAAAAGHRSTlMADRAWGSc9R01Rc4CDhIaps7e5v9vm7fNNB47uAAAAj0lEQVQoz62Q2xKDIAxEiVWber/Ukv//UkENUMDqaM+Ds8luMhEBCgGIKFZlP4jg9TZBGi2k5sti8VQLMVeCTJitZWiKTLkNsuwkhpFp18ZHMu+dkZ+NE3VwFBqi+cnLv8zJYzRfmz+QS9159a374ZJf2VeV7vuy31OM8/uzsgkprE8398MjDUn+uP+6f8AMzV8V+zHZOmAAAAAASUVORK5CYII=");
    margin-top: 17px;
    background-position: -3px center;
}

.intro-login {
    width: 91px;
}

.intro-login.ar {
    width: 125px;
}

.intro-register {
    width: 182px;
}


.community-sidebar-container {
    position: fixed;
    top: 68px;
    bottom: 0;
    z-index: 10000;
    max-width: 343px;
    overflow-y: scroll;
}


.profile-info {
    padding-left: 10px;
    padding-right: 10px;
}

.profile-info.profile-info-first {
    padding-left: 0px;
}

.profile-info.profile-info-last {
    padding-right: 0px;
}

.personalize-title {
    padding-left: 3px;
}

.personalize-title.ar {
    padding-left: 0px;
    padding-right: 8px;
}

.categories {
    z-index: 10000;
}

.dashboard-user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.alerts-container {
    margin-left: -9px;
}

.community-big-search {
    height: 46px;
}


/*.create-form .form-control {
    width: 64%;
    display: inline-block;
}*/

/*.example-brand {
    width: 34%;
    padding-right: 3px;
    padding-top: 2px;
}*/

.upgrade-free-button {
    margin-right: 24px;
    padding: 6px 17px 6px 13px;
}

.upgrade-free-button .sp-icon {
    margin-right: 3px;
}

.upgrade-plan-info {
    width: 34.7%;
}

.pricing-modal .modal-content {
    width: 640px;
    top: 100px;
    background-color: transparent;
    box-shadow: none; 
    border: none;
}

.pricing-modal .modal-header {
   border-bottom: 1px solid transparent;
   padding: 0px;
}

.pricing-modal .modal-header .close {
    color: #ffffff;
    opacity: 1;
    font-size: 35px;
    margin-top: -23px;
}

.pricing-modal .modal-body {
    background-color: #ffffff;
}

/*.cvc-register {
    margin-right: 24%;
}*/

textarea.address-textarea {
    height: 68px;
}

.postal-register {
    margin-left: 3%;
}

.submit-register {
    max-width: 157px;
}

.add-card-form input.form-control, .add-card-form select.form-control, .add-card-form textarea {
    width: 86%;
}

.add-card-year {
    margin-left: 2.5%;
}

.add-card-input {
    padding-left: 2%;
}

.add-card-submit {
    width: 25%;
    max-width: 154px;
    margin-left: 19%;
}

.add-card-info {
    line-height: 1.5em;
}

.argumentsbox-upgrade {
    padding: 7px 18px;
    margin-top: 1px;
}

.argumentsbox-upgrade .sp-icon {
    margin-right: -1px;
    margin-left: -6px;
}

.argumentsbox-popover, .argumentsbox-popover.fade.in {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    opacity: 0.7;
}
.argumentsbox-popover.top .arrow, .argumentsbox-popover.top .arrow:after {
    border-top-color: #000000;
}

.argumentsbox-popover .popover-title {
    color: #ffffff;
    background-color: #000000;
    font-size: 12px;
    border-bottom: none;
    padding: 8px 14px 0px 14px;
}

.argumentsbox-popover .popover-content {
    padding: 0px 14px 9px 14px;
}


.image-popover.popover {
    max-width: none;
}
.image-popover .popover-content {
    padding: 3px;
}

.image-popover.top .arrow, .image-popover.top .arrow:after {
    border-top-color: rgba(0,0,0,0.7);
}

.image-popover, .image-popover.fade.in {
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
}

.addcard-optional {
    margin-left: -3%;
}

.argumentsbox-width {
    width: 14.4%;
}

.argumentsbox-submit {
    margin-left: 15%;
}

.payment-small-paragraph {
    width: 78%;
}
.add-domain {
    bottom: 2px;
    right: -30px;
}

.remove-domain {
    top: -14px;
    right: -14px;
}

@media only screen and (max-width: 768px) {
    .profile-info {
        padding-left: 0px;
        padding-right: 0px;
        float: left;
        width: 50%;
    }
    .pricing-modal .modal-content {
        width: inherit;
    }
}
@media only screen and (max-width: 580px) {
    .play-text:before {
        content: attr(data-text-small) " ";
    }





}





/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and (max-width: 419px) {

    .play-text:before {
        content: attr(data-text-small) " ";
    }
    input[type=button].font-small-xs, input[type=submit].font-small-xs, .font-small-xs {
        font-size: 10px;
    }

    input[type=submit].reply-button {
        padding: 5px 3px;
    }

    .text-center-xs {
        text-align: center;
    }

    .font-large-xs {
        font-size: 20px;
    }
    .sp-inline-xs {
        display: inline !important;
    }
    .hide-xxs, .sp-hide-xs {
        display: none !important; 
    }

    .two-xs {
        width: 16.6666667%;
    }

    .three-xs {
        width: 25%;
    }

    .four-xs {
        width: 33.333333333%;
    }

    .five-xs {
        width: 41.666666667%;
    }

    .six-xs {
        width:50%;
    }

    .seven-xs {
        width: 58.333333333%;
    }

    .eight-xs {
        width: 66.666666667%;
    }

    .nine-xs {
        width: 75%;
    }

    .twelve-xs {
        width:100%;
    }

    .one-offset-xs {
        margin-left: 8.33333333%;
    }

    .two-offset-xs {
        margin-left: 16.66666667%;
    }

    .push-six-xs {
        left: 50%;
    }

    .pull-four-xs {
        right: 33.333333333%;
    }

    .pull-six-xs {
        right: 50%;
    }

    .font-13-xs {
        font-size: 13px;
    }


    .record-bar {
        background-color: transparent;
        border-radius: none;
    }

    .record-buttons {
        margin: 5px 0px;
        background-color: white;
        text-align: left;
    }

    .timer {
        padding:5px;
        border-radius: 5px;
        background-color: #ec2300;
    }

    .cancel-record {
        background-color: #f1f1f1;
        color: #ec2300;
    }

    .send-record {
        background-color: #4e4e4e;
        color: #ffffff;
    }

    .float-right-xs {
        float: right;
    }

    .reply-record-button {
        padding: 0px;
    }

    .play-text {
        font-size: 12px;
    }
    
    .comparison-content-horizontal {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .debate-title-image {
        float: none !important;
        margin-bottom: 15px;
    }

    .debate-title-image img {
        width: 75px;
        height: 75px;
    }

    .arg-vote-button {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .reset-left-xs {
        left: auto;
    }

    input.post-button {
        margin-left: 11px;
    }
    
    .comparison-content-vertical .media-heading {
        font-size: 14px;
    }

    .comparison-content-vertical .media-object {
        width: 35px;
        height: 35px;
    }

    .comparison-content-vertical .media > .pull-left {
        margin-right: 10px;
    }
    .sides-container {
        top: -30px;
    }


    .padding-height-0-xs {
        padding-left: 0px;
        padding-right: 0px;
    }

    .support-title {
        font-size: 15px;
    }

    .comparison-content-vertical {
        width: 100%;
    }

    .width-all-xs {
        width: 100%;
    }
.content-translate-4-4 ,
.content-translate-3-4 ,
.content-translate-2-4 ,
.content-translate-1-4 ,
.content-translate-1-3 ,
.content-translate-2-3 ,
.content-translate-3-3 ,
.content-translate-1-2 ,
.content-translate-2-2 {
    left: 0%;
    width: inherit;
}

.comparison-content-vertical .comparison-thumbs-button, .comparison-content-horizontal .comparison-thumbs-button {
    width: 16.666667%;
}


.comparison-content-horizontal .comparison-reply-button, .comparison-content-vertical .comparison-reply-button {
    margin-left: 32%;
}


.comparison-progress:before {
    /* left: -15%; */
    /* width: 15%; */
}

.comparison-progress:after {
    /* right: -15%; */
    /* width: 15%; */
}

.intro-login.ar {
    width: 114px;
}

.intro-login {
    width: 68px;
}

.intro-register {
    width: 163px;
}

.intro-register.ar {
    width: 119px;
}

.community-speakol-logo {
    width: 79px;
    margin-left: 16px;
    float: left;
    margin-top: 13px;
}

.community-search-container {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.community-search-container.open {
    -webkit-animation-duration: .5s;
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    width:220px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.feed-item {
    padding: 10px;
}

.profile-info {
    float: left;
    width:100%;
    padding: 0;
    margin-top: 5px;
}

.header-action {
    font-size: 12px;
}

.home-logo img {
    height: auto;
    width: 120px;
}



.arg-progress-bar-right {
    margin-left: 15px;
}

.arg-progress-bar-left {
    margin-left: 15px;
}

.side-percentage-right {
    padding-left: 0%;
    float: right;
    text-align: right;
}

.side-percentage-left {
    padding-right: 0%;
    text-align: left;
}





@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }


  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
}

@media only screen and (max-width: 619px) {
    .highlighting-button {
        position: absolute;
        right: -14px;
        top: -2px;
        font-size: 11px;
    }

    .highlighted-indicator {
        position: absolute;
        right: -13px;
        top: 0px;
        font-size: 11px;
    }

    .header-share-dropdown {
        top: 0px;
        position: absolute;
        right: -10px;
    }

    .header-share-dropdown.header-share-highlight {
        top: 35px;
    }
    .speakol-container {
        margin-top: 0;
    }


    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .comparison-item input[type="text"], .comparison-item textarea, .comparison-item .dropzone, .add-item {
        width:100px;
    }

    .comparison-item .dropzone, .add-item {
        height: 100px;
    }

    .dropzone:after {
        font-size: 12px;
    }

    .fa-2x-sm {
        font-size: 3em;
    }

    .banner {
        padding-left: 30px;
    }


    /* .debate-bar { */
    /*     font-size: 11px; */
    /* } */
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {

    .col-lg-3.bg_drkGrey{ display:none;}
}
@media (max-width: 992px) {

    .bg_white{margin-top: 0;}
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
    #wrapper{left:0; position:relative; padding-left:0; -moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #sidebar-wrapper{left:0}
    #wrapper.active{position:relative;left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #wrapper.active #sidebar-wrapper{left:75px;width:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #menu-toggle{display:block; left: 10px; position: absolute; top: 10px; z-index: 200;  width: 40px;  height: 40px; }
    .plan-notice, .update-notice {
        width: 100%;
    }
    .offset-sm {
        margin-left: 0;
    }
}

@media only screen and (min-width: 420px) and (max-width: 485px) {

    .hide-xs {
        display: none !important;
    }
    .play-text:before {
        content: attr(data-text-small) " ";
    }
    input[type=submit].reply-button {
        padding: 5px 3px;
        font-size: 12px;
    }

    .two-push-sm {
        left: 16.666666667%;
    }

    .eight-push-sm {
        left: 66.666666667%;
    }

    .nine-push-sm {
        left: 75%;
    }

    .three-pull-sm {
        right: 25%;
    }

    .six-pull-sm {
        right: 50%;
    }
    
    .one-offset-sm {
        margin-left: 8.333333333%;
    }

    .two-offset-sm {
        margin-left: 16.66666667%;
    }
    .three-offset-sm {
        margin-left: 25%;
    }

    .six-offset-sm {
        margin-left: 50%;
    }

    .two-sm {
        width: 16.66666667%;
    }
    .three-sm {
        width: 25%;
    }

    .four-sm {
        width: 33.33333333%;
    }

    .five-sm {
        width: 41.66666667%;
    }

    .six-sm {
        width: 50%;
    }

    .seven-sm {
        width: 58.3333333333%;
    }



    .eight-sm {
        width: 66.66666667%;
    }

    .comparison-content-vertical .media-heading {
        width: inherit;
        overflow: visible;
        white-space: normal;
    }


    .text-center-sm {
      text-align: center;  
    }

    .support-title {
        font-size: 15px;
    }


    .sides-container {
        top: -40px;
    }

    .width-all-sm {
        width: 100%;
    }

    .comparison-content-vertical {
        width: 100%;
    }

    .comparison-content-vertical .comparison-thumbs-button {
        width: 16.666667%;
    }

    .comparison-content-horizontal .comparison-reply-button {
        margin-left: 45%;
    }
    .comparison-content-vertical .comparison-reply-button {
        margin-left: 41%;
    }

    .comparison-content-horizontal .comparison-thumbs-button {
        width: 15%;
    }


.content-translate-4-4 ,
.content-translate-3-4 ,
.content-translate-2-4 ,
.content-translate-1-4 ,
.content-translate-1-3 ,
.content-translate-2-3 ,
.content-translate-3-3 ,
.content-translate-1-2 ,
.content-translate-2-2 {
    left: 0%;
}

.header-action {
    font-size: 15px;
}
    .comparison-content-vertical .media-heading {
        font-size: 14px;
    }

    .comparison-content-vertical .media-object {
        width: 35px;
        height: 35px;
    }

    .comparison-content-vertical .media > .pull-left {
        margin-right: 10px;
    }

}



@media only screen and (min-width: 500px) and (max-width: 550px) {
    .sides-container {
        top: -40px;
    }

}

@media only screen and (min-width: 486px) {
    .one-offset-lg {
        margin-left: 8.3333333333%;
    }

    .two-offset-lg {
        margin-left: 16.666666667%;
    }

    .two-offset-right-lg {
        margin-right: 16.666666667%;
    }

    .one-offset-right-lg {
        margin-right: 8.333333333%;
    }

    .three-offset-lg {
        margin-left: 25%;
    }

    .five-offset-lg {
        margin-left: 41.666667%;
    }

    .six-offset-lg {
        margin-left: 50%;
    }

    .eight-offset-lg {
        margin-left: 66.666666667%;
    }

    .three-lg {
        width: 25%;
    }

    .four-lg {
        width: 33.3333333333%;
    }

    .six-lg {
        width: 50%;
    }

    .hide-lg {
        display: none !important;
    }

}

@media only screen and (max-width: 1024px) {
    .community-sidebar-container {
        z-index: 10000;
        overflow-y: scroll;
        width: 230px;
        -webkit-transform: translateX(-230px);
        -moz-transform: translateX(-230px);
        -o-transform: translateX(-230px);
        -ms-transform: translateX(-230px);
        transform: translateX(-230px);
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        -ms-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .profile-dropdown {
        right: 0;
    }

    .community-header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .community-content-container {
    }

    .feed-container, .item-container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-left: 0;
    }


    .community-sidebar-container.active {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }

    .community-sidebar {
        width:200px;
        margin-left: 20px;
    }

}
@media only screen and (min-width: 1024px) {
    .hide-xxl {
        display: none;
    }
    .four-xxl {
        width: 33.33333333%;
    }
    .six-xxl {
        width: 50%;
    }
    .seven-xxl {
        width: 58.3333333333%;
    }
    .eight-xxl {
        width: 66.66666667%;
    }
    .five-offset-xxl {
        margin-left: 41.6666666667%;
    }
    .six-offset-xxl {
        margin-left: 50%;
    }
    .community-speakol-logo {
        float: none;
    }
}
@media only screen and (min-width: 600px) {
    .three-xl {
        width: 25%;
    }

    .four-xl {
        width: 33.3333333333%;
    }

    .six-xl {
        width: 50%;
    }

    .eight-xl {
        width: 75%;
    }

    .hide-xl {
        display: none !important;
    }

    .one-offset-xl {
        margin-left: 8.333333333333%;
    }


    .six-offset-xl {
        margin-left: 50%;
    }

    .one-offset-right-xl {
        margin-right: 8.33333333333%;
    }


    .margin-center-xl {
        margin-left: auto;
        margin-right: auto;
    }

    .comparison-image-left, .comparison-image-right {
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .community-comparison-title {
        text-align: center;
        margin-top: 15px;
    }

    .community-comparison-votes {
        text-align: center;
    }


}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {

}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}

