/*General*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'HelveticaNeue', arial; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a{ text-decoration: none; color: #1177bb;}
a:hover{ color:#00A7F5; text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
body {font-size: 1.5em;line-height: 1.5; padding: 0; margin: 0; color: #404040;}
html{height: 100%;}
.btn {background-color: #57b25f; border-radius:5px;color: #fff; padding:5px 10px; font-size: 16px; opacity: .9}
.blue_btn {background-color: #0098dc;}
.btn:hover,.blue_btn:hover {opacity: 1; color: #fff;}
img{ max-width: 100%;}
.more_cont{ background-color: #f4f4f4;display: block; padding:7px; border-radius: 7px; text-align: center;}
.more_cont:hover{ background-color: #f0f0f0;}
.popup{ position: relative;}
.popup_container{ position: absolute; z-index: 999; top: 100%; right: 0; display: none;}
#page-content-wrapper.greyesh {position: relative;}
.dimmed:before{position: absolute; z-index: 100; width: 100%; height: 100%; content: ''; background-color: rgba(237,237,237,.5);}
.Section_title{ font-size: 27px; color: #969696; font-weight: 300; margin: 10px 0; display: inline-block;}
.side_link, .refresh{ float: right;margin-right: 10px;margin-top: 20px; color: #fff; font-size: 13px;}
.no_padding{padding: 0;}
.voting_container{ text-align: center;}
.fileUpload {position: relative;overflow: hidden;margin: 10px;vertical-align: middle;}
.fileUpload input[type = "file"],.fileUpload input[type = "file"]:focus {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0); height: 100%; width: 100%;}
#uploadFile{ background-color: transparent; border: none; width:auto; font-size: 13px; color: #999;}
.blc{ margin: 20px; vertical-align: top;}
.blc.st_l{ margin-left: 0; }
.blc.hlf{ width: 40%; display: inline-block;}


.comment_unit{ position: relative;}
.actions_buttons { position: absolute;z-index: 1;top: 5px; right: 0; margin: 0;}
.actions_buttons li{float: left; display: flex;}
.actions_buttons a{ box-shadow: 0 0 1px #dadbdb ;display:inline-block; overflow: hidden; text-indent: -999px; width: 40px; height: 34px; background: #fff url(../img/actions_icons.png) no-repeat scroll 0 0}
.actions_buttons li:first-child a{ border-radius: 5px 0 0 5px;}
.actions_buttons li:last-child a{ border-radius: 0 5px 5px 0;}
.actions_buttons li:only-child a{ border-radius: 5px;}
.actions_buttons a:hover{  box-shadow: 0 0 1px #999;z-index: 999; }
.actions_buttons a.approve_button{ background-position: 7px 11px;}
.actions_buttons a.publish_button{ background-position: 6px -177px;}
.actions_buttons a.mute_button{ background-position: 7px -57px;}
.actions_buttons a.delete_button{ background-position: 6px -125px; }
.actions_buttons a.edit_button{ background-position: 6px -235px; }
.actions_buttons a.add_button{ background-position: 7px -294px; }

.vote_action{ display: inline-block;}
.votes_up_num, .votes_down_num{ display: inline-block; padding: 0 5px; border-right: solid 1px #f2f2f2;}
.votes_down_num{ border: none;}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;opacity: .75;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #166e16;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}
.comment_unit .vote_action .votes_up,.comment_unit .vote_action .votes_down{ font-size: 14px; color: #7e7e7e; font-weight: normal; padding: 0 20px 0 0;}
.comment_unit .vote_action .votes_up:hover,.comment_unit .vote_action .votes_down:hover{opacity: 1;}
.comment_unit .vote_action .votes_up{ background-position: 10px -228px;}
.comment_unit .vote_action .votes_down{ background-position: 10px -280px;}
.comment_unit .vote_action .votes_up.voted{ background-position: 10px -7px;}
.comment_unit .vote_action .votes_down.voted{ background-position: 10px -59px;}
.reports,.padg_gry{ float: right;}
.reports > span{ display: inline-block; padding-left: 20px; background: url("../img/icons.png") no-repeat scroll -7px -350px transparent; opacity: .75; color: #999;font-size: 14px; font-weight: 300;}
.padg_gry > span{display: inline-block; padding: 2px 5px; border-radius: 4px; background-color:#bfbfbf ; color: #fff;font-size: 12px; font-weight: 300;}


input[type=text],input[type=password],textarea{ font-size: 16px; color: #6e6f6f; border: solid 1px #EBEBEB; border-radius: 4px; font-weight: 400; padding: 9px 0; width: 78%; text-indent: 10px;}
input[type=text]:hover,input[type=password]:hover, textarea:hover{ border-color: #d1d1d1;}
input[type=text]:focus,input[type=password]:focus, textarea:focus{ border-color: #1177bb; color: #080808; outline: none;}
input[type=button],input[type=submit],.link_btn{ font-size: 16px; color: #fff; border-radius: 4px; border: none; font-weight: 400; padding: 9px 0; background-color: #0098dc; margin-left: 1.5%; width: 19.5%;}
input[type=button]:hover,input[type=submit]:hover,.link_btn:hover{ background-color: #00a7f5;color: #fff}
input[type=button]:active,input[type=submit]:active{ background-color: #0098dc; color: #fff}
/*tooltip*/
.tooltip_container a{ border-radius: 50%;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.bg-yellow {background-color: #FFCB18;}
.black { color: #222222;  }
.left_explain .tooltip_container{ margin-right: -225px; margin-top: -20px;}
.tooltip_container .tooltip .tooltip-inner{ background-color: #fff; color:#666666; box-shadow: 0 0 5px rgba(0,0,0,.3); padding: 5px; }
.tooltip_container .tooltip.top .tooltip-arrow{ border-top-color: #fff;}
.tooltip_container .tooltip.right .tooltip-arrow{ border-right-color: #fff;}

/*Show filter*/
.nav-pills{ display: inline-block;}
.drpdwn_cont{ float: right;}
.drpdwn_cont > span{ color:#6e6f6f; vertical-align:middle; font-weight: 300; }
.dropdown{ display: inline-block;}
.dropdown .btn{ background-color: transparent; border: none; color: #6e6f6f;}
.dropdown .btn:hover{ background-color: #f0f0f0; color: #26292e;}
.dropdown-menu-right{ right: 0; left: auto;}
.caret{ border-width:5px 5px 0; }
.nav-pills > li > span{ padding: 8px 20px 0 0; display: inline-block;color: #616367;}
.nav-pills > li > a{ border-radius: 50px; padding: 5px 15px; margin: 3px 7px; font-size: 16px; font-weight: 300;color: #616367;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{ background-color: #ededed; color: #616367;}
a.list-group-item > .badge,a.list-group-item.active > .badge, .nav-pills > .active > a > .badge{ background-color:transparent; color: #616367;padding:4px; font-size: 14px;font-weight: 300;}
.Actions_btn_cont{ position: relative;}
.slct_cont{ padding: 10px; background-color: #ededed; margin: 7px 0; line-height: 30px; }
.slct_cont.top_brd{border-top: solid 1px #e1e1e1;}
.slct_cont.bot_brd{border-bottom: solid 1px #e1e1e1;}
.slct_cont > input[ type ="checkbox"]{ margin: 0; vertical-align: middle;}
.slct_cont > label{ vertical-align: middle; padding: 0 5px; font-weight: 300; font-size: 16px; color: #616367; margin: 0;}


/*trending (side bar section)*/
.outer_aside{background-color:#252628;}
.trending{  padding: 10px; }
.vertical_list li{ float: left; margin: 2.4%; border-radius: 3px; overflow: hidden; position: relative; }
.vertical_list li a{}
.trending .vertical_list li{width: 45%; background: url("../img/default.png") no-repeat scroll center center #151515; height: 124px;}
.vertical_list li > a img,.vertical_list li > img{ width: 100%;}
.black_gradient{background: url("../img/black_gradient.png") repeat-x scroll 0 bottom transparent; position: absolute; height: 100%; width: 100%; bottom: 0;}
.vertical_list li > a span{ color: #fff; font-size: 19px; font-weight: lighter; z-index: 20; display:block;padding-left: 5px; position: absolute; bottom: 2px; }
.vertical_list li a:hover span{ color: #0098dc;}

/*footer*/
footer{ padding: 10px 10px 100px; }
.footer_links{ margin-bottom:10px;}
.footer_links li{float: left; margin-right: 4%;}
.footer_links li:last-child{margin-right: 0;}
.footer_links li a{ color:#a2a1a1; font-size: 14px;}
.footer_links li a:hover{color: #fff;}
.copyRights{ color: #a2a1a1; font-size: 13px; font-weight: 300;}

/*sidebar*/
#wrapper{padding-left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
#sidebar-wrapper{margin-left:-75px;left:75px;width:75px;background:#5bb767;position:fixed;height:100%;z-index:1000;-webkit-transition: all .2s ease;
    -moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
#page-content-wrapper{width:100%; max-width:1310px; overflow: hidden;min-height: 620px;}
#menu-toggle{display:none;}
.sidebar-nav{position:absolute;top:0;list-style:none;margin:0;padding:0; width: 100%;}
.sidebar-nav > li{line-height:40px; box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;}
.sidebar-nav > li.sidebar_usr:not(.not_LoggedIn){ box-shadow: none;}
.sidebar-nav > li > a{ font-weight:300;width:75px;color:transparent;display:block;text-decoration:none; height: 60px; background: url("../img/menu_icons.png") no-repeat scroll 0 0 transparent; text-indent: -20px; opacity: .9;padding-top: 10px;
    -moz-transition: all .4s ease .2s;-ms-transition: all .4s ease .2s;-o-transition: all .4s ease .2s;transition: all .4s ease .2s; }
.sidebar-nav > li > a:hover,.sidebar-nav > li.current > a:hover{text-indent: 85px;background-color:rgba(105, 209, 118, 0.85);text-decoration:none; opacity: 1; color:#1d7427; font-size: 19px;}
.sidebar-nav > li > a:active,.sidebar-nav > li > a:focus{text-decoration:none}
.sidebar-nav>.sidebar_brand{height:60px;line-height:60px; box-shadow: none; margin-bottom: 30px;}
.sidebar-nav>.sidebar_brand a{color:#fff; background: none; text-indent: 10px; opacity: 1; }
.sidebar-nav>.sidebar_brand a:hover{ background-color: transparent; text-indent: 10px;font-size:16px;}
.sidebar-nav>.sidebar_login > a{text-indent:0; background-position: 16px -135px;}
.sidebar-nav>.sidebar_login.current > a{text-indent:0; background-position: 16px -212px; opacity: 1;}
.sidebar-nav>.sidebar_login > a:hover{ width: 150px;}
.sidebar-nav>.sidebar_register a{background-position: 16px 15px;}
.sidebar-nav>.sidebar_register.current a{background-position: 16px -58px; opacity: 1;}
.sidebar-nav>.sidebar_register a:hover{width: 160px;}
.sidebar-nav>.sidebar_dshbrd a{background-position: 16px -290px;}
.sidebar-nav>.sidebar_dshbrd.current a{background-position: 16px -372px; opacity: 1;}
.sidebar-nav>.sidebar_dshbrd a:hover{width: 180px;}
.sidebar-nav>.sidebar_dbt a{background-position:16px -458px;}
.sidebar-nav>.sidebar_dbt.current a{background-position:16px -538px; opacity: 1;}
.sidebar-nav>.sidebar_dbt a:hover{width: 215px;}
.sidebar-nav>.sidebar_cmprsn a{background-position:16px -625px;}
.sidebar-nav>.sidebar_cmprsn.current a{background-position:16px -706px; opacity: 1;}
.sidebar-nav>.sidebar_cmprsn a:hover{width: 250px;}
.sidebar-nav>.sidebar_argmnt a{background-position:15px -793px;}
.sidebar-nav>.sidebar_argmnt.current a{background-position:15px -878px; opacity: 1;}
.sidebar-nav>.sidebar_argmnt a:hover{width: 240px;}
.sidebar-nav>.sidebar_mdrt a{background-position:15px -956px;}
.sidebar-nav>.sidebar_mdrt.current a{background-position:15px -1037px; opacity: 1;}
.sidebar-nav>.sidebar_mdrt a:hover{width: 180px;}
.sidebar-nav>.sidebar_anlsys a{background-position:15px -1116px;}
.sidebar-nav>.sidebar_anlsys.current a{background-position:15px -1185px; opacity: 1;}
.sidebar-nav>.sidebar_anlsys a:hover{width: 175px;}
.sidebar-nav>.sidebar_aignout a{background-position:15px -1261px;}
.sidebar-nav>.sidebar_aignout.current a{background-position:15px -1337px; opacity: 1;}
.sidebar-nav>.sidebar_aignout a:hover{width: 170px;}

.content-header{height:65px;line-height:65px}
.content-header h1{margin-left:20px;line-height:65px;display:inline-block}

.img_circl.add{border: 2px dotted #ccc;}
.img_circl {border: 2px solid #ededed;border-radius: 50%;display: inline-block;width: 57px;height: 57px;margin: auto;overflow: hidden;text-align: center;vertical-align: middle;}
.img_circl a {display: block;}
.nameAndDate{display: inline-block;font-size: 15px;padding: 0 7px;vertical-align: middle;}
.nameAndDate time{color: #7e7e7e;display: block;font-size: 12px;font-weight: 300;}
.nameAndDate .n_repl_to{display:inline-block;font-size: 12px;}

.top_bar{ background-color: #ebeced; padding:10px;}
.top_bar h1{display: inline-block ;font-size: 21px; margin: 0 5px; vertical-align: middle;}
.top_bar .img_circl_container{ display: inline-block;}


/*menu toggle button*/
.navicon-button { display: inline-block; position: relative; padding: 15px; transition: 0.4s; cursor: pointer; user-select: none; opacity: 1; font-size: 1rem; }
.navicon-button .navicon:before, .navicon-button .navicon:after { transition: 0.25s; }
.navicon-button:hover { transition: 0.5s; opacity: 1; }
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after { transition: 0.25s; }
.navicon-button:hover .navicon:after { top: -0.825rem; }
.navicon-button:hover .navicon:before { top: .825rem; }
.navicon { position: relative; width: 2.5em; height: 2px; background: #fff; transition: 0.5s;}
.navicon:after, .navicon:before { display: block; content: ""; height: 2px; width: 2.5rem; background: #fff; position: absolute; z-index: -1; transition: 0.5s 0.25s; }
.navicon:after { top: -0.625rem; }
.navicon:before { top: .625rem; }
.open:not(.steps) .navicon:before, .open:not(.steps) .navicon:after { top: 0 !important; }
.open .navicon:before, .open .navicon:after { transition: 0.5s; }
.open.x .navicon { background: transparent; }
.open.x .navicon:after { transform: rotate(45deg);-webkit-transform: rotate(45deg) }
.open.x .navicon:before { transform: rotate(-45deg);-webkit-transform : rotate(-45deg)}



/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {

    .col-lg-3.bg_drkGrey{ display:none;}
}
@media (max-width: 992px) {

    .bg_white{margin-top: 0;}
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
    #wrapper{left:0;position:relative;padding-left:0;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #sidebar-wrapper{left:0}
    #wrapper.active{position:relative;left:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #wrapper.active #sidebar-wrapper{left:75px;width:75px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
    #menu-toggle{display:block;left: 10px;position: absolute;top: 10px;z-index: 200; width: 40px; height: 40px;}
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {

}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}


.sidebar-nav > li.sidebar_info > a {
    background-image: url('/images/user_icon.png');
    background-position: 23px;
}
