/*General*/
*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Source Sans Pro'; font-weight: normal;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
a, a:hover, a:focus, a:visited{ outline: none; text-decoration: none;}
a{ text-decoration: none; color: #1177bb;}
a:hover{ color:#00A7F5; text-decoration: none;}
ul{ padding: 0;}
li{ list-style-type: none;}
body {
    padding-left: 5px;
    padding-right: 5px;
}
img{ width: 100%;}
.content_wrapper{ border:1px solid #f0f0f0; max-width: 600px; min-width: 300px; margin: 30px auto 60px; background-color: #fff; border-radius: 4px; padding-bottom: 5px; position: relative;}
.drpdwn{ position: relative;}
.drpdwn > .drpdwn_cont{ display: none;}
.drpdwn:hover > .drpdwn_cont{ display: block;}
.drpdwn_cont{position: absolute; top: 0; padding: 10px;}
.no_padding{ padding: 0;}
.pos_statc{ position: static;}
.by_speakol span{ display: inline-block; background: url(../img/logo_sml.png) no-repeat center -27px scroll transparent; overflow: hidden; text-indent: -9999px; width: 65px; height: 28px; vertical-align: middle; margin: 0 3px; }


/*not logged in top bar*/
.not_logged_tb{ padding: 10px;}
.login_msg{ color: #737373; margin: 3px 0; line-height: 24px;}
.speakol_btn{ display: inline-block; padding: 5px; border-radius: 4px;background: url(../img/logo_sml.png) no-repeat scroll center 3px #59b867; width: 73px; height: 24px; overflow: hidden; text-indent: -9999px; vertical-align: middle; line-height: 25px; margin: 0 3px;}
.speakol_btn:hover{ background-color: #49a156;}
.login_msg .facebook_icon,.login_msg .twitter_icon,.login_msg .gPlus_icon{ background: transparent url(../img/trans_social_icons.png) no-repeat scroll 0 0; display: inline-block; width: 22px; height: 22px; border-radius: 3px; margin: 2px; overflow: hidden; text-indent: -999px; vertical-align: middle;opacity: .80;}
.login_msg .facebook_icon:hover,.login_msg .twitter_icon:hover,.login_msg .gPlus_icon:hover{ opacity: 1;}
.login_msg .facebook_icon{ background-color: #26609d; background-position: center 3px; margin-left: 0px;}
.login_msg .twitter_icon{ background-color: #00c2f5; background-position: center -26px;}
.login_msg .gPlus_icon{ background-color: #ed4624; background-position: center -57px;}

/*top_bar*/
.tp_br_cnt {
	padding:10px;
	display: table;
	width: 100%;
}
.lft_usr {
	display: table-cell;
	vertical-align: middle;
	border-radius: 3px;
	padding: 3px 5px;
	cursor: pointer;
	width: 300px;
}
.lft_usr span{ vertical-align: middle;color: #888;}
.lft_usr:hover span{ color: #666;}
.lft_usr .glyphicon{ font-size: 11px; padding: 3px;}
.usr_img{ display: inline-block; background-color:#fafafa;border-radius: 50%; width: 20%; overflow: hidden;}
.usr_nm{ margin-left: 7px;}
.lft_usr:hover{ background-color: #f2f2f2;}
.lft_usr .drpdwn_cont{ background-color: #fdfdfd;top: 50px; z-index: 10; left: 0; width: 100%; border-radius: 3px; box-shadow: 0px 2px 2px rgba(0,0,0,.2), 0 0 0 3px #f2f2f2 inset;}
/*--------*/
.right_ntfc_cmnts {
	display: table-cell;
	vertical-align: middle;
	padding: 15px; float: right;
}
.ntfc,.cmnts{display: inline-block; vertical-align: top; margin: 0 5px;}
.ntfc > a {background: url(../img/icons-2.png) no-repeat scroll left -97px #fff; border-radius: 3px;padding: 3px 7px 3px 25px; color: #737980; display: block;border:solid 1px #f2f2f2; position: relative; z-index: 11;}
.ntfc:hover > a{border:solid 1px #f2f2f2; border-bottom-color: transparent;}
.ntfc.highlight > a{background:url(../img/icons-2.png) no-repeat scroll left -152px #b94141;color: #fff; border-color:#b94141;width: 47px !important;
line-height: 26px !important;height: 30px !important;padding: 0 0 0 29px !important;  }
.ntfc .drpdwn_cont{background-color: #fff;top: 27px; z-index: 10; right: -56px; width: 330px; border-radius: 2px; border: solid 1px #f2f2f2; padding: 0;}
.cmnts > a {
	background: url(../img/icons-2.png) no-repeat left 3px #fff;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	width: 25px;
	height: 25px;
	text-align: left;
}
.tabs_items{ margin: 0;}
.tabs_items li{ padding: 0 10px;}
.tabs_items li a{ font-size: 13px; color: #666; font-weight: normal; display: block; width: 100%; height: auto;padding: 7px 0 7px 25px;background: url("../img/icons-2.png") no-repeat scroll 0 0 transparent;opacity: .7}
.tabs_items li:nth-child(even){background-color: #fcfcfc;}
.tabs_items li:hover{background-color: #f5f5f5;}
.tabs_items li:last-child{background-color: transparent;}
.tabs_items li a:hover{opacity: 1;}
.tabs_items li a.follower{ background-position: -5px -464px;}
.tabs_items li a.upVote{background-position: -7px -545px;}
.tabs_items li a.all_ntfctions{background: #1177bb; color:#fff; text-align: center;text-indent: 0; width: auto; border-radius: 4px;padding: 4px 0; opacity: .85; margin: 10px 0;}
.tabs_items li a.all_ntfctions:hover{opacity: 1;}
.showArgsComments, .showArgsComments:visited{background: #1177bb; color:#fff; text-align: center; border-radius: 4px;padding: 4px 0; opacity: .85; margin: 10px; display: block;}
.showArgsComments:hover{opacity: 1;color:#fff;}
.raw_code_container{ overflow-x: scroll; margin: 5px 20px;}
/*social share*/
.shr_dsc{color: #9da2a6; background: url(../img/icons-2.png) no-repeat scroll left -229px; padding-left: 30px; font-size: 13px; float: right; margin-right: 20px;
         -moz-transition: all .2s ease;-ms-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
/* .shr_dsc{ */
/*     position: absolute; */
/*     top: 0px; */
/*     right: 20px; */
/*     color: #9da2a6; */
/*     background: url(../img/icons.png) no-repeat scroll left -230px; */
/*     padding-left: 27px; */
/*     font-size: 13px; */
/*     margin-top: 17px; */
/*     -moz-transition: all .2s ease; */
/*     -ms-transition: all .2s ease; */
/*     -o-transition: all .2s ease; */
/*     transition: all .2s ease; */
/* } */
.shr_dsc:hover .social_shares a { -moz-transition: margin .2s ease .2s;-ms-transition: margin .2s ease .2s;-o-transition: margin .2s ease .2s;transition: margin .2s ease .2s;}
.social_shares {
	cursor: default;
	margin-left: 7px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 2px;
}
.social_shares .shares_count{ font-size:15px; font-weight: 300; vertical-align: top; margin-right: 10px; }
.social_shares .shares_count strong{ vertical-align: top;}
.social_shares a{ display: inline-block; width: 22px; height: 22px;text-indent: -9999px; overflow: hidden; background: url("../img/Social_share_icons.png") no-repeat 0 0 scroll; opacity: .7;}
.social_shares a:hover{ opacity: 1;}
.social_shares a.facebook_icon{ background-position: 0 0;}
.social_shares a.twitter_icon{ background-position: 0 -26px;}
.social_shares a.gPlus_icon{ background-position: 0 -52px;}
.social_shares a.linkedIn_icon{ background-position: 0 -78px;}

/*tabs area*/
.tbd_br_cnt{ padding: 10px 0; background-color: #f4f3f3; position: relative;}

/*Comparison Details*/
.comparison_container .item_title{ font-size: 27px; text-align: center; margin-bottom: 20px; padding: 10px;}
.Support{opacity: .9; color: #fff; margin: 15px 7px; display: inline-block; border-radius: 9%; background: url("../img/ThumbsUpDwon.png") no-repeat scroll left -110px transparent; position: relative; width: 110px; height: 36px;}
.tot_vt_num{ display: block; text-align: center; padding: 20px; font-size: 15px; font-weight: 300; color: #999;}
.tot_vt_num strong{font-size: 19px; color: #333; display: block}
.comparison_items.voted .item_info{ opacity: .4;}
.comparison_items .item_info.voted{opacity: 1;}
.comparisonBox_comments .img_circl{ display: inline-block; vertical-align: middle; width: 40px; height: 40px;}
.comparisonBox_comments ul{ padding: 10px;}
.comparison_percentbar { padding:50px 30px 30px;}
.comparison_percentbar .pros_percentbar{ width: 100%;}
.comparison_percentbar .pros_percentbar span.number strong{ color: #444444; font-size: 15px; font-weight: normal; vertical-align: bottom; padding: 0 3px;}
.content_wrapper.comparison_details{max-width: 960px;}
.comparison_details .pros_percentbar strong,.comparison_details .pros_percentbar span { font-size: 12px; top: -25px;}
.comparison_details .pros_percentbar span.number{ left: 0;}
.comparison_details .pros_percentbar span.percent{ right: 0;}
.comparison_details .comparison_percentbar{ padding: 20px 10px;}
.comparison_details .comparison_items li{ border-right: 1px solid #dbdbdb; padding: 0; }
.comparison_details .comparison_items{  background-color: transparent; box-shadow: none; padding: 0; }




.comparison_items.voted a.Support { cursor: default;}
.comparison_items .item_info.voted a.Support{ cursor: pointer; background-color: #777; background-position: center -333px;}
.comparison_items .item_info.voted a.Support:hover{ background-color: #666;}
.item_info.voted{position: relative;}
.item_info.voted:after{position: absolute;content: '';  bottom: -27px; left: 0; right: 0; margin: auto; width: 0; height: 0; border: solid 12px transparent; border-bottom-color: #fff;}
.story_content_lPanel.full{padding: 20px 10px;}
.comparison_items{background-color: #f9f9f9; padding: 15px 15px 0; box-shadow:0 -5px 10px 0 rgba(0, 0, 0, 0.04) inset;}
.comparison_items li{ height: 100%; position: relative; float: left;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.comparison_items li:last-child{ border: none;}
.comparison_items.elems_5 li{width: 20%; padding:1%;}
.comparison_items.elems_5 li.i_collapse{ width: 12%;}
.comparison_items.elems_4 li{width: 25%; padding:1%;}
.comparison_items.elems_4 li.i_collapse{ width: 16.3%;}
.comparison_items.elems_3 li{width: 33%; padding:1%;}
.comparison_items.elems_3 li.i_collapse{ width: 16.3%;}
.comparison_items.elems_2 li{width: 50%; padding:1%;}
.comparison_items.elems_2 li.i_collapse{ width: 24%;}
.comparison_items li.i_expand{width: 50%;}
.comparison_items li.i_collapse:hover{background-color: #1177bb; cursor: pointer}
.comparison_items.elems_3 li.i_expand {width: 67%;}
.comparison_items.elems_2 li.i_expand{width: 75%;}

.comparison_items .img_circl{ float: left; margin-right: 10px; width:35px; height: 35px;transition: all .4s ease;}
/*.comparison_items .comment_unit{  margin-bottom: 20px;}*/
.comment_unit p {word-wrap: break-word;}
.comparison_items .comment_unit .vote_action{ position: static; float: left;}
.comparison_items .nameAndDate time{ font-size: 11px; display: inline-block;}
.comparison_items .item_comments{ opacity: 1;transition: all .4s ease;}
.comparison_items .social_buttons{ display: none;}
.comparison_items .reply{text-align: right;display: none}
.comparison_items .i_expand .reply{display: block}
.comparison_items .reply > a{font-size: 0px;transition: all .4s ease;}
.comparison_items .reply > a span{font-size: 14px;}
/*.comment_unit .replies_actions .reply{float: right;}*/
.comparison_items .i_expand .reply > a{font-size: 14px;}
.comparison_items .i_expand .replies_actions{ background-color: transparent;}
.comparison_items .i_expand .comment_unit{  border-bottom:  solid 1px #f1f1f1;}
.comparison_items .i_expand .social_buttons{ display: block;}
.comparison_items .i_expand .img_circl{ width:45px; height: 45px;}
/*.comparison_items .i_expand .comment_area{ padding-left: 55px;}*/
.comparison_items .comment_area{ padding-left: 0;transition: all .4s ease;}
.comparison_items .i_collapse .item_comments, .comparison_items .i_collapse .ad-container { opacity: 0; height: 0; overflow: hidden;}
.comparison_items .nameAndpercent, .comparison_items .item_info{ margin-bottom: 20px;transition: all .3s ease;}
.comparison_items .item_photo{ width: 80px; height: 80px; border-radius: 100%; overflow: hidden; margin: 0 auto;transition: all .3s ease; background-color: #f7f7f7;}
.comparison_items .i_collapse .usr_action{display:none !important}
.comparison_items .i_collapse .show_arg_container{display: none}
.comparison_items .usr_action .comment_on_action{-display:none}
.comparison_items .usr_action{display:none}
.comparison_items .active{display:block}
.comparison_items .active .comment_on_action{display:block}

.comparison_container .comparison_items .ad-container .usr_action {
    display: inherit;
    background-color: #f3f3f3;
    opacity: 1;
}

.ad-container.comment_unit .reply_container {
    background-color: #f3f3f3;
}

.ad-container.comment_unit .reply_container:before {
    border: none;
}
.comparison_items li:hover .item_photo{ width: 85px; height: 85px;}
/*.comparison_items li:hover .nameAndpercent{ margin-bottom: 15px;}*/
.comparison_items .item_photo img{ width: 100%;}
.comparison_items .item_name{ margin-bottom: 20px;transition: all .4s ease; }
.comparison_items .item_name h2{ text-align: center; font-size: 19px; font-weight: 300; margin: 0; }
.comparison_items .i_collapse:hover .item_name, .comparison_items .i_collapse:hover span.percent{ color: #fff;}
.comparison_items .item_vote_btn{ text-align: center; position: relative;}
.comparison_items .i_collapse .item_vote_btn,.comparison_items .i_collapse span.number,.comparison_items .i_collapse .pros_percent { display: none;}
.comparison_items .i_collapse .pros_percentbar{ background-color: transparent; text-align: center;}
.comparison_items .i_collapse span.percent{position: static; font-size: 16px;}
.comparison_items .item_vote_btn a.Support{background-color: #5BB767; margin: 0 auto; color: #fff; text-indent: 18px; overflow: hidden; background-position: left -111px; box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) inset, 0 -4px 0 2px rgba(0, 0, 0, 0.05) inset; line-height: 35px;}
.comparison_items .item_vote_btn a.Support:hover{ background-color:#34853E;}
.comparison_items .item_vote_btn a.Support.supported{background-color: #707070; text-indent: 0; background-image: none; text-align: center; line-height: 35px;}
.comparison_items .item_vote_num{ text-align: center; margin-top: 15px; clear: both;}
.comparison_items .item_vote_num span{font-size:22px; font-weight: 300;}
.comparison_items .i_collapse .item_vote_num span{text-align: center; font-size:18px; color: #777;transition: all .4s ease;}
.comparison_items .i_collapse:hover .item_vote_num span{color: #fff;}
.comparison_items .moreReplies{ display: block; color: #0f82b6; text-transform: uppercase; text-align: center; font-size: 13px; margin-top: 15px;}
.comparison_items .moreReplies:hover{color:#00A7F5;}
.comparison_items .i_collapse .moreReplies,.comparison_items .i_expand .moreReplies{ display: none; }


/*User Action section*/
.vt_btns{ text-align: center; padding: 10px;}
.vt_btns > span{ color: #3c4852; font-size: 23px; vertical-align: middle;}
.vt_btns > a{opacity:.9;display: inline-block; width: 56px; height: 50px;overflow: hidden; text-indent:-9999px; background: url(../img/vt_btns.png) no-repeat center 0 scroll transparent; vertical-align: middle; margin: 0 5px;}
.vt_btns a:hover{  opacity: 1;}
.vt_btns .vt_up{ background-position: center 0;}
.vt_btns .vt_dwn{ background-position: center -99px;}



.img_circl_container{margin-right: 10px;position: relative;}
.img_circl{border-radius: 50%;display: block;height: 75px;margin: auto;overflow: hidden;text-align: center;width: 75px;}
.img_comment{ margin: 0 7px; border-top: solid 1px #EBEBEB; position: relative; padding: 10px 0; }
.dimmed{opacity: 0.2 !important}
.context_img{ border: solid 2px #fff; border-radius: 2px; box-shadow: 0 0 0 1px #a7b8d1; max-width: 100%;width: auto; max-height: 250px; }
.close_btn{ display: block; width: 15px; height: 15px; margin: 5px 0; color: #999; font-size: 12px; }
.add_img{display: block; width: 28px; height: 25px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../img/icons-2.png") no-repeat scroll center -305px transparent; opacity: .7; }
.add_img{display: block; width: 28px; height: 25px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../img/icons-2.png") no-repeat scroll center -305px transparent; opacity: .7; }
.close_btn:hover,.add_img:hover{ opacity:1; color: #777;}
.vwrs_num{ float: left;color: #898989; padding: 15px 0; font-weight: 300;display: none}
.usr_action{ padding: 5px; margin-bottom: 10px;}
.usr_action .comment_on_action{ width:95%; margin: 10px auto 0;}
.usr_action .comment_on_action .img_circl_container{}
.usr_action .comment_on_action .comment_area {
	padding-left: 70px;
	clear: none;
}
.usr_action .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #ebebeb; position: relative;}
.usr_action .comment_on_action .tA_container:before{ content:''; width: 20px; height: 20px; position: absolute; left: -12px; top:25px; background: url(../img/nub.png) no-repeat scroll 0 0 transparent;}
.usr_action .comment_on_action .tA_container .close_btn{ position: absolute; top: 0; right: 0;}
.usr_action .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none;height: 60px;font-weight: 300; color: #a5a5a5; font-style: italic; font-size: 15px; padding: 5px;-webkit-appearance:none; outline: none;}
.usr_action .comment_on_action .write_comment:focus{ color: #444; font-style: normal;}
.usr_action .comment_on_action .add_img{ float: right;margin: 15px 15px 5px;}
.usr_action .comment_on_action .img_circl{ width: 50px; height: 50px;}
.comment_area input[type="button"],.comment_area input[type="submit"]{ font-size: 14px; float: right; margin: 10px 0; padding: 7px 12px; background-color: #3c4852; border-radius: 4px; border: none; color: #fff; }
.comment_area input[type="button"]:hover,.comment_area input[type="submit"]:hover{background-color: #343f47}

/*argument box comments()*/
.argumentBox_comments{position: relative; padding: 15px 0}
.argumentBox_comments .voting_circle{ text-align: center; margin: -43px auto; position: relative;  z-index: 1; width: 90px;}
.argumentBox_comments .voting_circle canvas{ background-color: #FFFFFF;border: 1px solid #f2f2f2;border-radius: 50%;padding: 2px;}
.pros_percentbar, .cons_percentbar{ width: 45%; background-color:#c7c7c7; height: 2px; position: relative; top: 50%; }
.cons_percentbar{ float: right;border-radius: 0 6px 6px 0;}
.pros_percentbar{ float: left;border-radius: 6px 0 0 6px;}
.cons_percentbar span, .pros_percentbar span{ position: absolute; top: -35px; font-size: 17px;}
.cons_percentbar span.percent{ color: #b94141; left:20px;  }
.pros_percentbar span.percent{ color: #53a960; right: 20px;}
.cons_percentbar span.number,.pros_percentbar span.number{font-size: 15px; font-weight: 300;color: #767676; vertical-align: middle;}
.cons_percentbar span.number{right:10px; text-align: right;direction: rtl;}
.pros_percentbar span.number{left:10px; text-align: left;}
.cons_percentbar span.number strong{ font-size: 23px; color: #b94141;vertical-align: middle; }
.pros_percentbar span.number strong{ font-size: 23px; color: #53a960; vertical-align: middle;}
.pros_percent,.cons_percent{height: 2px; -webkit-transition: all .7s ease-in-out .5s;-moz-transition: all .7s ease-in-out .5s;-ms-transition: all .7s ease-in-out .5s;-o-transition: all .7s ease-in-out .5s;transition: all .7s ease-in-out .5s;}
.cons_percent{ background-color:#b94141 ; float: right; box-shadow: 1px 0 0 #fff,-1px 0 0 #fff;}
.pros_percent{ background-color:#53a960; float: left; ;box-shadow: 1px 0 0 #fff,-1px 0 0 #fff;}
.left_pros_comments .img_circl, .right_pros_comments .img_circl{width:40px; height: 40px; display: inline-block;vertical-align: middle;}
.left_pros_comments{padding-top: 10px; box-shadow: 1px 0 0 #E5E5E5;}
.left_pros_comments .img_circl_container{ margin-bottom: 5px;margin-right: 0;}
.left_pros_comments .social_buttons{right: 0; top: 0;}
.left_pros_comments .reply{float: right;}
.left_pros_comments .reply > a:hover,.left_pros_comments .reply.active a{opacity: 1;}
.right_pros_comments{padding-top: 10px; box-shadow: -1px 0 0 #f2f2f2; margin-left: 1px; margin-bottom: 100px;}
.right_pros_comments .img_circl_container{ margin-bottom: 5px; margin-right: 0; overflow: hidden;}
.right_pros_comments .img_circl{ float: right;}
.right_pros_comments .comment_unit .nameAndDate{text-align: right; float: right;}
.right_pros_comments .comment_area{  text-align: right; clear: both;}
.right_pros_comments .social_buttons{left: 0; top: 0; right: auto;}
.right_pros_comments .reply{ text-align: left; float: left;}
.right_pros_comments .reply > a:hover,.right_pros_comments .reply.active a{opacity: 1;}
.right_pros_comments .comment_unit .vote_action{ float: right; direction: rtl;}.right_pros_comments .votes_up_num,.right_pros_comments .votes_down_num{ border-left:solid 1px #f2f2f2; border-right: none; }
.reply > a{ display: inline-block; padding-left: 20px; background: url("../img/icons-2.png") no-repeat scroll -5px -390px transparent; opacity: .75; color: #999;font-size: 13px; font-weight: 300;}
.showMore{ background-color: #647a88; display: block; padding: 4px 0; margin-top: 5px; border-radius: 3px; text-align: center; color: #fff; font-size: 13px;}
.showMore:hover{ background-color: #5c707d; color: #fff;}
li:last-child .comment_unit{border-bottom: none; }
.comment_unit{border-bottom: solid 1px #f2f2f2;padding: 5px; position: relative;}
.comment_unit .nameAndDate{ display: inline-block; vertical-align: middle; padding: 0 7px; font-size: 15px;}
/*.comment_unit .argument_time{ color:#bbb;width: 142px; display: block; font-size: 12px; font-weight: 300;}*/
.comment_unit .argument_time{ color:#bbb;width: 142px; display: inline-block; font-size: 12px; font-weight: 300;}
.comment_unit .social_buttons{ opacity: 0;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.comment_unit:hover .social_buttons{ opacity: 1; }
.comment_unit .comment_area p{ margin: 7px 0;}
.comment_unit .replies_actions{ width: 100%; margin: 10px 0; min-height: 22px; overflow: hidden;}
.comment_unit .vote_action{ float: left;}
.comment_unit .vote_action .votes_up,
.comment_unit .vote_action .votes_down {
	font-size: 14px;
	color: #7e7e7e;
	font-weight: normal;
	padding: 0 25px 0 0;
}
.comment_unit .vote_action .votes_up:hover,.comment_unit .vote_action .votes_down:hover{opacity: 1;}
.comment_unit .vote_action .votes_up {
	background-position: 9px -228px;
}
.comment_unit .vote_action .votes_down {
	background-position: 9px -280px;
}
.comment_unit .vote_action .votes_up.voted{ background-position: 9px -7px;}
.comment_unit .vote_action .votes_down.voted{ background-position: 9px -59px;}

.story_title_info .item_title span {background-color:#fcffa5; outline: none;}
.story_title_info .item_title span.edited {background-color:transparent;}
.social_buttons{ position: absolute; top:0; right: 0; opacity: .3; z-index: 15;}
.social_buttons a{ opacity: .5;display: block; float: left; width: 25px; height: 20px; overflow: hidden;text-indent: -9999px;background: url("../img/social.png") no-repeat scroll 0 0 transparent;}
.social_buttons a:hover{ opacity: 1;}
.social_buttons a.facebook_button{ background-position: 0px -45px;}
.social_buttons a.twitter_button{background-position: 0px -90px;}
.social_buttons a.follow_button{background-position: 0px -182px;}
.social_buttons a.mute_button{background-position: 0px -136px;}
.social_buttons a.muted-reply{background-position: 0px -181px;}
.social_buttons a.reported-reply {background-position: 0px -361px;}
.social_buttons a.report_button{background-position: 0px -278px;}
.social_buttons a.report_button.reported{background-position: 0px -361px;}
.social_buttons a.remove_button{background-position: 0px -324px;}
.social_buttons a.expnd_button{background-position: 0px -229px;display: none}

.prtcpnts_cont{ margin-bottom: 10px;background-color: #fbfbfb; padding: 10px;}
.pros_prtcpnts,.cons_prtcpnts{ width: 49%; display: inline-block; vertical-align: top;}
.prtcpnts_cont .img_circl{ width: 30px; height: 30px; display: inline-block; margin:0 2px; vertical-align: middle;}
.prtcpnts_imgs_cont{ display: inline-block; cursor: default;}
.prtcpnts_imgs_cont:hover .img_circl{opacity: .7;}
.prtcpnts_imgs_cont .img_circl:hover{opacity: 1;}
.prtcpnts_info{ display: inline-block; vertical-align: middle; padding: 0 3px;}
.othr_frnds,.othr_frnds:focus{ color: #707070; font-weight: 300;}
.othr_frnds:hover{color: #555}
.invt_mor{clear: both; display: table; font-weight: 600;}
.cons_prtcpnts .prtcpnts_imgs_cont,.cons_prtcpnts .prtcpnts_info{ float: right; direction: rtl;}
.cons_prtcpnts{ float: right;}
.vote_action > div {
	float: left;
}
.votes_up_num,
.votes_down_num {
	display: inline-block;
	padding: 0 1px 0 5px;
	border-right: solid 1px #f2f2f2;
}
.votes_down_num{border-right:0 none;	padding: 0 1px 0 6px;}
.votes_up,.votes_down{font-size: 24px; font-weight:bold;background: url("../img/ThumbsUpDwon.png") no-repeat scroll center 0 transparent;opacity: .75;}
.votes_up{padding-left: 25px;background-position: -5px 1px; color: #166e16;}
.votes_down{padding-right: 25px; background-position: 25px -51px; color: #8a0a0b;}
.shr_cmmnt{display: inline-block; vertical-align: middle;display: none !important}
.shr_cmmnt > a{display:block; background:url("../img/icons-2.png") no-repeat scroll -2px -232px transparent; text-indent: -9999px; overflow: hidden; width: 25px; height: 20px;opacity: .75; }
.shr_cmmnt > a:hover{opacity: 1;}
.right_pros_comments .shr_cmmnt > a{text-indent: 9999px;}
/*comment on item*/
.comment_unit .reply_container{ background-color: #ecf0f6; position: relative; padding: 5px; border-radius: 3px; margin-top: 15px; text-align: left;}
.comment_unit .reply_container:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#ecf0f6; }
.comment_unit .comment_on_action .tA_container .close_btn{position: absolute;right: 0;top: 0;}
.comment_unit .comment_on_action .tA_container .img_comment{ text-align: left;}
.comment_unit .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #dee2e8;}
.comment_unit .comment_on_action .tA_container:hover{border: 1px solid #d1d1d1;}
.comment_unit .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none; padding-bottom: 0;height: 50px;}
.comment_unit .comment_on_action input[type="button"],.comment_unit .comment_on_action input[type="submit"]{ font-size: 14px; float: right; margin: 10px 0; padding: 5px 20px 5px 20px; font-weight: 300;}
.comment_unit .comment_on_action .add_img{ float: right;margin: 13px 10px 5px; text-align: left;}
.comments_number{ opacity: .85; margin-left:10px; font-size:13px;float: right; color: #6e6f6f; padding-left: 20px;background: url("../img/social.png") no-repeat scroll -5px 1px transparent;}
.comments_number:hover{ opacity: 1;}
.reply .reply_container{ display: none;}
.reply.active .reply_container{ display: block;}
.reply_container .comment_unit{ border-bottom: solid 1px #e5e5e5; border-top: none;}
.img_circl_container{ float: left; margin-right: 10px;}
.comment_unit .comment_area {
	clear: both;
	padding: 5px 0 0;
}
.social_buttons{right: 5px; top: 10px;}
.reply{ text-align: right;}
.reply > a:hover,.left_pros_comments .reply.active a{opacity: 1;}
.sub_comments.reply_container:before{right:30px; left: auto;}

/*top_discussion section*/
.top_discussion{ padding: 15px; margin: 10px 0; float: left;width: 63%; box-shadow: 1px 0 0 #f2f2f2}
.top_discussion h3, .ldrbrd h3{ margin: 0; font-size: 18px; color: #414141; padding:10px 0 5px;}
.top_discussion .nws_itms_lst li{ display:block; width: 100%; margin: 20px 0;}
.top_discussion .nws_itms_lst .itm_img{float: left; margin:0 10px 0 0; width: 120px; height: 68px; border-radius: 0;}
.top_discussion .nws_itms_lst .itm_info{ float: left;}
.top_discussion .nws_itms_lst .itm_shares{ background: url("../img/icons-2.png") no-repeat scroll -2px -232px rgba(0, 0, 0, 0); margin-right: 15px; padding-left: 25px; color: #666666; font-size: 13px;}
.top_discussion .nws_itms_lst .itm_arguments{ background: url("../img/icons-2.png") no-repeat scroll -5px -390px rgba(0, 0, 0, 0); padding-left: 22px; color: #666666; font-size: 13px;}
.ldrbrd{ padding: 15px; margin: 10px 0 10px 1px; float: left;width: 32%; box-shadow: -1px 0 0 #f2f2f2}
.top_discussion .showMore{ background-color: #1177bb; opacity: .9}
.top_discussion .showMore:hover{ opacity: 1}
.user_unit{ padding: 10px 0;}
.user_unit .img_circl_container{ float: left;}
.user_unit .img_circl{ width: 50px; height: 50px;}
.user_unit .User_info{ padding-left: 5px; float: left;}
.user_unit .User_info a,.user_unit .User_info span{display: block;}
.user_unit .userName{font-size: 17px; font-weight: 400;}
.followUser,.unfollowUser{ font-size: 13px; color: #fff; background-color: #95b250; border-radius: 3px; padding: 1px 10px; width: 55px;margin-top: 5px;}
.unfollowUser{ background-color:#980a0b; color: #fff;}
.unfollowUser:hover,.unfollowUser:focus{ background-color:#b30c0c; color: #fff}
.followUser:hover,.followUser:focus{ background-color: #8ca848;color: #fff}
.arg_num{ font-size:13px; font-style: italic; color: #8a8a8a;}

/* #Login Popup
================================================== */
#loginbox h2{font-size: 15px; margin:3px;}
#loginbox .email_ico {background: url("../img/icons.png") no-repeat scroll 5px 2px #EEEEEE;padding: 18px;}
#loginbox .password_ico {background: url("../img/icons.png") no-repeat scroll 5px -48px #EEEEEE;padding: 18px;}
.input-group-addon, .input-group-btn, .input-group .form-control{padding:18px;}
.input-group{padding-bottom: 10px;}
.modal-body{padding:10px 15px}
#loginbox .forgot{float:right}
#loginbox .social_connect{margin-top: 20px}
.modal{top:15%; overflow: visible}
.fb_login,.ggl_login, .sp_login{ position: relative;border-radius: 4px; margin-bottom:10px; font-size:18px; display: block;padding: 14px 14px 14px 20%;}
.fb_login{ background-color: #324e8d; color: #fff;}
.fb_login:hover{ color: #fff; background-color:#2e4885;}
.fb_login:visited{ color: #fff;}
.fb_login:before,.ggl_login:before{ content: ""; position: absolute; left: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;background: url("../../img/Social_share_icons.png") no-repeat scroll 0 0 rgba(255,255,255, .15);}
.sp_login:before{ content: ""; position: absolute; left: 0; top: 0;width:15%; height:100%;border-radius: 4px 0 0 4px;background: url("../../img/speakol-logo.png") no-repeat scroll  rgba(255,255,255, .15); background-size: 54px;
background-position: -5px 0px;}
.ggl_login{ background-color: #d7d7d7; color: #404244;}
.ggl_login:hover{ background-color: #c9c9c9; color:#404244}
.ggl_login:visited{ color:#404244}
.fb_login:before{ background-position: center -229px;}
.ggl_login:before{ background-position: center -167px;}
.grey_btn{margin-top: 8px;background: #3c4852;border: 0;color: #fff;border-radius: 3px;font-family: 'Source Sans Pro';font-size: 16px;line-height: 40px;padding: 0 13px;}
.tooltip_container.over-image {
    position: relative;
    left: -31px;
    top: 1px;
}
.sortby-dropdown {
    position: absolute;
    top: 14px;
    right: 260px;
    color: #9da2a6;
    font-size: 13px;
}
.sortby-dropdown .btn-default .caret {
    border-top-color: #9da2a6;
}

.sortby-dropdown > span {
    vertical-align: -1px;
}

.sort-order {
    background-color: transparent;
}

.sortby-dropdown .btn-default {
    background-color: #F4F3F3;
    border: none;
    color: #9da2a6;
}

.sortby-dropdown .dropdown-menu {
    min-width: 120px;
    left: 90px;
}
.sortby-dropdown .dropdown-menu>li>a:hover, 
.sortby-dropdown .dropdown-menu>li>a:focus {
    color: #333;
    text-decoration: none;
    background-color: #F4F3F3;
}

.ad-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 5px;
}

.ad-container .img_circl {
    margin-right: 3px;
}

.ad-container .nameAndDate {
    padding: 0;
}

.sponsored-indicator {
        display: block;
        float: left; 
        width: 25px;
        height: 20px;
        overflow: hidden;
        text-indent: -9999px;
        background: url("../img/star-icon.png") no-repeat scroll 0 0 transparent;
        transition: none;
        margin-left: 5px;
        margin-top: 6px;
}

.opacity-1, .social_buttons.opacity-1 {
    opacity:1;
}

.transition-none, .social_buttons.transition-none {
    transition: none;
} 

.ad-container.comment_unit .argument_time {
    width: 184px;
}
/* #Media Queries
================================================== */

/*my custom rang for smaller thatn 450px*/
/* Anything smaller than 450 */
@media only screen and (max-width: 480px) {
    .content_wrapper{ }
    .nav-tabs li a{ padding:9px; font-size: 14px; }
    .itm_img { height: 82px;}
    .ntfc .drpdwn_cont{ width: 310px;}
    .vt_btns > span{ display: block;}
    .vwrs_num{ margin: 0; padding: 5px 0 0 0; display:none}
    .comment_unit{ margin: 20px 0;}
    .right_pros_comments .social_buttons{top: -18px; left: -10px;}
    .left_pros_comments .social_buttons{top: -18px; right: -10px;}
    .comment_unit .replies_actions{ text-align: center;}
    .right_pros_comments .comment_unit .vote_action,.left_pros_comments .comment_unit .vote_action{ float: none;}
    .right_pros_comments .reply,.left_pros_comments .reply{ float: none; text-align: center;}
    .nested_comments .social_buttons{ top: -18px;}
    .n_rply_to{ display: inline-block; margin: 5px; text-align: center; white-space: nowrap;}
    .pros_prtcpnts, .cons_prtcpnts{width: 40%; font-size: 12px;}
    .comparison_items .item_photo{ width: 50px; height: 50px;}
    .comparison_items .item_name h2{ font-size: 14px;}
	.comment_unit .nameAndDate{display: block;font-size: 12px;}
	.login_msg{font-size: 11px}
	.social_buttons{top:25px}
	.comparison_items li:hover .item_photo {width: 50px !important;height: 50px !important;}
    .comparison_details .pros_percentbar span.number {left: 0px;top: -41px;margin-top: 3px;font-size: 12px;}
    .comparison_details .pros_percentbar span.percent { right: 15px; font-size: 14px; margin-top: 6px; }
    .tooltip_container.over-image {
        position: relative;
        left: -22px;
        top: 1px;
    }
    .sortby-dropdown {
        top: 11px;
        right: auto;
        width: 100px;
        left: 20px;
    }
    .sortby-dropdown .dropdown-menu {
        left: -27px;
    }
    .hide-xs {display: none !important;}
    .shr_dsc {
        width: 132px;
    }
    .social_shares {
        margin-left: 0px;
    }

    .comparison_items .item_vote_btn a.Support {
        text-indent: -9999px;
        width: 33px;
    }


    li.i_collapse .item_info {
        display: none;
    }


    .comparison_items.elem_3 li.i_expand, .comparison.elems_4 li.i_expand {
        width: 76%;
    }

    .comparison_items.elems_2 li.i_expand {
        width: 90%;
    }

    .comparison_items.elems_4 li.i_collapse {
        width: 8%;
    }

    .comparison_items.elems_3 li.i_collapse {
        width: 12%;
    }

    .comparison_items.elems_2 li.i_collapse {
        width: 10%;
    }

    li.i_expand .usr_action .comment_on_action .add_img {
        float: none;
        margin: 15px;
    }
    .usr_action .comment_on_action .add_img {
        margin: 0;
    }

    .img_circl_container {
        float: none;
        margin: auto;
        width: 100%;
    }

    .usr_action .comment_on_action .img_circl {
        margin: auto;
    }

    .usr_action .comment_on_action .tA_container:before {
        background: none;
    }

    .usr_action .comment_on_action .comment_area {
        padding-left: 0px;
        clear: both;
    }

    .usr_action .comment_on_action .img_circl {
        width: 50px;
        height: 50px;
        float: none;
    }

    .usr_action .comment_on_action .write_comment {
        font-size: 13px;
    }


    .comparison_items .item_vote_btn a.Support.supported {
        font-size: 12px;
    }

    .sponsored-indicator {
        margin-top: -16px;
    }

}

@media only screen and (max-width: 400px) {
     
    .item_comments, .show_arg_container, .ad-container{
        visibility: hidden;
    }

    li.i_expand .item_comments , li.i_expand .show_arg_container, li.i_expand .ad-container {
        visibility: visible;
    }
}



/* iPad Portrait/Browser */
@media only screen and (min-width: 480px) and (max-width: 500px) {

    li.i_collapse .item_info {
        display: none;
    }

    li.i_expand .item_comments , li.i_expand .show_arg_container {
        visibility: visible;
    }

    .comparison_items.elem_3 li.i_expand, .comparison.elems_4 li.i_expand {
        width: 76%;
    }

    .comparison_items.elems_2 li.i_expand {
        width: 90%;
    }

    .comparison_items.elems_4 li.i_collapse {
        width: 8%;
    }

    .comparison_items.elems_3 li.i_collapse {
        width: 12%;
    }

    .comparison_items.elems_2 li.i_collapse {
        width: 10%;
    }
    /* .hide-xs { */
    /*     display:none !important; */
    /* } */
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {
}

@media (max-width: 992px) {
}
/* Mobile/Browser */
@media only screen and (max-width: 767px) {
}
/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}
/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
}
/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
}
/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
}



.comparison_container .comparison_items li .usr_action {
    display: none;
    opacity: 0;
}


.comparison_container .comparison_items li .item_comments .comment_unit .replies_actions .reply .reply_container .usr_action {
    display: block;
    opacity: 1;
}

html.js body div.content_wrapper div.row div.col-lg-12 section.comparison_container ul.comparison_items li ul.item_comments li {
    clear: both;
    display: table;
    position: relative;
    width: 100%;
    border: none;
}

.comment_unit_parent {
    display: none;
}

.arg_box_photo{width: 40px;height: 40px;float: right;margin-top: 13px;margin-right: 11px;display: none}


.fixed section.tp_br_cnt,
.fixed section.not_logged_tb {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	z-index: 999;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.comparison-fixed .item_info {
	border-bottom: 1px solid #ddd;
	min-height: 152px;
}
.comparison-fixed li.i_collapse:hover .item_info{
	background-color: #1177bb;
}
.comparison-fixed li { padding-top: 420px !important; }
.comparison-fixed .elems_3 .item_info {
	position: fixed;
	top: 85px;
	padding-top: 10px;
	z-index: 999;
	background: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	width: 33.3%;
}
.comparison-fixed .item_info .item_photo {
	display: none;
}
.comparison-fixed .elems_3 li:first-child .item_info { left: 0; }
.comparison-fixed .elems_3 li:nth-child(2) .item_info { left: 33%; }
.comparison-fixed .elems_3 li:last-child .item_info { left: 66%; }
.comparison-fixed .elems_3 li.i_collapse .item_info { width: 11.2% !important; }
.comparison-fixed .elems_3 li.i_expand .item_info { width: 73% !important; }
.comparison-fixed .elems_3 li.i_expand:first-child + li.i_collapse .item_info { left: 74.5%; }
.comparison-fixed .elems_3 li.i_expand:first-child + li.i_collapse + li.i_collapse .item_info { left: 86.4%; }
.comparison-fixed .elems_3 li.i_collapse:first-child .item_info { left: 1.5%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_expand .item_info { left: 13%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_expand + li.i_collapse .item_info { left: 86.2%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_collapse .item_info { left: 13%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_collapse + li.i_expand .item_info { left: 24.6%; }

.tooltip_container{
    position: absolute;
    right: 0;
    top: -7px;
    height: 0;
    z-index: 99;
}
.tooltip_container a{ border-radius: 50%;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.bg-yellow {background-color: #FFCB18;}
.black { color: #222222;  }
.add_speakol {
    padding-right: 30px;
    white-space: nowrap;
    color: #adaeae;
    opacity: .7;
    float: right;
}
[data-readmore], [data-readmore-toggle] { display: inline-block; width: 100%; }
[data-readmore-toggle] { text-align: left;  }
[data-readmore] { overflow: hidden; }
.light-blue { color: #1177bb; }
.white {
    color: #FFFFFF;
}

.tooltip_container a.white:hover { color: #FFFFFF;  }
.tooltip_container.over-image a:hover { background-color: #222222; }
.tooltip_container.over-image a { background-color: #59b867; border: solid 3px; padding: 1px 7px; }
.tooltip_container.over-image .popover {
    background-color: #222222;
    box-shadow: none;
}
.tooltip_container.over-image .popover .arrow:after{
        border-top-color: #222222;
}

.tooltip_container.over-image .popover {
    background-color: #222222;
}

.tooltip_container.over-image .popover .popover-content {
    padding: 9px 12px;
    color: #FFFFFF;
}
.circle {
    border-radius: 50%;
}

.inline-block {
    display: inline-block;
}

.owner-status {
    width: 10px;
    height: 10px;
    border: 3px solid;
}
.border-green {
    border-color: #53a960;
}

.border-light-grey {
    border-color: #BEBEBE;
}

.green {
    color: #53a960;
}

.light-grey {
    color: #BEBEBE;
}

.owner-status-text {
    font-size: 10px;
    vertical-align: 2px;

}
.sp_login {
    background-color: #57B25F;
    color: #FFFFFF;
}
.sp_login:hover{ background-color: #34853E; color:#FFFFFF}
.ggl_login:visited{ color:#404244}
.grey_btn{margin-top: 8px;background: #3c4852;border: 0;color: #fff;border-radius: 3px;font-family: 'Source Sans Pro';font-size: 16px;line-height: 40px;padding: 0 13px;}
.tooltip_container.over-image {
    position: relative;
    left: -31px;
    top: 1px;
}
/* #Media Queries
================================================== */

/*my custom rang for smaller thatn 450px*/
/* Anything smaller than 450 */
@media only screen and (max-width: 450px) {
    .content_wrapper{ }
    .nav-tabs li a{ padding:9px; font-size: 14px; }
    .itm_img { height: 82px;}
    .ntfc .drpdwn_cont{ width: 310px;}
    .vt_btns > span{ display: block;}
    .vwrs_num{ margin: 0; padding: 5px 0 0 0; display:none}
    .comment_unit{ margin: 20px 0;}
    .right_pros_comments .social_buttons{top: -18px; left: -10px;}
    .left_pros_comments .social_buttons{top: -18px; right: -10px;}
    .comment_unit .replies_actions{ text-align: center;}
    .right_pros_comments .comment_unit .vote_action,.left_pros_comments .comment_unit .vote_action{ float: none;}
    .right_pros_comments .reply,.left_pros_comments .reply{ float: none; text-align: center;}
    .nested_comments .social_buttons{ top: -18px;}
    .n_rply_to{ display: inline-block; margin: 5px; text-align: center; white-space: nowrap;}
    .pros_prtcpnts, .cons_prtcpnts{width: 40%; font-size: 12px;}
    .comparison_items .item_photo{ width: 50px; height: 50px;}
    .comparison_items .item_name h2{ font-size: 14px;}
	.comment_unit .nameAndDate{display: block;font-size: 12px;}
	.login_msg{font-size: 11px}
	.social_buttons{top:25px}
	.comparison_items li:hover .item_photo {width: 50px !important;height: 50px !important;}
    .comparison_details .pros_percentbar span.number {left: 0px;top: -41px;margin-top: 3px;font-size: 12px;}
    .comparison_details .pros_percentbar span.percent { right: 15px; font-size: 14px; margin-top: 6px; }
    .tooltip_container.over-image {
        position: relative;
        left: -22px;
        top: 1px;
    }
}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Anything smaller than 1200 */
@media only screen and (max-width: 1199px) {
}

@media (max-width: 992px) {
}
/* Mobile/Browser */
@media only screen and (max-width: 767px) {
}
/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
/* Anything smaller than 480 */
@media only screen and (max-width: 479px) {
}
/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
}
/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
}
/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
}



.comparison_container .comparison_items li .usr_action {
    display: none;
    opacity: 0;
}

.comparison_container .comparison_items li.i_expand .usr_action.active {
    display: block;
    opacity: 1;
}

.comparison_container .comparison_items li.i_expand .item_comments .comment_unit .replies_actions .reply .reply_container .usr_action {
    display: block;
    opacity: 1;
}

html.js body div.content_wrapper div.row div.col-lg-12 section.comparison_container ul.comparison_items li ul.item_comments li {
    clear: both;
    display: table;
    position: relative;
    width: 100%;
    border: none;
}

.comment_unit_parent {
    display: none;
}

.arg_box_photo{width: 40px;height: 40px;float: right;margin-top: 13px;margin-right: 11px;display: none}


.fixed section.tp_br_cnt,
.fixed section.not_logged_tb {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	z-index: 999;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.comparison-fixed .item_info {
	border-bottom: 1px solid #ddd;
	min-height: 152px;
}
.comparison-fixed li.i_collapse:hover .item_info{
	background-color: #1177bb;
}
.comparison-fixed li { padding-top: 420px !important; }
.comparison-fixed .elems_3 .item_info {
	position: fixed;
	top: 85px;
	padding-top: 10px;
	z-index: 999;
	background: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	width: 33.3%;
}
.comparison-fixed .item_info .item_photo {
	display: none;
}
.comparison-fixed .elems_3 li:first-child .item_info { left: 0; }
.comparison-fixed .elems_3 li:nth-child(2) .item_info { left: 33%; }
.comparison-fixed .elems_3 li:last-child .item_info { left: 66%; }
.comparison-fixed .elems_3 li.i_collapse .item_info { width: 11.2% !important; }
.comparison-fixed .elems_3 li.i_expand .item_info { width: 73% !important; }
.comparison-fixed .elems_3 li.i_expand:first-child + li.i_collapse .item_info { left: 74.5%; }
.comparison-fixed .elems_3 li.i_expand:first-child + li.i_collapse + li.i_collapse .item_info { left: 86.4%; }
.comparison-fixed .elems_3 li.i_collapse:first-child .item_info { left: 1.5%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_expand .item_info { left: 13%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_expand + li.i_collapse .item_info { left: 86.2%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_collapse .item_info { left: 13%; }
.comparison-fixed .elems_3 li.i_collapse:first-child + li.i_collapse + li.i_expand .item_info { left: 24.6%; }

.tooltip_container{
    position: absolute;
    right: 0;
    top: -7px;
    height: 0;
    z-index: 99;
}
.tooltip_container a{ border-radius: 50%;display: block; margin:auto;font-size: 13px;font-weight: bold;height: 24px;padding: 3px 9px;width: 24px;}
.bg-yellow {background-color: #FFCB18;}
.black { color: #222222;  }
.add_speakol {
    padding-right: 30px;
    white-space: nowrap;
    color: #adaeae;
    opacity: .7;
    float: right;
}
[data-readmore], [data-readmore-toggle] { display: inline-block; width: 100%; }
[data-readmore-toggle] { text-align: left;  }
[data-readmore] { overflow: hidden; }
.light-blue { color: #2A6496; }
.white {
    color: #FFFFFF;
}

.tooltip_container a.white:hover { color: #FFFFFF;  }
.tooltip_container.over-image a:hover { background-color: #222222; }
.tooltip_container.over-image a { background-color: #59b867; border: solid 3px; padding: 1px 7px; }
.tooltip_container.over-image .popover {
    background-color: #222222;
    box-shadow: none;
}
.tooltip_container.over-image .popover .arrow:after{
        border-top-color: #222222;
}

.tooltip_container.over-image .popover {
    background-color: #222222;
}

.tooltip_container.over-image .popover .popover-content {
    padding: 9px 12px;
    color: #FFFFFF;
}
.circle {
    border-radius: 50%;
}

.inline-block {
    display: inline-block;
}

.owner-status {
    width: 10px;
    height: 10px;
    border: 3px solid;
}
.border-green {
    border-color: #53a960;
}

.border-light-grey {
    border-color: #BEBEBE;
}

.green {
    color: #53a960;
}

.light-grey {
    color: #BEBEBE;
}

.owner-status-text {
    font-size: 10px;
    vertical-align: 2px;

}
.footer-text {
    color:#adaeae; 
    opacity: .7;
}

.footer-text:hover, .footer-text:focus {
    color:#adaeae; 
    opacity: .9;
}


.footer {
    margin-top: 20px;
}
.n_rply_to {
    border-radius: 3px;
    font-size: 12px;
    color: #888;
    font-weight: 300;
    padding: 5px 10px 5px 30px;
    background: #F5F6F7 url("../img/icons-2.png") no-repeat scroll 2px -602px;
}

.n_rply_to span {
    font-weight: bold;
}
