/*tabs*/
#myTab2{ background-color: #ebeced;padding-left: 15px; border-bottom: none;}
.nav-tabs > li.active > a,.setting .nav-tabs > li.active > a:hover,.setting .nav-tabs > li.active > a:focus{ background-color: #fff; color: #26292e; border: none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none;}
.nav-tabs > li a{border: none; font-size: 18px; font-weight: 300; color: #7d8287;}
.nav-tabs > li a:hover{background-color: transparent; color: #26292e;}
.tab-content{ padding: 15px;}

/*Show filter*/
.nav-pills{ display: inline-block;}
.drpdwn_cont{}
.drpdwn_cont > span{ color:#6e6f6f; vertical-align:middle; font-weight: 300; }
.dropdown{ display: inline-block;}
.dropdown .btn{ background-color: transparent; border: none; color: #6e6f6f;}
.dropdown .btn:hover{ background-color: #f0f0f0; color: #26292e;}
.dropdown-menu-right{ right: 0; left: auto;}
.caret{ border-width:5px 5px 0; }
.nav-pills > li > span{ padding: 8px 20px 0 0; display: inline-block;color: #616367;}
.nav-pills > li > a{ border-radius: 50px; padding: 5px 15px; margin: 3px 7px; font-size: 16px; color: #616367;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{ background-color: #ededed; color: #616367;}
a.list-group-item > .badge,a.list-group-item.active > .badge, .nav-pills > .active > a > .badge{ background-color:transparent; color: #616367;padding:4px; font-size: 14px;font-weight: 300;}
.Actions_btn_cont{ position: relative;}
.slct_cont{ padding: 10px; background-color: #ededed; margin: 7px 0; line-height: 30px; }
.slct_cont.top_brd{border-top: solid 1px #e1e1e1;}
.slct_cont.bot_brd{border-bottom: solid 1px #e1e1e1;}
.slct_cont > input[ type ="checkbox"]{ margin: 0; vertical-align: middle;}
.slct_cont > label{ vertical-align: middle; padding: 0 5px; font-weight: 300; font-size: 16px; color: #616367; margin: 0;}

.Actions_btn_cont{ float: right; width: 40%; line-height: 35px;}
.Actions_btn_cont span{ float: right; font-weight: 300; padding: 0 7px; color: #7d8287;}
.Actions_btn_cont .actions_buttons{ position: static; float: right;}
.arg_rep_items{ padding: 5px 10px;}
.arg_rep_items > li{ border-bottom: solid 1px #e1e1e1; padding: 15px 0; position: relative;}
.arg_rep_items > li:last-child{ border-bottom: none;}
.arg_rep_items .chkbx_cont{float: left;height: 90%;padding-top: 15px;position: absolute;z-index: 99;}
.arg_rep_items .comment_unit{ padding-left: 25px;}
.arg_rep_items_cont .more_cont{ background-color: #fff; border: solid 1px #e6e6e6; padding: 10px 0; margin: 15px 0;}

/*Moderate content*/
/*arg*/
.feed_items .feed_item_content{ position: relative;margin-bottom: 14px;border-bottom: 1px solid #fafafa;padding-bottom: 10px;}
.feed_items .img_circl_container{ float: left; width:50px;margin-right: 10px; position: relative; z-index: 5;}
.feed_items .nameAndAction{ font-size: 15px;}
.feed_items .nameAndAction .Challenge{ background-color: #e0eef5; border-radius: 3px; padding: 0 7px; margin: 0 7px; }
.feed_items .item_title { margin-top: 5px;}
.feed_items .item_title a,.feed_items .item_title span{color: #3e3e3e;font-size: 21px;font-weight: normal;line-height: 15px;margin: 0;text-decoration: none; padding-left: 40px;;background: url("../img/type_icons.png") no-repeat scroll 0 5px transparent;}
.feed_item_arg .item_title a{ background-position:-2px 5px ;}
.feed_item_cmprsn .item_title a{ background-position:-2px -86px;}
.feed_item_dbt .item_title a{ background-position:-2px -175px ;}
.feed_items .user_commented{ padding-left: 95px; margin: 5px 0;background: url("../img/icons.png") no-repeat scroll 61px -581px transparent;}
.feed_items .user_commented p{color: #3e3e3e; font-style: italic; font-weight: lighter; font-weight: 400;}
.feed_items .percentage_bar_container{ padding-left: 73px; margin:20px; padding-right: 15px; }
.feed_items a.up_percent,.feed_items a.down_percent{ height: 20px; padding: 0; margin-top: 2px;}
.feed_items time{ float: left; margin-left: 60px; color: #6e6f6f; font-size: 13px;color: #6e6f6f;}
.feed_items .interact{ float: right; font-size: 13px;}
.feed_items .feed_time{ margin: 0 0 5px 0;}
.feed_items .user_action{ margin-left: 60px; border-top: solid 1px #E6E8E9; padding-top:10px;}
.feed_items .user_action textarea{width: 87%; max-width: 87%; padding-bottom: 0; min-height: 70px; display: block; float: left;}
.feed_items .user_action input[type=button]{ font-size: 13px; float: right; margin-top: 10px; margin-right:15px;  padding: 5px 0; width: 15%;}
.feed_items .comment_on_action{ margin-top: 10px;}
.user_action .undo_action{ color: #808081; font-size: 12px; font-weight: 400; background-color: #ebebec; padding: 1px 6px; margin: 0 7px; border-radius: 3px;}
.user_action .undo_action:hover{ color: #3e3e3e;  background-color: #d5d5d5;}
.comments_number{ opacity: .85; margin-left:10px; font-size:13px;float: right; color: #6e6f6f; padding-left: 20px;background: url("../img/icons.png") no-repeat scroll -5px -416px transparent;}
.comments_number:hover{ opacity: 1;}

/*dbt*/
.debates_listing .item_title{padding-left: 0; width: 80%;}
.debates_listing .percentage_bar_container{ padding-left: 15px;}
.verses{background-color: #CFD0D3;border-radius: 100%;display: block;font-size: 19px;left: 0;margin: auto;padding: 6px;position: absolute;right: 0;text-align: center;top: -15px;width: 40px;}
.users_debating{ position: relative; margin: 30px 15px 0 0; width: 85%;}
.users_debating .user_one{width: 48%; display: inline-block;}
.users_debating .user_one .comment_area{ padding-left: 60px;}
.users_debating .comment_area > p{ color: #3E3E3E;font-style: italic;font-weight: 400; padding: 0 7px; font-size: 14px;}
.users_debating .user_two{width: 48%;display: inline-block; text-align: right; float: right;}
.users_debating .user_two .comment_area{ padding-right: 60px;}
.users_debating .user_two .img_circl_container{ float: right; margin-left: 10px; margin-right: 0;}
.user_one .img_circl, .user_two .img_circl{ width: 50px; height: 50px;}

/*cmprsn*/
.comparison_items{ margin-bottom: 20px;}
.comparison_items li{ border-right: solid 1px #dbdbdb; min-height: 400px; height: 100%; position: relative; float: left;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.comparison_items li:last-child{ border: none;}
.comparison_items.five_elems li{width: 20%; padding:1%;}
.comparison_items.five_elems li.i_collapse{ width: 12%;}
.comparison_items.four_elems li{width: 25%; padding:1%;}
.comparison_items.four_elems li.i_collapse{ width: 16.3%;}
.comparison_items.three_elems li{width: 33%; padding:1%;}
.comparison_items.three_elems li.i_collapse{ width: 12%;}
.comparison_items.two_elems li{width: 50%; padding:1%;}
.comparison_items.two_elems li.i_collapse{ width: 24%;}
.comparison_items .item_vote_btn a.Support{ background-color:#208620; margin: 0 auto; color: #fff; text-indent: -9999px; overflow: hidden; padding: 5px 25px; background-position: center -112px; }
.comparison_items .item_vote_btn a.Support:hover{ background-color:#259925;}
.comparison_items .item_vote_btn a.Support.supported{ background-color:#777777;}
.comparison_items .item_vote_num{ text-align: center; margin-top: 15px; clear: both;}
.comparison_items .item_vote_num span{font-size:22px; font-weight: 300;}
.comparison_items .item_photo{ width: 100px; height: 100px; border-radius: 100%; overflow: hidden; float: left; margin-bottom:10px;transition: all .4s ease;}
.comparison_items .i_collapse .item_photo{ float: none; margin: 0 auto 10px; width: 70px; height: 70px}
.comparison_items .item_photo img{ width: 100%;}
.comparison_items .item_name{ margin-bottom: 20px;transition: all .4s ease;}
.comparison_items .item_name h2{ text-align: center; font-size: 25px; font-weight: 300; margin: 0;}
.comparison_items .item_vote_btn{ text-align: center; position: relative;}
.items_compared{ width: 85%;padding-left: 60px;}
.items_compared .comparison_items li{min-height: 130px; height: 130px; width: 18%; border: none; margin: 0; padding: 0;}
.items_compared .comparison_items .item_photo { width: 50px; height: 50px; margin: auto; float: none;}
.items_compared .comparison_items .item_name h2 {font-size: 14px;}
.items_compared .comparison_items .nameAndpercent,.items_compared .comparison_items .item_name{ margin-bottom: 15px;}
.items_compared .comparison_items .item_vote_btn a.Support { text-indent: 0; overflow: visible; background-position: left -110px; padding: 5px 15px 5px 30px; }
.items_compared .comparison_items .item_vote_btn a.Support.dimmed{ background-position:center -112px; text-indent: -9999px; overflow: hidden; background-color: #dbdbdb;  padding: 5px 30px;}
.items_compared .comparison_items .item_vote_btn a.Support.supported{background-position:center -336px; text-indent: -9999px; overflow: hidden; padding: 5px 30px;}
.items_compared .comparison_items .item_vote_btn .comment_unit{ position: absolute; left:0; width: 350px; z-index: 99}
.items_compared .comparison_items .comment_area{ float: left; width: 80%;}
.items_compared .comparison_items .img_circl{ width: 45px; height: 45px; margin: 0;}

.comment_unit .reply_container{ background-color: #ecf0f6; position: relative; padding: 10px; border-radius: 3px; margin-top: 10px; text-align: left;}
.comment_unit .reply_container:before{content: ""; position: absolute; top: -20px; width: 0; height: 0; border: solid 10px transparent; border-bottom-color:#ecf0f6;left: 16%;}
.comment_unit .comment_on_action .tA_container .close_btn{position: absolute;right: 0;top: 0;}
.comment_unit .comment_on_action .tA_container .img_comment{ text-align: left;}
.comment_unit .comment_on_action .tA_container{ background-color: #fff; border-radius: 3px; padding: 3px;border: 1px solid #dee2e8;}
.comment_unit .comment_on_action .tA_container:hover{border: 1px solid #d1d1d1;}
.comment_unit .comment_on_action .write_comment{ border-radius:0;background-color: transparent; border: none; width:100%; resize: none; padding-bottom: 0;height: 55px;}
.comment_unit .comment_on_action input[type="button"]{ font-size: 14px; float: right; margin: 10px 0; padding: 5px 25px; font-weight: 300;}
.comment_unit .comment_on_action .add_img{ float: right;margin: 15px 10px 5px; text-align: left;}
.comments_number{ opacity: .85; margin-left:10px; font-size:13px;float: right; color: #6e6f6f; padding-left: 20px;background: url("../img/icons.png") no-repeat scroll -5px -415px transparent;}
.comments_number:hover{ opacity: 1;}
.add_img{display: block; width: 25px; height: 20px; margin: 5px 0; text-indent: -9999px; overflow: hidden;background: url("../img/icons.png") no-repeat scroll center -479px transparent; opacity: .7; }
.add_img:hover{ opacity:1; }


/*vote buttons*/
.support_buttons_container{ text-align: center;}
.support_buttons_container > span{ font-size: 18px;}
.Support{ opacity: .9;padding: 7px 15px 7px 30px; color: #fff; margin: 15px 7px; display: inline-block; border-radius: 3px; background:url("../img/ThumbsUpDwon.png") no-repeat scroll left -110px transparent; position: relative;}
.Support_one:hover,.Support_two:hover,.Support_one:visited,.Support_two:visited{ color: #fff; opacity: 1;}
.Support{ background-color: #147307}
.Support_two{ background-color: #8A0A0B}
.Support_one.supported:before, .Support_two.supported:before{content: ""; position: absolute; bottom: -20px; width: 0; height: 0; border: solid 10px transparent;}
.Support_one.supported.orange:before, .Support_two.supported.orange:before{border-top-color:#ff7800;}
.Support_one.supported:before{ border-top-color:#147307; right: 15px;}
.Support_two.supported:before{border-top-color:#8A0A0B; left: 15px;}


#fltrs h2{ font-size: 22px; font-weight: 400;}
#fltrs p{ font-size: 13px; font-weight: 400; color: #7f8287}
#fltrs .btn{ margin: 15px 0;}
#Tabs_fltr{ border: none; padding: 0 3%;}
#Tabs_fltr > li.active > a, #Tabs_fltr > li.active > a:hover,#Tabs_fltr > li.active > a:focus{border: 1px solid #ebebeb; border-radius: 4px 4px 0 0; border-bottom: none;}
.Tabs_fltr.tab-content{ border: 1px solid #ebebeb; border-radius: 4px;}
.Tabs_fltr{ padding: 0;}
.Tabs_fltr .table{ margin: 0;}
.Tabs_fltr .table td{border-right:1px solid #f2f2f2; border-top: solid 1px #f2f2f2;  padding: 0;}
.Tabs_fltr .table thead > tr > th{ border-bottom: 1px solid #ddd; border-right: 1px solid #f2f2f2; font-weight: 300; font-size: 14px; color: #7f8287;}
.Tabs_fltr .table td > input[type = 'text']{ display: block; width: 100%; padding: 20px 0; border: none; border-radius: 0;}
.Tabs_fltr .table td > input[type = 'text']:focus{  background-color: #f7f7f7;}


#mdrtrs .form_row {display: inline-block;line-height: 34px;margin: 20px 3%; width: 25%;}
#mdrtrs .img_circl_container{ position: relative;}
#mdrtrs .actions_buttons{ top: 10px; right: 2%;}
#mdrtrs .nameAndDate input[type='text']{ width: 95%; padding: 0 1%;}
#mdrtrs .nameAndDate label{font-size: 13px; font-weight: 300; color: #616367;}
#mdrtrs .nameAndDate > div{ height: 0;}
