.dialog_container{display: none ;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;overflow: auto; height: 100%; background-color: rgba(41,48,59,.5)}
.dialog_container .dialog_box{ width: 60%; padding: 10px; background-color: #f7f7f7; border-radius: 7px;margin: 70px auto 0;}
.dialog_box .left_panel{ display: inline-block; width: 59%; padding: 10px 2%; border-right: solid 1px #c0c0c0; vertical-align: top;}
.dialog_box .right_panel{ display: inline-block; width: 40%; padding: 10px 2%;}
.dialog_box .upload_btn{ color: #fff; display:block; text-align: center; border-radius: 5px; padding:70px 0 30px 0; margin: 40px auto;background: url("../img/Upload_icon.png") no-repeat scroll center 25px  #0098dc;}
.dialog_box .upload_btn:hover{ background-color: #009fe8;}
.tooltip_container{position: absolute; right: 0; margin-right: -220px; margin-top: -7px; width: 450px; height: 0; z-index: 99;}

/*change cover popup (google images)*/
.google_search_bar{ margin-bottom: 20px;}
.google_search_bar label{ margin-right: 10px; font-weight: normal; font-size: 15px;}
.google_search_bar input#google_search{ border: 1px solid #EBEBEB;border-radius: 4px;color: #6E6F6F;font-size: 16px;font-weight: 400;padding: 6px 0;text-indent: 10px; }
.google_search_bar input#google_search:hover{border-color: #D1D1D1;}
.google_search_bar input#google_search:focus{border-color: #1177BB;color: #080808;outline: medium none;}
.google_search_bar input[type="button"]{ padding: 6px 0;}
.google_search_results a { margin: 3px; display: inline-block; width: 23%; text-align:center; position: relative;}
.google_search_results a > span{opacity: 0; position: absolute; background-color: rgba(0,152,220,.8); color: #fff; width: 100%; height: 100%; left: 0; padding: 20px;-moz-transition: all .4s ease;-ms-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;}
.google_search_results a:hover > span{ opacity: 1;}
.google_search_results img{ max-width: 100%; width: auto; margin: auto;}
.google_search_results a.showMore{ display: block; width: auto; margin-top: 15px;}

