body {
	text-align: center;
	background-color: #ffffff;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.comparison-page { background-image: url(../images/bkg-1.jpg); }
.debate-page { background-image: url(../images/bkg-2.jpg); }
.argument-page { background-image: url(../images/bkg-4.jpg); }
/*.logo {
	margin: 35px 0;
}*/
iframe {
	margin: 0 auto;
	border: 0;
	background: #fff;
}
