<div id="wrapper">

    <!-- Sidebar -->
    {% include "partials/main/sidebar.volt" %}

    <!-- Page content -->
    <div id="page-content-wrapper">

        <div class="story_container static_content">
            <h1>
                Privacy Policy
            </h1>
            <p>
                This privacy policy outlines how Speakol for Information Technology uses and protects any information that you give when you use Speakol.
            </p>
            <p>
                Speakol for Information Technology may change this policy on occasion by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective on May 01, 2012.
            </p>
            <p>
                Speakol for Information Technology may change this policy on occasion by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective starting May 01, 2012.
            </p>
            <h2>
                What Speakol collects:
            </h2>
            <p>
                We may collect the following information:
            </p>
            <div class="row" id="details">
                <ul>
                    <li>Name</li>
                    <li>Contact information including email address</li>
                    <li>Demographic information, such as postcode, preferences and interests</li>
                    <li>Other information relevant to customer surveys and/or offers</li>
                </ul>
            </div>
            <h2>
                What we do with the information we gather
            </h2>
            <p>
                We require this information to understand your needs and provide you with a better service, particularly for the following reasons:
            </p>
            <div class="row" id="details">
                <ul>
                    <li>Internal record keeping.</li>
                    <li>We may use the information to improve our products and services.</li>
                    <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
                    <li>On occasion, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize Speakol according to your interests.</li>
                </ul>
            </div>
            <h2>
                Security
            </h2>
            <p>
                We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
            </p>
            <h2>
                How we use cookies
            </h2>
            <p>
                A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
            </p>
            <p>
                We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.
            </p>
            <p>
                Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
            </p>
            <p>
                You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. However, this may prevent you from taking full advantage of the website.
            </p>
            <h2>
                Links to other websites
            </h2>
            <p>
                Speakol may contain links to other websites of interest. However, once you have used these links to leave our website, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites, as they are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
            </p>
            <h2>
                Controlling your personal information
            </h2>
            <p>
                You may choose to restrict the collection or use of your personal information in the following ways:
            </p>
            <div class="row" id="details">
                <ul>
                    <li>Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes.</li>
                    <li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by contacting us.</li>
                    <li>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you inform us that you wish for this to happen.</li>
                </ul>
            </div>
            <p>
                You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be required.
            </p>
            <p>
                If you believe that any information we are holding on you is incorrect or incomplete, please contact us as soon as possible at ask[at]speakol.com. We will promptly correct any information found to be incorrect.
            </p>
        </div>

    </div>
</div>
