<div id="wrapper">

    <!-- الشريط الجانبي -->
    {% include "partials/main/sidebar.volt" %}

    <!-- Page content -->
    <div id="page-content-wrapper">


        <div class="story_container static_content">
            <h1>ما هو Speakol؟</h1>
            <p class="عرض">مع Speakol لا يفصلك عن الانخراط مع نوع خاص من الجمهور على موقعك الإلكتروني سوى عدة نقرات.</p>
            <p class="large">بدأ إطلاق Speakol عام 2012 تحت اسم (ناقشني)في أثناء الثورة المصرية. صُمم الموقع ليكون منصة مجانية ديمقراطية مفتوحة تسهّل المناظرات والنقاشات السياسية الحرجة حول الظروف الاجتماعية والسياسية داخل البلاد.
.</p>


            <p>يساعدك Speakol _ الناشر الإعلامي أو العلامة التجارية _ على بناء جمهور اجتماعي من المناظرين حول محتواك، ودفع الانخراط الفوري والتفاعل مع أي موضوع على موقعك. 
           </p>
            <h2>فوائد استخدام Speakol</h2>
            <ol>
                <li><p class="normal">١.أنشئ ملفا شخصيا للمستخدم بسهولة عن طريق صفحة التسجيل الخاصة بنا سهلة الاستخدام</p></li>
                <li><p class="normal">٢.إدماج فوري لأي من صيغ CMS من خلال رموز HTML مضمنة.</p></li>


                <li><p class="normal">اعقد مناظرات ومقارنات فورية وثيقة الصلة بالمحتوى المنشور الخاص بك عبر واجهة المستخدم جيدة التنظيم سهلة الاستعمال الخاصة بهم.</p></li>

                <li><p class="normal">عزز وغير وشجع تفاعل المستخدمين مع محتواك واعرف معلومات لا تقدر بثمن وقابلة للقياس لمؤشرات اتجاهات المستخدمين حول أي موضوع تقوم بنشره. </p></li>

                <li><p class="normal">شارك المناظرات بسهولة حول شبكات التواصل الاجتماعي التقليدية مثل فيس بوك وتويتر وجوجل بلس.</p></li>

                <li><p class="normal"></p></li>

                <li><p class="normal">حافظ على مستخدمي موقعك عبر أنظمة الإشعارات الملائمة الخاصة بالمستخدمين.</p></li>

                <li><p class="normal">استخدم Speakol إلى جانب أنظمة التعليق الخاصة بك (لا لتحل محلها) </p></li>

                <li><p class="normal">احذف بسهولة دون أي ضرر على أداء موقعك.</p></li>

                <li><p class="normal">مجاني الاستخدام (الاشتراكات بنظام التقسيط ذات الخدمات المتطورة سوف يتم إطلاقها في فترة من 6 إلى 12 شهرا)</p></li>

            </ol>
            <h1>شبكة Speakol الإجتماعية ... قريبا</h1>
            <p class="normal">سوف تطلق Speakol قريبا شبكة تواصل اجتماعي يستطيع المستخدمون فيها إنشاء  مناظرات ونقاشات موضوعية والاشتراك فيها ونشرها مع أصدقائك وشبكاتك.
</p>
            <p class="normal">بإمكانك الإنشاء والانضمام والمشاركة داخل Speakol.</p>
            <ol>
                <li>1. المناظرات <br /><p class="normal">اعقد وانضم إلى نقاشات حول الموضوعات التي تختارها. اختر موضوعا وادعم وجهات نظرك.</p></li>
                <li>2. المقارنات <br /><p class="normal">أنشئ مقارنات حول أي شئ من الأحزاب السياسية إلى الأجهزة الإلكترونية وصوت ضمن ما يصل إلى أربعة عناصر واشرح وجهات نظرك.</p></li>
            </ol>

        </div>

    </div>
</div>
