<div id="wrapper">

    <!-- Sidebar -->
    {% include "partials/main/sidebar.volt" %}

    <!-- Page content -->
    <div id="page-content-wrapper">

        <div class="story_container static_content">
            <h1>سياسة الخصوصية</h1>
            <p>

         
توضح سياسة الخصوصية كيف تقوم Speakol لتكنولوجيا المعلومات باستخدام وحماية أي معلومات تعطيها عندما تستخدم Speakol.
   </p>
            <p>
قد تقوم Speakol لتكنولوجيا المعلومات بتغيير هذه السياسة في بعض الأحيان عن طريق تحديث هذه الصفحة. ينبغي أن تراجع تلك الصفحة من وقت لآخر للتأكد من رضاك على أية تغييرات. تسري هذه السياسة بدءا من 1 مايو 2012.

            </p>
            <p>

قد تقوم Speakol لتكنولوجيا المعلومات بتغيير هذه السياسة في بعض الأحيان عن طريق تحديث هذه الصفحة. ينبغي أن تراجع تلك الصفحة من وقت لآخر للتأكد من رضاك على أية تغييرات. تسري هذه السياسة بدءا من 1 مايو 2012.

            </p>
            <h2>
ما الذي تجمعه Speakol
            </h2>
            <p>
قد نجمع المعلومات التالية:
            </p>
            <div class="row" id="">
                <ul>
                    <li>اﻹسم</li>
                    <li>معلومات التواصل تشمل عنوان البريد الإلكتروني</li>

                    <li>المعلومات الديمغرافية مثل الرمز البريدي
التفضيلات والاهتمامات
</li>

                    <li>معلومات أخرى متصلة باستطلاعات رأي العملاء و/أو العروض</li>
                </ul>
            </div>
            <h2>
           
ما نفعله بالمعلومات التي نجمعها </h2>
            <p>

نجمع هذه المعلومات من أجل فهم احتياجاتك وتزويدك بخدمة أفضل خصوصا للأسباب التالية:           
  </p>
            <div class="row" id="details">
                <ul>
                    
<li>حفظ السجلات الداخلية.</li>
                    <li>قد نستخدم المعلومات من أجل تحسين منتجاتنا وخدماتنا.</li>
                    <li>قد نرسل رسائل ترويجية بشكل دوري حول المنتجات الجديدة، والعروض الخاصة، أو أي معلومات أخرى قد نعتقد أنك قد تجدها مهمة مستخدمين البريد الإلكتروني الذي أعطيته لنا. </li>
                    <li>كما قد نستخدم معلوماتك أحيانا للاتصال بك لأغراض متعلقة بأبحاث السوق. وربما نتواصل معك من خلال البريد الإلكتروني أو الهاتف أو الفاكس أو البريد. كما قد نستخدم هذه المعلومات لتكييف Speakol وفقا لاهتماماتك.
</li>
                </ul>
            </div>
            <h2>اﻷمان</h2>
            <p>
نحن ملتزمون بضمان أن تكون معلوماتك في مأمن. وقد وضعنا إجراءات مادية وإلكترونية وإدارية مناسبة من أجل منع أي وصول غير مصرح به للمعلومات أو كشفها ومن أجل حماية وتأمين المعلومات التي نجمعها على الإنترنت.  
            </p>
            <h2>
كيف نستخدم ملفات تعريف الارتباط (كوكيز)
            </h2>
            <p>
ملف تعريف الارتباط (كوكي) ملف صغير يتطلب الحصول على إذن قبل أن يوضع على القرص الصلب لحاسوبك. ويضاف الملف فور موافقتك ومن ثم يساعدك على تحليل الزيارات على الموقع أو يسمح لك بمعرفة الوقت الذي تزور فيه موقعا معينا. وتسمح ملفات تعريف الارتباط (كوكيز) لتطبيقات الموقع بالاستجابة لك بشكل فردي. وبإمكان تطبيق الموقع أن يكيف عملياته حسب احتياجاتك وما تحب وما تكره من خلال جمع المعلومات وتذكرها حول تفضيلاتك. 

            </p>
            <p>
ونقوم باستخدام سجل زيارات ملفات تعريف الارتباط (كوكيز)الخاصة بك من أجل التعرف على الصفحات التي استخدمت. ويساعدنا ذلك على تحليل المعلومات حول زيارات صفحة الموقع ومن ثم تحسين موقعنا من أجل تكييفها حسب احتياجات العميل. ونستخدم هذه المعلومات فقط لأغراض التحليل الإحصائي ومن ثم تزال من النظام.
            </p>
            <p>

وبشكل عام فإن ملفات تعريف الارتباط (كوكيز) تساعدنا على تقديم موقع أفضل عن طريق تمكيننا من رصد الصفحات التي تجدها مفيدة وتلك التي لا تجدها مفيدة. إن ملف تعريف الارتباط (كوكي) لا يعطينا بأي حال وصولا لحاسوبك أو أي معلوماتك متعلقة بك، بخلاف المعلومات التي تختار مشاركتها معنا.
            </p>
            <p>
بإمكانك أن تختار الموافقة على ملفات تعريف الارتباط (كوكيز) أو رفضها. تقبل معظم متصفحات الإنترنت ملفات تعريف الارتباط (كوكيز) بشكل أوتوماتيكي، لكن يمكنك عادة أن تقوم بتعديل إعدادات متصفحك لرفض ملفات تعريف الارتباط (كوكيز) لو أردت ذلك. ومع ذلك فإن ذلك قد يمنعك من الحصول على الاستفادة القصوى من الموقع.
            </p>
            <h2>الروابط لمواقع أخرى     </h2>
       
            <p>
قد تحتوي روابط Speakol على روابط لمواقع أخرى ذات فائدة. ومع ذلك، فينبغي أن تعلم أنه فور استعمالك لهذه الروابط لمغادرة موقعنا فإنه ليس لدينا أي سيطرة على تلك المواقع الأخرى. ولذلك لا يمكن أن نكون مسئولين عن الحماية والخصوصية لأي معلومات توفرها أثناء زيارتك لتلك المواقع، ذلك أن هذه المواقع ليست خاضعة لبيان الخصوصية هذا. وعليه فلابد من توخي الحذر والنظر لبيان الخصوصية المنطبق على الموقع المعني.
            </p>
            <h2>
التحكم في معلوماتك الشخصية
            </h2>
            <p>

قد تختار تقييد جمع أو استخدام معلوماتك الشخصية عن طريق الطرق التالية:
            </p>
            <div class="row" id="details">
                <ul>
                    <li>كلما طلب منك أن تملأ استمارة على الموقع، انظر في الصندوق الذي يمكنك النقر عليه للإشارة إلى أنك لا تريد لتلك المعلومات أن تستخدم من قبل أي شخص لأغراض تسويقية مباشرة.
</li>
                    <li>لو كنت قد وافقت سابقا على استخدامنا لمعلوماتك الشخصية لأغراض تسويقية مباشرة، فبإمكانك أن تغير رأيك في أي وقت عن طريق التواصل معنا.
</li>

                    <li>سوف لن نقوم ببيع أو توزيع أو تأجير معلوماتك الشخصية لأطراف ثالثة ما لم نحصل على إذن منك أو ما لم نكن ملزمين بفعل ذلك قانونا. قد نستخدم معلوماتك الشخصية لنرسل لك معلوماتك ترويجية حول أطراف ثالثة نظن أنك قد تجدها مثيرة للاهتمام لو أعلمتنا برغبتك في حدوث ذلك. 
</li>
                </ul>
            </div>
            <p>
يمكنك طلب تفاصيل حول المعلومات الشخصية المتعلقة بك التي بحوزتنا وذلك طبقا لقانون حماية البيانات لعام 1998. وسيكون ذلك مقابل رسوم بسيطة. 
            </p>
            <p>
لو كنت تعتقد أن أية معلومات متعلقة بك بحوزتنا غير صحيحة أو غير مكتملة نرجو أن تقوم بالاتصال بنا في أقرب وقت ممكن على  ask@speakol.com وسوف نقوم على الفور بتصحيح أية معلومات نجدها غير صحيحة. 
            </p>
        </div>

    </div>
</div>
