<div id="wrapper">

    <!-- Sidebar -->
    {% include "partials/main/sidebar.volt" %}

    <!-- Page content -->
    <style>
        .story_container li {
            list-style-type: alpha !important;
        }
    </style>
    <div id="page-content-wrapper">

        <div class="story_container static_content">
            <h1>شروط وأحكام الاستخدام</h1>
            <ol>
                <li><h2 id="-">مقدمة</h2>
                    <ol>
                        <li>يخضع استخدامك لموقعنا الإلكتروني تحت هذه الشروط والأحكام. </li>
                        <li>باستخدامك لموقعنا الإلكتروني، فإنك توافق على كافة الشروط والأحكام، وبالتالي فإذا لم تكن موافقا على مع هذه الشروط والأحكام أو أي جزء منها، فيجب عليك عدم استخدام موقعنا الإلكتروني.</li>
                        <li>إذا قمت بالتسجيل أو إرسال مواد أو استخدام أي من خدمات الموقع، فإننا سنطلب منك أن تعبر عن موافقتك على هذه الشروط والأحكام.</li>
                        <li>يجب أن يكون عمرك على الأقل 13 عشر عاما لتستخدم موقعنا الإلكتروني، وباستخدام الموقع أو الموافقة على هذه الشروط والأحكام، فإنك تضمن لنا وتمثل نفسك أنك تبلغ 13 عاما على الأقل.</li>
                        <li>يستخدم موقعنا الإلكتروني ملفات الكوكيز، باستخدامك للموقع أو بالموافقة على هذه الشروط والأحكام، فإنك تسمح لنا باستخدام الكوكيز بالتوافق مع شروط الخصوصية وسياسة الكوكيز الخاصة بنا.</li>
                    </ol>
                </li>
                <li><h2 id="-">إشعار حقوق النشر</h2>
                    <ol>
                        <li>الحقوق الطبع والنشر حصرية  محفوظة لناقشني المحدودة لتكنولوجيا المعلومات.</li>
                        <li>يخضع للتعبير عن بنود الشروط والأحكام:<ol>
                                <li>نملك نحن والمرخص التحكم في حق النشر وحقوق الملكية الفكرية الأخرى على موقعنا الإلكتروني ويشمل ذلك المواد المستخدمة على الموقع.</li>
                                <li>كل حقوق الملكية الفكرية والنشر والمواد على موقعنا الإلكتروني محفوظة.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li><h2 id="-">الترخيص باستخدام الموقع</h2>
                    <ol>
                        <li>من حقك:<ol>
                                <li>تصفح موقعنا باستخدام متصفح لشبكة الانترنت</li>
                                <li>تحميل صفحات من موقعنا بالتخزين المؤقت من متصفح الانترنت.</li>
                                <li>طباعة صفحات من الموقع. </li>
                                <li>تشغيل الصوتيات والمرئيات على الموقع.</li>
                                <li>استخدام خدمات الموقع بواسطة متصفح انترنت.  مع مراعاة الأحكام الأخرى لهذه الشروط والأحكام. </li>
                            </ol>
                        </li>
                        <li>فيما عدا المواد المصرح بوضوح بها في البند 3.1 أو غيره في هذه الشروط والأحكام، يجب عدم تحميل أي مواد من<br>الموقع وحفظها على جهاز الحاسوب الخاص بك.</li>
                        <li>يحق لك استخدام الموقع الإلكتروني لغرض شخصي أو لغرض الأعمال، ولا يحق استخدامه لأي غرض آخر.</li>
                        <li>فيما عدا المصرح به  بوضوح في هذه الشروط والأحكام، يجب أن لا تقوم بأي تعديل أو تغيير في أي مادة على الموق الإلكتروني.</li>
                        <li>إذا كنت لا تملك أو تتحكم في حقوق المواد، فيجب عليك عدم فعل الآتي:<ol>
                                <li>إعادة نشر مواد من موقعنا، بما في ذلك النشر في مواقع إلكترونية أخرى</li>
                                <li>بيع أو تأجير أو ترخيص من الباطن لأي من المواد على موقعنا الإلكتروني</li>
                                <li>عرض أي من مواد الموقع بشكل علني</li>
                                <li>استغلال مواد الموقع لأي غرض تجاري</li>
                                <li>إعادة نشر للمواد الموجودة على موقعنا الإلكتروني</li>
                            </ol>
                        </li>
                        <li>على الرغم من المذكور في البند 3.5، يحق لك إعادة توزيع نشرتنا الإخبارية سواء بالطباعة أو إلكترونيا من وإلى أي شخص.</li>
                        <li>نحتفظ بحق تقييد الوصول لأي قسم في موقعنا الإلكتروني، أو حتى الموقع كله كما يتراءى لنا، يجب عدم الالتفات أو تجاوز ولو حتى بالمحاولة لأي من تدابير تقييد الوصول للموقع أو أي قسم منه. </li>
                    </ol>
                </li>
                <li><h2 id="-">تغذية آر إس إس</h2>
                    <ol>
                        <li>يحق لك الولوج لتغذية آر إس إس خاصتنا باستخدام قارئ أو مجمع آر إس إس.</li>
                        <li>بالولوج إلى تغذية آر إس إس الخاصة بنا فإنك توافق على هذه الشروط والأحكام.</li>
                        <li>رهن موافقتك على هذه الشروط والأحكام، نمنحك رخصة غير حصرية ولا قابلة للتحويل، ورخصة غير قابلة للترخيص من الباطن لعرض محتوى تغذية آر إس إس من موقعنا في إطار غير تعديلي لأي موقع غير تجاري تملكه وتديره أنت. </li>
                        <li>شرط لهذا الترخيص، أن تنسب المصدر لنا مصحوبا برابط مباشر لموقعنا الإلكتروني في كل صفحة تنشر فيها تغذية آر إس إس (بالشكل الذي قد نحدده من وقت لآخر، وإذا لم نحدد شكلا بعينه، فتخير شكلا معقولا).</li>
                        <li>يجوز لنا إلغاء أي ترخيص منصوص عليه في البند رقم 4، مع أو بدون سابق إنذار أو تفسير.</li>
                    </ol>
                </li>
                <li><h2 id="-">الاستخدام العادل</h2>
                    <ol>
                        <li>يحظر القيام بالآتي:<ol>
                                <li>استخدام موقعنا الإلكتروني بأي طريقة أو اتخاذ فعل يتسبب أو قد يتسبب بإلحاق أضرار للموقع الإلكتروني أو يتسبب في ضعف الأداء أو ضعف الإتاحة أو الوصول للموقع.</li>
                                <li>استخدام موقعنا الإلكتروني بأي طريقة غير جائزة أو غير قانونية أو احتيالية أو ضارة أو بأي طريقة متعلقة بأي غرض أو نشاط غير جائز أو غير قانوني أو احتيالي أو ضار. </li>
                                <li>استخدام موقعنا الإلكتروني لنسخ أو تخزين أو استضافة أو نقل أو إرسال أو نشر أو توزيع أي مواد تتكون (أو   </li>
                                <li>مرتبطة بـ) أي برامج تجسس، أو فيروسات حواسيب، أو تروجان، أو وورم، أو تحطيم الرقم التسجيلي، أو </li>
                                <li>الجذور الخفية أو غيرها من برامج الكمبيوتر الخبيثة. </li>
                                <li>إجراء أي نشطة جمع للبيانات المهنجية أو الآلية (بما في ذلك الكشط بدون حصر، والتنقيب عن البيانات، واستخراج وجمع البيانات) على موقعنا الإلكتروني أو مرتبط به بدون إذن مسبق مكتوب صادر عنا.</li>
                                <li>الوصول أو التفاعل مع موقعنا الإلكتروني باستخدام روبوت أو سبايدر أو أية وسائل آلية أخرى.</li>
                                <li>انتهاك الملفات الواردة في ملف robot.txt  على موقعنا الإلكتروني.</li>
                                <li>استخدام بيانات مجمعة من موقعنا الإلكتروني لأي نشاط تسويقي مباشر (بما في ذلك تسويق رسائل البريد الإلكتروني اللاحصرية، تسويق رسائل القصيرة، والتسويق عبر الهاتف، والتسويق بالبريد الإلكتروني المباشر).</li>
                            </ol>
                        </li>
                        <li>يحظر جمع البيانات المجموعة من موقعنا الإلكتروني للاتصال بأفراد أو شركات أو أشخاص أو كيانات أخرى.</li>
                        <li>يجب أن تضمن أن كل المعلومات التي تزودها لنا خلال موقعنا الإلكتروني، أو مرتبطة بالموقع، صحيحة ودقيقة وحالية وكاملة وغير مضللة. </li>
                    </ol>
                </li>
                <li><h2 id="-">التسجيل والحسابات:</h2>
                    <ol>
                        <li>يشترط الأهلية لأي حساب فردي على موقعنا الإلكتروني تحت البند 6، أن تبلغ من العمر 16 عاما على الأقل.</li>
                        <li>يمكنك التسجيل لحساب على موقعنا عن طريق تعبئة وتقديم استمارة على الموقع، وبالنقر على رابط التأكيد في البريد الإلكتروني الذي سيرسله له الموقع.</li>
                        <li>يجب أن تبلغنا فورا إذا أصبحت على بينة من استخدام غير مصرح به لحسابك.</li>
                        <li>يحظر استخدام حساب أي شخص آخر للدخول إلى الموقع، إلا إذا كان لديك إذن صريح من ذلك الشخص بالقيام بذلك.</li>
                    </ol>
                </li>
                <li>أسماء المستخدمين وكلمات المرور:<ol>
                        <li>إذا قمت بالتسجيل لحساب على موقعنا الإلكتروني، فسيطلب منك اختيار اسم مستخدم وكلمة مرور. </li>
                        <li>يحظر أن يكون اسم المستخدم الخاص بك للتضليل، ويجب أن يتوافق مع قواعد المحتوى المنصوص عليها في المادة 12، يحظر استخدام حسابك أو اسم المستخدم لغرض أو فيما يتعلق بانتحال شخصية أي فرد.</li>
                        <li>يجب أن تبقى كلمة المرور الخاصة بك سرية. </li>
                        <li>يجب أن تخطرنا فورا بالكتابة إذا أصبحت على علم بأي كشف عن كلمة المرور الخاصة بك. </li>
                        <li>تتحمل مسؤولية أي نشاط على موقعنا الإلكتروني ناتج عن أي فشل في إبقاء كلمة المرور الخاصة بك سرية، وقد تتحمل أي خسائر تنشأ عن مثل هذا الفشل. </li>
                    </ol>
                </li>
                <li><h2 id="-">إلغاء وتعليق الحساب:</h2>
                    <ol>
                        <li>يحق لنا:<ol>
                                <li>تعليق حسابك</li>
                                <li>إلغاء حسابك</li>
                                <li>تعديل تفاصيل حسابك
                                    في أي وقت بمخض اختيارنا دون سابق إنذار أو تفسير</li>
                            </ol>
                        </li>
                        <li>يحق لك إلغاء حسابك من موقعنا عن طريق لوحة التحكم في الحساب الموجودة على الموقع.</li>
                    </ol>
                </li>
                <li><h2 id="-">الشبكات الاجتماعية</h2>
                    <ol>
                        <li>المستخدمون المسجلون سيحصلون على هذه الميزات الإضافية على موقعنا كما يترآي لنا من وقت لآخر، وقد تشمل الآتي: <ol>
                                <li>تيسير استكمال صفحة شخصية مفصلة على الموقع، بغرض نشر الصفحة الشخصية على الموقع، وحظر النشر لهذه الصفحة الشخصية لمجموعات معينة أو أفراد مسجلين على الموقع.</li>
                                <li>تيسير إنشاء مجموعات بالإضافة إلى إدارة المجموعات التي قمت بإنشاءها، والانضمام ومغادرة المجموعات، ومشاركة معلومات مع أعضاء المجموعة. </li>
                                <li>ميزة إرسال رسائل خاصة لفرد أو مجموعة مسجلين على الموقع.</li>
                                <li>ميزة إضافة منشور أو نشر نص على الموقع. </li>
                            </ol>
                        </li>
                        <li>توافق أنت على نشر المشاركات المتعلقة بك من قبل الآخرين، على موقعنا الإلكتروني، وتقر بأن مثل هذه المشاركات قد تكون نقدية أو تشهيرية أو غير جائزة أو خلاف ذلك، وبناء على البند 15.1 فإنك توافق على أن لا تحملنا مسؤولية أي منشورات كهذه، بغض النظر عن كونا على علم أو توجب إخطارنا بمشاركات كهذه. </li>
                    </ol>
                </li>
                <li><h2 id="-">الصفحات الشخصية</h2>
                    <ol>
                        <li>كل المعلومات التي تزودها لنا خلال موقعنا الإلكتروني، أو مرتبطة بالموقع، صحيحة ودقيقة وحالية وكاملة وغير مضللة.</li>
                        <li>يجب عليك إبقاء صفحتك الشخصية على موقعنا على تحديث دائم. </li>
                        <li>معلومات الصفحة الشخصية يجب أن تكون متوافقة مع أحكام كل من المادة 5 والمادة 12.</li>
                    </ol>
                </li>
                <li><h2 id="-">المحتوى الخاص بك: الترخيص</h2>
                    <ol>
                        <li>في هذه الشروط والأحكام، &quot;المحتوى الخاص بك&quot; يعني كل الأعمال والمواد (بما في ذلك النص الغير محدود، المرئيات، الصور، المواد السمعية، والمواد المرئية، والمواد المرئية والسمعية، والمخطوطات، والبرمجيات والملفات) التي ترسلها لنا أو تخزن في الموقع أو تنشر أو تنقل أو تجهز من قبل موقعنا. </li>
                        <li>تمحنا رخصة دولية، لا رجعة فيها، غير حصرية، خالصة المصاريف، لاستخدام وإعادة إنتاج وتخزين وتعديل ونشر وترجمة وتوزيع المحتوى الخاص بك في أي وسيلة إعلامية في الحاضر أو المستقبل/إنتاج وتخزين ونشر المحتوى الخاص بك على الموقع أو أي موقع ينوب عنه/إنتاج وتخزين ونشر المحتوى الخاص بك فيما يتعلق بهذا الموقع بعد موافقتك الخاصة. </li>
                        <li>تمنحنا الحق في التداول من الباطن للحقوق المرخصة تحت بند 11.2</li>
                        <li>تمنحنا الحق في رفع دعوى لانتهاك الحقوق المرخصة بموجب البند 11.2 </li>
                        <li>بموجب هذا، تتنازل عن كل حقوقك المعنوية للمحتوى الخاص بك للحد الأقصى الذي يسمح به القانون المعمول به، وتقر وتتعهد بأي جميع الحقوق المعنوية الأخرى قد تم التنازل عنها بأقصى حد يسمح به القانون المعمول به.</li>
                        <li>يحق لك تعديل محتواك للحد المسموح به باستخدام أدوات التعديل المتاحة على موقعنا الإلكتروني.</li>
                        <li>بدون الإخلال بحقوقنا الأخرى بموجب هذه الشروط والأحكام، إذا تم خرق أي من هذه البنود في الشروط والأحكام بأي شكل من الأشكال، يحق لنا حذف أو إلغاء نشر أو تحرير أي محتوى خاص بك أو كل المحتوى. </li>
                    </ol>
                </li>
                <li><h2 id="-">المحتوى الخاص بك: القواعد</h2>
                    <ol>
                        <li>تضمن وتتعهد بأن المحتوى الخاص بك موافق لهذه الشروط والأحكام.</li>
                        <li>يحظر أن يكون المحتوى الخاص بك غير جائز أو غير قانوني ولا ينتهك الحقوق القانونية لأي شخص، ولا أن يتسبب في اتخاذ إجراءات قانونية ضد أي شخص. (تحت أي ظروف وفي أي بلد تحت أي قانون معمول به).</li>
                        <li>المحتوى الخاص بك واستخداماته من قبلنا يجب أن تتماشى مع هذه الشروط والأحكام، ويمنع الآتي:<ol>
                                <li>أن يكون للتشهير، أو خاطئ وضار. </li>
                                <li>أن يكون بذئ وغير لائق.</li>
                                <li>ينتهك أي حقوق للطبع أو النشر أو الحقوق المعنوية أو حقوق البيانات أو حقوق العلامة التجارية أو حقوق التصميم أو حقوق التمرير، أو أي حق من حقوق الملكية الفكرية الأخرى. </li>
                                <li>أن ينتهك أي من حقوق السرية، أو حقوق الخصوصية، أو حق يخضع لتشريعات حماية البيانات. </li>
                                <li>تشكل أي نصح إهمالي، أو يحتوى على أي بيان مهمل.</li>
                                <li>الاحتواء على أي تحريض لارتكاب جريمة، أو تعليمات لارتكاب الجريمة أو الحث على نشاط إجرامي. </li>
                                <li>أن يشكل ازدراء لأي محكمة، أو خرق لأمر أي محكمة.</li>
                                <li>يحتوى على اختراقات لتشريعات العنصرية والكراهية والتمييز الديني.</li>
                                <li>أن يكون هرطقة.</li>
                                <li>أن يكون خرقا للتشريعات السرية الرسمية. </li>
                                <li>أن يكون خرقا لأي التزام تعاقدي المستحقة على شخص.</li>
                                <li>عرض العنف بطريقة مباشرة أو تصويرة أو عن طريق الرسم.</li>
                                <li>أن تكون إباحية صريحة أو تحوى إيحاءات جنسية. </li>
                                <li>أن تكون غير صحيحة أو خاطئة أو غير دقيقة أو مضللة. </li>
                                <li>تتكون أو تحتوي على أي تعليمات أو نصائح أو معلومات قد يعمل بها، وإذا ما تم العمل بها قد تتسبب في مرض أو إصابة أو وفاة أو أي خسائر أو اضرار. </li>
                                <li>تحوي رسائل سبام المزعجة</li>
                                <li>أن تحتوي إهانة أو خداع أو احتيال أو تهديد أو إساءة أو تحرش أو معاداة للمجتمع أو كراهية أو بغض أو تمييز عنصري  أو شقاقات. </li>
                                <li>تسبب إزعاج أو مضايقة أو قلق لا داعي له لأي شخص. </li>
                            </ol>
                        </li>
                        <li>يجب أن يكون المحتوى الخاص بك مناسبا ومتمدنا وحسن التذوق، وأن يتفق مع معايير الآداب والسلوك العامة المقبولة على شبكة الانترنت.</li>
                        <li>يمنع استخدام موقعنا على الانترنت للوصول لأي موقع أو صفحة أخرى تتكون أو قد تحتوي على مواد من شأنها إذا ما نشرت على موقعنا خرق قواعد هذه الشروط والأحكام. </li>
                        <li>يمنع تقديم أي مواد على موقعنا الالكتروني خاضة أو خضعت في أي وقت في الماضي لأي تهديدات أو إجراءات قانونية فعلية أو تهديد للآخرين أو أي شكوى من هذا القبيل. </li>
                    </ol>
                </li>
                <li><h2 id="-">الإبلاغ عن إساءة الاستخدام</h2>
                    <ol>
                        <li>إذا علمت بأي مادة غير جائزة أو أي نشاط على موقعنا الإلكتروني أو أي مادة أو نشاط يخرق هذه الشروط والأحكام، فمن فضلك قم بإبلاغنا. </li>
                        <li>يمكنك التبلغ بواسطة البريد الإلكتروني أو بتعبئة نموذج التبليغ عن إساءة الخاص بنا. </li>
                    </ol>
                </li>
                <li><h2 id="-">الضمانات المحدودة</h2>
                    <ol>
                        <li>نحن لا نضمن ولا نمثل الآتي:<ol>
                                <li>اكتمال أو دقة المعلومات المنشورة على موقعنا الإلكتروني.</li>
                                <li>أن المواد على موقعنا محدثة أولا بأول. </li>
                                <li>أن الموقع الإلكتروني أو أي خدمة على الموقع ستظل متاحة دائما. </li>
                            </ol>
                        </li>
                        <li>نحتفظ بالحق في وقف أو تغيير أي من خدمات موقعنا أو كلها، والحق في إيقاف النشر على موقعنا على شبكة الانترنت، في أي وقت يتراءى لنا دون سابق إنذار أو تفسير. ولن يكون لك الحق في أي تعويض مادي بسبب إيقاف أو تغيير خدمات الموقع الإلكتروني، أو التوقف عن النشر على شبكة الانترنت، والاحتفاظ بهذا الحق لأقصى تقدير عدا فيما تنص عليه هذه الشروط والأحكام صراحة. </li>
                        <li>إلى أقصى حد يسمح به القانون المعمول به ويخضع للبند 15.1 فإننا نستبعد كل الضمانات والتأكيدات المتعلقة بموضوع هذه الشروط والأحكام فيما يخص موقعنا الإلكتروني واستخدام موقعنا الإلكتروني على شبكة الانترنت. </li>
                    </ol>
                </li>
                <li><h2 id="-">القيود والاستثناءات من المسؤولية</h2>
                    <ol>
                        <li>لا يوجد في هذه الشروط والأحكام ما يملي بأي من الآتي:<ol>
                                <li>حد أو استبعاد أي مسؤولية وفاة ناتجة عن الإصابة الشخصية الناتجة عن الإهمال.</li>
                                <li>حد أو استبعاد أي مسؤولية احتيال أو تحريف احتيالي.</li>
                                <li>الحد من أية التزامات بأي طريقة غير جائزة في القانون المعمول به. </li>
                                <li>استبعاد أي مسؤولية قد لا تستبعد تحت القانون المعمول به. </li>
                            </ol>
                        </li>
                        <li>الحد والاستثناءات من المسؤولية معروضة في هذا البند 15 وفي أي من الشروط والأحكام:<ol>
                                <li>خاضعة للبند رقم 15.1</li>
                                <li>تحكم كل المسؤوليات الناشئة بموجب هذه الشروط والأحكام أو المعتلقة بها، بما في ذلك الالتزامات الناشئة عن العقد، والمسؤولية التقصيرية (بما في ذلك الإهمال) والإخلال بالواجب القانوني. </li>
                            </ol>
                        </li>
                        <li>وبقدر توفر موقعنا على الانترنت والخدمات والمعلومات عليه مجانا، فإننا لن نتحمل أي خسائر أو أي تلف مهما كانت طبيعته. </li>
                        <li>لن نتحمل المسؤولية أمامك فيما يخص أي خسائر بسبب أي حدث أو أحداث خارجة عن سيطرتنا المعقولة.</li>
                        <li>لن نكون مسؤولين تجاهك فيما يتعلق بأي خسائر تجارية، بما في ذلك (بلا حدود) الخسارة أو الضرر في الأرباح أو الدخل أو الإيرادات أو الاستخدام أو الإنتاج أو المدخرات المتوقعة، وكذلك الأعمال التجارية والعقود والفرص التجارية أو السمعة. </li>
                        <li>لن نكون مسؤولين تجاهك فيما يتعلق بأي خسارة أو فساد للبيانات أو قواعد البيانات أو البرمجيات. </li>
                        <li>لن نكون مسؤولين تجاهك فيما يتعلق بأي خسائر أو أضرار خاصة أو غير مباشرة أو تبعية. </li>
                        <li>أنت تقبل بأن لدينا مصلحة في الحد من المسؤولية الشخصية لموظفينا، بالنظر إلى هذه الفائدة، فإنك تقر بأننا كيان محدود المسؤولية، وتوافق أنك لن تقوم بالادعاء شخصيا ضد الموظفين العاملين لدينا أو فيما يتعلق بأي خسائر كنت تعاني منها في الاتصال بالموقع أو هذه الشروط والأحكام. (هذا لا يحد بالطبع أو يستبعد المسؤولية عن الكيان المحدود نفسه عن الأفعال والسهو موظفينا). </li>
                    </ol>
                </li>
                <li><h2 id="-">التعويض</h2>
                    <ol>
                        <li>أنت بهذا تضمن لنا، وتتعهد بإبقاء هذا الضمان بتعويضنا ضد أي خسائر أو تكاليف أو أضرار أو التزامات أو نفقات (بما في ذلك دون حصر، المصاريف القانونية وأية مبالغ تدفع من قبلنا لأي طرف ثالث في تسوية مطالبة أو نزاع) متكبدة أو نعاني منها والتي قد تنتج بشكل مباشر أو غير مباشر من: <ol>
                                <li>أي خرق من قبلك لأي من هذه الشروط والأحكام. </li>
                                <li>استخدامك لموقعنا الإلكتروني. </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li><h2 id="-">خرق هذه الشروط والأحكام</h2>
                    <ol>
                        <li>مع عدم الإخلال بحقوقنا الأخرى تحت هذه الشروط والأحكام، إذا قمت بخرق هذه الشروط والأحكام بطريقة ما، أو أننا اشتبهنا بشكل معقول لخرقك هذه الشروط والأحكام، فإن من حقنا أن نتخذ أيا من الآتي: <ol>
                                <li>قد نرسل لك تحذير رسمي واحد أو أكثر.</li>
                                <li>إيقاف وصولك لموقعنا الإلكتروني مؤقتا.</li>
                                <li>حظر دائم لك من الوصول لموقعنا الإلكتروني.</li>
                                <li>حظر أجهزة الحاسوب باستخدام عنوان IP الخاص بك من الدخول إلى موقعنا الإلكتروني. </li>
                                <li>الاتصال بكل أو بأحد مزود خدمة الانترنت وطلب حظرك من الدخول إلى موقعنا الإلكتروني.</li>
                                <li>اتخاذ إجراء قانوني ضدك، سواء بسبب خرق و/أو عقد و/أو غير ذلك.</li>
                                <li>إذا ما قمنا إيقاف أو حجب أو منع وصولك إلى موقعنا الإلكتروني، فيمنع أن تقوم بأي إجراء للتحايل على هذا الإيقاف أو الحجب أو المنع (بما في ذلك دون حصر الدخول باستخدام و/أو أو إنشاء حساب جديد مختلف).</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li><h2 id="-">المواقع الإلكترونية لطرف ثالث</h2>
                    <ol>
                        <li>موقعنا يحتوي على وصلات لمواقع مملوكة ومدارة بواسطة أطراف ثالثة، هذه الوصلات ليست توصيات.</li>
                        <li>ليس لدينا أي تحكم بمواقع أي طراف ثالث أو المحتوى الموجود عليها، وبناء على البند 15.1 فإننا لا نقبل أي مسؤولية عنهم ولا أي أضرار أو خسارة قد تحدث بسبب استخدامك لهم.</li>
                    </ol>
                </li>
                <li><h2 id="-">العلامات التجارية</h2>
                    <ol>
                        <li>ناقشني المحدودة لتكنولوجيا المعلومات، وكل شعاراتنا وكل علاماتنا التجارة المسجلة والغير مسجلة كلها علامات تجارة مملوكة لنا، ولا نمنح أي إذن لاستخدام هذه العلامات التجارية، واستخدامها يشكل تعديا على حقوقنا. </li>
                        <li>العلامات التجارية المسجلة والغير مسجلة المملوكة لطرف ثالث أو علامات خدمة موجودة على موقعنا هي ملك لأصحابها، وما لم ينص خلاف ذلك في هذه الشروط والأحكام، ونحن غير منتمين أو مؤيدين إلى أي من أصحاب حقوق من هذا القبيل، وعلى هذا النحو لا نستطيع منح أي ترخيص لممارسة هذه الحقوق. </li>
                    </ol>
                </li>
                <li><h2 id="-">المسابقات</h2>
                    <ol>
                        <li>قد نجري مسابقات من آن لآخر، بسحب على جوائز مجانية و/أو ترقيات أخرى على موقعنا الإلكتروني.</li>
                        <li>ستخضع المسابقات لشروط وأحكام منفصلة (ستكون متاحة لك بالشكل المناسب).</li>
                    </ol>
                </li>
                <li><h2 id="-">التغيير</h2>
                    <ol>
                        <li>من حقنا إجراء مراجعات في هذه الشروط والأحكام من وقت لآخر. </li>
                        <li>الشروط والأحكام المعدلة سيرى العمل بها على موقعنا الإلكتروني من تاريخ نشرها على الموقع، وأنت بهذا تتنازل عن أي حق بخلاف إعلامك أو الموافقة أو مراجعة للشروط والأحكام./ سنقوم بإرسال تنويه مكتوب لك بالتعديلات على الشروط والأحكام، والتعديلات سيسري العمل بها منذ تاريخ إرسال هذا التنويه لك، إذا لم تكن موافقا على أي من تعديلات الشروط والأحكام، يجب عليك أن تتوقف عن استخدام موقعنا الإلكتروني. </li>
                        <li>إذا قمت بالموافقة صراحة على هذه الشروط والأحكام، سنطلب منك موافقة صريحة على الشروط والأحكام المعدلة، وإذا لم تقم بالموافقة على تعديلات الشروط والأحكام في مدة معينة قد نحددها، فإننا سنوقف أو نحذف حسابك من على الموقع، ويجب عليك التوقف عن استخدام الموقع الإلكتروني. </li>
                    </ol>
                </li>
                <li><h2 id="-">التعيين</h2>
                    <ol>
                        <li>أنت توافق على أننا قد نعين، أو ننقل أو نتعاقد من الباطن أو نتعامل مع حقوقنا و/أو الالتزامات بموجب هذه الشروط والأحكام.</li>
                        <li>لا يجوز لك دون موافقة كتابية مسبقة منا تعيين أو نقل أو تعاقد من الباطن أو التعامل مع أي من حقوقك و/أو الالتزامات بموجب هذه الشروط والأحكام.</li>
                    </ol>
                </li>
                <li><h2 id="-">القابلية</h2>
                    <ol>
                        <li>إذا تقرر أن أي من مواد هذه الشروط والأحكام غير جائز أو غير نافذ بقرار من محكمة أو أي سلطة مختصة أخرى، ستبقى بقية الشروط والأحكام على أنها سارية المفعول. </li>
                        <li>إذا كان أي بند من هذه الشروط والأحكام غير جائز أو ساري، وسيصبح ساريا أو نافذا إذا حذف جزء منه، سيتم حذف، ويظل الجزء المتبقى ساري المفعول. </li>
                    </ol>
                </li>
                <li><h2 id="-">حقوق الطرف الثالث</h2>
                    <ol>
                        <li>هذه الشروط والأحكام لمنفعتنا ولمنفعتك، وليست مقصودة لمنفعة أو تكون نافذة على أي طرف ثالث. </li>
                        <li>ممارسة حقوق الطرفين بموجب هذه الشروط والأحكام غير خاضعة لموافقة أي طرف ثالث. </li>
                    </ol>
                </li>
                <li><h2 id="-">شمولية الاتفاق</h2>
                    <ol>
                        <li>تحت البند 15.1 فإن هذه الشروط والأحكام، جميعا بالإضافة لخصوصيتنا وسياسات ملفات الكوكيز، تشمل اتفاقا كاملا بينك وبيننا متعلقة باستخدامك لموقعنا الإلكتروني وتحل محل جميع الاتفاقات السابقة بينك وبيننا فيما يتعلق باستخدامك لموقعنا الإلكتروني. </li>
                    </ol>
                </li>
                <li><h2 id="-">القانون والاختصاص</h2>
                    <ol>
                        <li>تخضع وتفسر هذه الشروط والأحكام وفقا للقانون المصري.</li>
                        <li>تخضع كل النزاعات حول هذه الشروط والأحكام لحصرية (ولا حصرية المستخدمين من خارج مصر) اختصاص محاكم جمهورية مصر العربية.</li>
                    </ol>
                </li>
                <li><h2 id="-">الإعلان القانوني والتنظيم</h2>
                    <ol>
                        <li>نحن مسجلون في مصر، ورقم التسجيل الخاص بنا هو رقم التسجيل المصري.  57339 بتاريخ 21/12/2013</li>
                    </ol>
                </li>
                <li><h2 id="-">التفاصيل الخاصة بنا</h2>
                    <ol>
                        <li>هذا الموقع مملوك ومدار بواسطة ناقشني المحدودة لتكنولوجيا المعلومات.</li>
                        <li>نحن مسجلون في مصر، ورقم التسجيل الخاص بنا هو رقم التسجيل المصري، ومكتبنا المسجل: 36 شارع مصدق، الدقي، الجيزة 12311، مصر. </li>
                        <li>المقر الرئيسي لدينا هو: 36 شارع مصدق، الدقي، الجيزة 12311، مصر. </li>
                        <li>يمكنك الاتصال بنا عن طريق المكاتبة للعنوان التجاري البريدي المذكور أعلاه، أو باستخدام نموذج التواصل الموجود على موقعنا الإلكتروني، أو عن طريق البريد الإلكتروني: ask@speakol.com . </li>
                    </ol>
                </li>
            </ol>
        </div>

    </div>
</div>
