<div class="create_buttons blc st_l">
    {{ linkTo({"debates/code", "<span></span>"~ t._('cret-debt'), "class": "crt_dbt"}) }}
    {{ linkTo({"comparisons/code", "<span></span>" ~ t._('cret-comprsn'), "class": "crt_cmprsn"}) }}
    {{ linkTo({"arguments/code", "<span></span>" ~ t._('cret-arg'), "class": "crt_argmnt"}) }}
</div>
