<?php //
	$profiles = $debugWidget->getProfiler();
	$profiles = !$profiles? array() : $profiles;

?>
<div id='pdw-panel-db' class='pdw-panel db'>
	<div class='title'>
		<h2>Database Info <a class='pdw-panel-close'>&times;</a></h2>
	</div>
	<div class='panel-content'>
		<h3 class='collapser'>SQL Queries</h3>
		<table class='pdw-data-table'>
			<thead>
				<tr>
					<th>#</th>
					<th>Query</th>
                                        <th>Parameters</th>
                                        <th>Time(s)</th>
				</tr>
			</thead>
			<tbody>
			<?php
				$total = 0;
				foreach ($profiles as $i=>$profile):
					$time = $profile->time;
					$total += $time;
					echo "<tr>";
						echo "<td><strong>".($i+1)."</strong></td>";
						echo "<td><pre><code class='language-sql'>" . $profile->sql_statement . "</code></pre></td>";
						echo "<td width=\"200\"><pre>" . print_r($profile->sql_variables, true) . "</pre></td>";
						echo "<td>" . round($time, 6) . "</td>";
					echo "</tr>";
				endforeach;
			?>
			<tr>
				<td><strong>Total</strong></td>
				<td></td>
				<td></td>
				<td><strong><?php echo round($total, 6); ?></strong></td>
			</tr>
			</tbody>
		</table>

	</div>
</div>
