<?php
$views = $debugWidget->getRenderedViews();
?>
<div id='pdw-panel-views' class='pdw-panel views'>
	<div class='title'>
		<h2>View Info <a class='pdw-panel-close'>&times;</a></h2>
	</div>
	<div class='panel-content'>
            
		<?php 
                $total =0;
                foreach($views as $i=>$rendered): ?>
            <h3 class='collapser <?php echo $i==0 ? '' : 'closed'; ?>'><?php echo pathinfo($rendered['path'], PATHINFO_BASENAME); ?> - <b><?php echo $rendered['time'] ?> s</b></h3>
		<table class='pdw-data-table <?php echo $i==0 ? '' : 'closed'; ?>' <?php echo $i==0 ? '' : 'style="display: none;"'; ?>>
			<tbody>
			<?php
				foreach($rendered as $k=>$v):
					$class = ($k == 'params')? "language-php" : "";
                                        $total = $k == 'time' ? $total = $total + $v : $total;
					echo "<tr>";
						echo "<td width='120'><pre><code class='{$class}'>{$k}</code></pre></td>";
						echo "<td><pre><code class='{$class}'>";
							print_r($v);
						echo "</code></pre></td>";
					echo "</tr>";
				endforeach;
			?>
			</tbody>
		</table>
		<?php endforeach; ?>
                <h3 class='collapser'><b>Total time <?php echo $total; ?></b> </h3>
	</div>
</div>
