<iframe id="speakol-iframe" class="speakol-iframe speakol" src="http://plugins.speakol.com/samples/cbc.html" frameborder="0" scrolling="no" width="700" data-lang="ar" style="width:100%;max-width: 700;"></iframe>
<script type="text/javascript" src="http://plugins.speakol.com/js/sdk.js"></script>
<script type="text/javascript" src="http://plugins.speakol.com/js/closecommunicator.js"></script>
<script>
</script>
